<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<nb-card class="instructions-container m-4">
  <nb-card-body class="px-4 py-5">
    <div class="d-flex">
      <div class="instructions">
        <h4 class="instructions-title">{{ element?.titulo }}</h4>
        <p class="instructions-description">{{ element?.descripcion }}</p>
      </div>
    </div>
    <div class="video-container mt-4">
      <iframe *ngIf="['YouTube'].includes(element?.tamano_peso)" [src]="videoEmbedYoutube | safe"
        title="YouTube video player" frameborder="0" allowfullscreen>
      </iframe>
      <iframe *ngIf="['Vimeo'].includes(element?.tamano_peso)" [src]="videoEmbedVimeo | safe" frameborder="0"
        allowfullscreen></iframe>
      <iframe *ngIf="['FECEBOOK'].includes(element?.tamano_peso)" [src]="videoEmbedFacebook | safe" scrolling="no"
        frameborder="0" allowfullscreen="true"></iframe>
      <iframe *ngIf="['LOOM'].includes(element?.tamano_peso)"
        [src]="videoEmbedLoom | safe" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </nb-card-body>
</nb-card>