<div>
    <form [formGroup]="formHeader">
        <label class="label">Respuesta sugerida:</label>
        <textarea nbInput fullWidth style="height: 145px;" formControlName="respuesta"></textarea>
        <control-messages [control]="formHeader.get('respuesta')"></control-messages>
      </form>
      <div class="d-flex align-items-center justify-content-between">
        <div></div>
        <div>
            <button nbButton size="small" status="primary" (click)="saveQuestion()" [disabled]="formHeader.invalid">Guardar</button>
        </div>
    </div>
</div>