<form [formGroup]="formHeader">
    <div>
        <label class="label">Título</label>
        <input type="text" nbInput fullWidth formControlName="titulo" fieldSize="small">
        <control-messages [control]="formHeader.get('titulo')"></control-messages>
    </div>
    <div>
        <label class="label">Intervención inicial</label>
        <textarea type="text" nbInput fullWidth formControlName="descripcion" fieldSize="small"></textarea>
        <control-messages [control]="formHeader.get('descripcion')"></control-messages>
    </div>
    <div>
        <label class="label">Fecha y hora de inicio</label>
        <div class="d-flex">
          <nb-form-field  class="date-input">
          <input nbInput placeholder="Fecha Inicio" fullWidth [nbDatepicker]="fechaInicio" formControlName="fecha_inicio"/>
          <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
          <nb-datepicker #fechaInicio format="dd/MM/yyyy" [min]="min"></nb-datepicker>
          <control-messages [control]="formHeader.get('fecha_inicio')"></control-messages>
          </nb-form-field>
          <nb-form-field class="hour-input ms-auto">
          <input nbInput placeholder="Hora Inicio" [nbTimepicker]="horaInicio" type="text" formControlName="hora_inicio"/>
          <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
          <nb-timepicker #horaInicio></nb-timepicker>
          </nb-form-field>
        </div>
    </div>
    <div>
        <label class="label">Fecha y hora de fin</label>
        <div class="d-flex">
          <nb-form-field  class="date-input">
          <input nbInput placeholder="Fecha Inicio" fullWidth [nbDatepicker]="fechaFin" formControlName="fecha_fin"/>
          <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
          <nb-datepicker #fechaFin format="dd/MM/yyyy" [min]="formHeader.value.fecha_inicio"></nb-datepicker>
          <control-messages [control]="formHeader.get('fecha_fin')"></control-messages>
          </nb-form-field>
          <nb-form-field class="hour-input ms-auto">
          <input nbInput placeholder="Hora Inicio" [nbTimepicker]="horaFin" type="text" formControlName="hora_fin"/>
          <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
          <nb-timepicker #horaFin></nb-timepicker>
          </nb-form-field>
        </div>
    </div>
    <div>
        <label class="label">Duración en minutos</label>
        <input type="number" nbInput fullWidth formControlName="duracion" fieldSize="small">
        <control-messages [control]="formHeader.get('duracion')"></control-messages>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="label">Tipo fin</label>
            <nb-select fullWidth size="small" formControlName="type_fin_exam">
                <nb-option value="fin">Fecha y hora fin</nb-option>
                <nb-option value="duracion">Duración en minutos</nb-option>
            </nb-select>
            <control-messages [control]="formHeader.get('type_fin_exam')"></control-messages>
        </div>
        <div class="col-md-6">
            <label class="label">Alternativas</label>
            <nb-select fullWidth size="small" formControlName="tipo_num_alternativa">
                <nb-option value="">Ninguno</nb-option>
                <nb-option value="letras">Abecedario (a,b,c,d ...)</nb-option>
                <nb-option value="numero">Números (1,2,3,4 ...)</nb-option>
            </nb-select>
            <control-messages [control]="formHeader.get('tipo_num_alternativa')"></control-messages>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <nb-toggle status="basic" formControlName="mostrar_respuestas">Mostrar respuestas</nb-toggle>
        </div>
        <div class="col-md-4">
            <nb-toggle status="basic" formControlName="mostrar_nota">Mostrar nota</nb-toggle>
        </div>
        <div class="col-md-4">
            <nb-toggle status="basic" formControlName="supervisado" (checkedChange)="valueToogle($event)" [disabled]="item.id_programa_estudio !== 78 ||item.id_programa_estudio !== 20 ">Supervisado</nb-toggle>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="label">Preguntas a mostrar</label>
            <nb-select fullWidth size="small" formControlName="aleatorio" (selectedChange)="changeAleatorio($event)">
                <nb-option value="0">Mostrar en orden</nb-option>
                <nb-option *ngFor="let item of examInfo?.array" [value]="item">{{item}}&nbsp;&nbsp;de&nbsp;&nbsp;{{examInfo?.num_preguntas}}</nb-option>
            </nb-select>
            <control-messages [control]="formHeader.get('aleatorio')"></control-messages>
        </div>
        <div class="col-md-6">
            <label class="label">Tipo de supervisión</label>
            <nb-select fullWidth size="small" formControlName="tipo_supervisado" [disabled]="!formHeader.value.supervisado">
                <nb-option value="0">Sin supervisión</nb-option>
                <nb-option value="PROCTORIZER">Supervisado por proctorizer</nb-option>
            </nb-select>
            <control-messages [control]="formHeader.get('tipo_supervisado')"></control-messages>
        </div>
        <div class="col-md-6">
            <label class="label">Paginado</label>
            <fieldset [disabled]="formHeader.value.aleatorio !== '0'">
                <nb-select fullWidth size="small" formControlName="paginado">
                    <nb-option value="none">No</nb-option>
                    <nb-option value="section">Sección</nb-option>
                    <nb-option value="one">Uno a uno</nb-option>
                </nb-select>
                <control-messages [control]="formHeader.get('paginado')"></control-messages>
            </fieldset>
        </div>
        <div class="col-md-6">
            <label class="label">Intentos</label>
            <nb-select fullWidth size="small" formControlName="intentos">
                <nb-option value="" disabled>Ingrese</nb-option>
                <nb-option *ngFor="let item of listIntentos" [value]="item">{{item}}</nb-option>
            </nb-select>
            <control-messages [control]="formHeader.get('intentos')"></control-messages>
        </div>
    </div>
    <hr>
    <div style="text-align: right;">
        <button nbButton size="small" status="primary" [disabled]="validCampos" (click)="saveInfos('1')">Guardar configuración</button> &nbsp;&nbsp;
        <button nbButton size="small" status="info" (click)="saveInfos('2')">Publicar examen</button>
    </div>
</form>
