// ::ng-deep nb-base-calendar nb-card {
//     width: 235px!important;
// }
::ng-deep nb-calendar-view-mode {
    // visibility: hidden !important;
    // content: variable-exists($name: date);
    pointer-events:none !important;
    cursor: not-allowed !important;
}
::ng-deep nb-calendar-view-mode button nb-icon{
    visibility: hidden !important;
}
// .selec {
//     background: var(--color-primary-500);
//     color: white;
//     cursor: pointer;
// }
// .selecHover
// :hover {
//     background: var(--color-primary-500);
//     color: white;
//     cursor: pointer;
// }
nb-card.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }