<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-note-works [item] = "items" [code]="code"></app-note-works>
  </nb-card-body>
  <nb-card-footer>
    <span style="font-size: 13px; margin-right: 10px"><strong>FC: </strong><small>Falta calificar</small></span>
    <span style="font-size: 13px">
      <strong>NP: </strong><small>No presento</small>
    </span>
  </nb-card-footer>
</nb-card>
