<nb-card class="m-0 border-0 h-100" style="border-radius: 15px; overflow: hidden;">
  <nb-card-body class="p-0">
    <div class="row h-100 m-0">
      <div *ngIf="!collapseLeft" class="col-md-3 p-0">
        <app-perfil></app-perfil>
      </div>
      <!-- [ngStyle]="{'border-color': item.checked === true ? 'brown' : ''}" -->
      <div class="col-md-9 p-0 d-flex flex-column" style="background-color: #EEEEEE;">
        <div *ngIf="!collapseTop" class="anuncios" [ngStyle]="{'height': collapseLeft ? '380px' : '300px'}">
        </div>
        <nb-card class="curso-container" [ngStyle]="{'margin-top': collapseTop ? '0' : '-10px'}">
          <nb-card-body style="background-color: #F7F7F7; position: relative;" class="p-0">
            <span class="tweak-button left" (click)="tweakCollapseLeft()">
              <span>&#9830;</span>
              <span>&#9830;</span>
              <span>&#9830;</span>
            </span>
            <span class="tweak-button top" (click)="tweakCollapseTop()">
              <nb-icon *ngIf="!collapseTop" icon="arrow-ios-upward"></nb-icon>
              <nb-icon *ngIf="collapseTop" icon="arrow-ios-downward"></nb-icon>
            </span>
            <div>
              <app-card-list-course></app-card-list-course>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
