<nb-card class="m-0 border-0 h-100"
         style="border-radius: 15px; overflow: hidden"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="small"
         *ngIf="['Admin'].includes(this.rolSemestre?.rol?.name)">
  <nb-card-header>
        <div class="d-flex">
          <nb-icon icon="book-open-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
          <strong style="padding-top: 7px;">DASHBOARD</strong>
        </div>
  </nb-card-header>

  <nb-card-body>
        <nb-card>
          <nb-card-header>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div></div>
              <div class="row" [formGroup]="formDashboard">
                <div class="col-auto">
                  <nb-select fullWidth size="small" status="primary" placeholder="Selecciona" formControlName="sede" shape="round">
                    <nb-option *ngFor="let sede of sedes" [value]="sede" (click)="selectedSede(sede)">{{ sede?.nombre }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-auto">
                  <nb-select fullWidth size="small" status="primary" placeholder="Selecciona" formControlName="nivel_ensenanza" shape="round">
                    <nb-option *ngFor="let nivel of nivelEnsenanza" [value]="nivel" (click)="selectedNivel(nivel)">{{ nivel?.nombre }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-auto">
                  <nb-select fullWidth size="small" status="primary" placeholder="Selecciona" formControlName="facultades_unidades" shape="round">
                    <nb-option *ngFor="let item of facultades" [value]="item" (click)="selecFacultades(item)">{{ item?.nombre }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-auto">
                  <nb-select fullWidth size="small" status="primary" placeholder="Selecciona" formControlName="semester" shape="round">
                    <nb-option *ngFor="let sem of semestres" [value]="sem?.id">{{ sem?.nombre }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-auto">
                  <button [disabled]="!formDashboard?.value?.facultades_unidades" nbButton status="warning" size="small" (click)="getCursosProgramaDashboard()" shape="round">Filtrar</button>
                </div>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body *ngIf="activeCardBody && formDashboard?.value?.facultades_unidades">
            <app-ng2-charts-component [data] = "cursoPrograma" [type] = "'DASH'"></app-ng2-charts-component>
          </nb-card-body>
        </nb-card>
  </nb-card-body>

</nb-card>



<nb-card *ngIf="['Docente', 'Estudiante'].includes(this.rolSemestre?.rol?.name)"
  class="m-0 border-0 h-100"
  style="border-radius: 15px; overflow: hidden"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="small"
>
  <nb-card-body class="p-0">
    <div class="main-container">
      <div *ngIf="collapseLeft" class="perfil">
        <!-- [ngStyle]="perfilInfo ? { 'min-width': '361px', width: '361px' } : { 'min-width': '361px', width: '361px' }" -->
        <app-perfil [profile]="profile"
                    [doughnutChartData] = "doughnutChartData"
                    [doughnutChartLabels]="doughnutChartLabels"
                    [doughnutChartType] ="doughnutChartType"
                    [doughnutChartOptions] = "doughnutChartOptions"></app-perfil>
      </div>
      <div class="cursos" style="background-color: #eeeeee">
        <div *ngIf="collapseTop" class="anuncios" [ngStyle]="{ height: !collapseLeft ? '380px' : '300px' }">
          <ngb-carousel
            #carousel
            [interval]="10000"
            [pauseOnHover]="pauseOnHover"
            [pauseOnFocus]="pauseOnFocus"
            (slide)="onSlide($event)"
            style="height: 100%"
          >
            <!-- style="width: 100%; height: 100%" -->
            <ng-template ngbSlide *ngFor="let img of newsList; index as i">
              <div class="picsum-img-wrapper button-container">
                <img [src]="img?.imagen_url" [alt]="img?.titulo" style="width: 100%; height: 100%; object-fit: cover" />
                <a
                  *ngIf="img?.mostrar_boton"
                  nbButton
                  status="warning"
                  shape="round"
                  [href]="img?.url"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                  >{{ img?.nombre_boton }}
                </a>
              </div>
            </ng-template>
          </ngb-carousel>
          <hr />
        </div>
        <nb-card class="curso-container" [ngStyle]="{ 'margin-top': !collapseTop ? '0' : '-10px' }">
          <nb-card-body style="background-color: #f7f7f7; position: relative" class="p-0">
            <span class="tweak-button left" (click)="tweakCollapse('left')">
              <span>&#9830;</span>
              <span>&#9830;</span>
              <span>&#9830;</span>
            </span>
            <span class="tweak-button top" (click)="tweakCollapse('top')">
              <nb-icon *ngIf="collapseTop" icon="arrow-ios-upward"></nb-icon>
              <nb-icon *ngIf="!collapseTop" icon="arrow-ios-downward"></nb-icon>
            </span>
            <div *ngIf="!collapseTop" class="me-5" style="min-height: 90px">
              <ngb-carousel
                #carousel
                [showNavigationArrows]="false"
                [showNavigationIndicators]="false"
                [interval]="10000"
                [pauseOnHover]="pauseOnHover"
                [pauseOnFocus]="pauseOnFocus"
                (slide)="onSlide($event)"
                style="width: 100%; height: 100%"
              >
                <ng-template ngbSlide *ngFor="let img of newsList; index as i">
                  <div class="d-flex align-items-center justify-content-between px-5 py-3">
                    <div>
                      <h5 style="font-size: 14px" class="fw-bold mb-0">{{ img?.titulo }}</h5>
                      <span style="font-size: 11px" class="text-secondary new-content">{{ img?.contenido }}</span>
                    </div>
                    <a *ngIf="img?.mostrar_boton" nbButton status="warning" outline size="small" [href]="img?.url" target="_blank">
                      {{ img?.nombre_boton }}
                    </a>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
            <hr class="mt-0" />
            <div class="card-list">
              <!--Lista de cursos-->
              <app-card-list-course *ngIf="!perfilInfo"></app-card-list-course>
              <!--Fin de Lista de cursos-->

              <!--
              <div  class="row p-3 m-0" style="width: 100%">
                <div class="col-md-6">
                  <nb-card status="primary" class="mb-0">
                    <nb-card-header style="padding-top: 5px; padding-bottom: 5px">
                      Información Principal del Usuario
                    </nb-card-header>
                    <nb-card-body>
                      <form [formGroup]="formHeader">
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Código:</label>
                          <div class="col-md-9">
                            <input
                              type="number"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="codigo"
                              placeholder="Código"
                              readonly
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Nombres:</label>
                          <div class="col-md-9">
                            <input
                              type="text"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="nombre"
                              readonly
                              placeholder="Nombres"
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Apellido Paterno:</label>
                          <div class="col-md-9">
                            <input
                              type="text"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="apellido_paterno"
                              placeholder="Apellido Paterno"
                              readonly
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Apellido Materno:</label>
                          <div class="col-md-9">
                            <input
                              type="text"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="apellido_materno"
                              placeholder="Apellido Materno"
                              readonly
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">DNI:</label>
                          <div class="col-md-9">
                            <input type="number" nbInput fullWidth fieldSize="small" formControlName="dni" readonly placeholder="DNI" />
                          </div>
                        </div>
                        <br />
                        <hr />
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Correo Institucional:</label>
                          <div class="col-md-9">
                            <input
                              type="email"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="correo"
                              status="primary"
                              placeholder="Correo Institucional"
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Genero:</label>
                          <div class="col-md-9">
                            <nb-select
                              placeholder="Seleccione una opción"
                              selected="0"
                              fullWidth
                              size="small"
                              status="primary"
                              formControlName="genero"
                            >
                              <nb-option *ngFor="let item of generoArray" [value]="item">{{ item }}</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Nacionalidad:</label>
                          <div class="col-md-9">
                            <input
                              type="email"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="nacionalidad"
                              status="primary"
                              placeholder="Ej: Perú"
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Ubigeo:</label>
                          <div class="col-md-9">
                            <input
                              type="number"
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="ubigeo"
                              status="primary"
                              placeholder="Ubigeo"
                            />
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Estado Civil:</label>
                          <div class="col-md-9">
                            <nb-select
                              placeholder="Seleccione una opción"
                              selected="0"
                              fullWidth
                              size="small"
                              status="primary"
                              formControlName="estado_civil"
                            >
                              <nb-option *ngFor="let item of estadoCivilArray" [value]="item">{{ item }}</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Religion:</label>
                          <div class="col-md-9">
                            <nb-select
                              placeholder="Seleccione una opción"
                              selected="0"
                              fullWidth
                              size="small"
                              status="primary"
                              formControlName="religion"
                            >
                              <nb-option *ngFor="let item of religionArray" [value]="item">{{ item }}</nb-option>
                            </nb-select>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Fecha de Nacimiento:</label>
                          <div class="col-md-9">
                            <nb-form-field>
                              <input
                                nbInput
                                placeholder="Fecha de Nacimiento"
                                fullWidth
                                [nbDatepicker]="fechaNacimiento"
                                fieldSize="small"
                                status="primary"
                                formControlName="fecha_nacimiento"
                              />
                              <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
                              <nb-datepicker #fechaNacimiento format="dd/MM/yyyy"> </nb-datepicker>
                            </nb-form-field>
                          </div>
                        </div>
                        <br />
                      </form>
                    </nb-card-body>
                    <nb-card-footer style="text-align: right">
                      <button class="me-2" nbButton size="small" status="primary" (click)="saveInfo()">Guardar</button>
                      <button nbButton size="small" status="primary" (click)="syncLamb()">Sincronizar</button>
                    </nb-card-footer>
                  </nb-card>
                </div>
                <div class="col-md-6">
                  <nb-card status="primary" class="mb-0">
                    <nb-card-header style="padding-top: 5px; padding-bottom: 5px"> Informacion Adicional </nb-card-header>
                    <nb-card-body>
                      <form [formGroup]="formHeader">
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-start">Presentacion:</label>
                          <div class="col-md-9">
                            <textarea
                              nbInput
                              fullWidth
                              fieldSize="small"
                              formControlName="presentacion"
                              rows="5"
                              status="primary"
                              placeholder="Mi presentacion"
                            >
                            </textarea>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <label class="label col-md-3 d-flex align-items-center">Foto:</label>
                          <div class="col-md-9">
                            <input type="text" nbInput fullWidth fieldSize="small" formControlName="foto" readonly placeholder="Mi foto" />
                          </div>
                        </div>
                        <br />
                        <app-image-recorte
                          [paramsInfoFile]="{
                            key_file: key_file,
                            directory: directorio,
                            type: 'put'
                          }"
                          (resultFile)="fileResult($event)"
                          [aspectRatio]="1 / 1"
                        ></app-image-recorte>
                        <div class="text-end">
                          <button nbButton size="small" status="primary" (click)="saveInfo()">Guardar Informacion</button>
                        </div>
                      </form>
                      <div class="row m-0">
                        <label class="label">Familia</label>
                        <nb-card class="p-0 m-2">
                          <nb-card-body class="p-3">
                            <div class="row">
                              <div class="col-md-6 d-flex align-items-center">
                                <div class="img-container" style="width: 48px; height: 48px; border-radius: 50%; overflow: hidden">
                                  <img
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                    alt=""
                                    style="width: 100%"
                                  />
                                </div>
                                <div class="nombres ms-3">
                                  <p class="m-0 fw-bold">Nombres y Apellidos</p>
                                  <span class="text-secondary">Relacion</span>
                                </div>
                              </div>
                              <div class="col-md-6 d-flex align-items-center justify-content-end">
                                <div class="d-flex gap-2">
                                  <button nbButton size="small" status="primary" outline>Mensaje</button>
                                  <button nbButton size="small" status="primary" outline>Perfil</button>
                                </div>
                              </div>
                            </div>
                          </nb-card-body>
                        </nb-card>
                        <nb-card class="p-0 m-2">
                          <nb-card-body class="p-3">
                            <div class="row">
                              <div class="col-md-6 d-flex align-items-center">
                                <div class="img-container" style="width: 48px; height: 48px; border-radius: 50%; overflow: hidden">
                                  <img
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                    alt=""
                                    style="width: 100%"
                                  />
                                </div>
                                <div class="nombres ms-3">
                                  <p class="m-0 fw-bold">Nombres y Apellidos</p>
                                  <span class="text-secondary">Relacion</span>
                                </div>
                              </div>
                              <div class="col-md-6 d-flex align-items-center justify-content-end">
                                <div class="d-flex gap-2">
                                  <button nbButton size="small" status="primary" outline>Mensaje</button>
                                  <button nbButton size="small" status="primary" outline>Perfil</button>
                                </div>
                              </div>
                            </div>
                          </nb-card-body>
                        </nb-card>
                      </div>
                      <div class="row m-0">
                        <label class="label">Grupos</label>
                        <nb-card class="mx-2 mt-2 p-0">
                          <nb-card-body class="p-3">
                            <div class="row">
                              <div class="col-md-8 d-flex align-items-center">
                                <div class="nombres ms-3">
                                  <p class="m-0 fw-bold">Nombre del Curso</p>
                                  <span class="text-secondary">Nombre del Grupo</span><br />
                                  <span class="text-secondary">Nombre del trabajo - Fecha de entrega</span>
                                </div>
                              </div>
                              <div class="col-md-4 d-flex align-items-center justify-content-end">
                                <div class="d-flex gap-2">
                                  <button nbButton size="small" status="primary" outline>Ver Grupo</button>
                                  <button
                                    nbButton
                                    size="small"
                                    status="primary"
                                    outline
                                    nbPopoverPlacement="bottom"
                                    [nbPopover]="integrantesRef"
                                  >
                                    Ver Grupos
                                  </button>
                                </div>
                              </div>
                            </div>
                          </nb-card-body>
                        </nb-card>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="text-end">
                  <button nbButton size="small" status="danger" (click)="backToProfile()">Cerrar</button>
                </div>
              </div>-->
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #integrantesRef>
  <nb-card>
    <nb-card-header> Integrantes </nb-card-header>
    <nb-card-body>
      <div class="d-flex align-items-center mb-2">
        <div class="img-container" style="width: 48px; height: 48px; border-radius: 50%; overflow: hidden">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" style="width: 100%" />
        </div>
        <div class="nombres ms-3">
          <p class="m-0 fw-bold">Nombres del Estudiante</p>
          <span class="text-secondary">Código</span>
        </div>
      </div>
      <div class="d-flex align-items-center mb-2">
        <div class="img-container" style="width: 48px; height: 48px; border-radius: 50%; overflow: hidden">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" style="width: 100%" />
        </div>
        <div class="nombres ms-3">
          <p class="m-0 fw-bold">Nombres del Estudiante</p>
          <span class="text-secondary">Código</span>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
