<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'NEW' ? 'NUEVO ENCUENTRO' : 'EDITAR ENCUENTRO'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="fromEncuentros">
          <div class="row" *ngIf="code === 'NEW'">
            <div class="col">
              <div class="form-group">
                <label class="label">Equipo local (código):</label>
                <input type="text" placeholder="Ingrese el código de la tabla de posciciones" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="upeuequipo_id">
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label class="label">Equipo visitante (código):</label>
                <input type="text" placeholder="Ingrese el código de la tabla de posciciones" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="upeurival_id">
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="code === 'NEW'">
            <label class="label col-md-3">Fecha y hora</label>
            <div class="col-md-4">
              <nb-form-field>
                <input type="text" nbInput placeholder="Fecha" fullWidth
                       [nbDatepicker]="fecha" fieldSize="small" formControlName="fecha"/>
                <nb-icon nbSuffix icon="calendar" status="primary" size="tiny"
                         pack="eva"></nb-icon>
                <nb-datepicker #fecha format="dd/MM/yyyy">
                </nb-datepicker>
              </nb-form-field>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <nb-form-field>
                <input type="text" nbInput placeholder="Hora" fullWidth
                       [nbTimepicker]="hora" fieldSize="small" formControlName="hora"/>
                <nb-icon nbSuffix icon="calendar" status="primary" size="tiny"
                         pack="eva"></nb-icon>
                <nb-timepicker #hora></nb-timepicker>
              </nb-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Lugar</label>
            <div class="col-md-9 mb-2 mb-md-0">
              <nb-form-field>
                <input type="text" nbInput placeholder="Lugar" fullWidth fieldSize="tiny" formControlName="lugar"/>
              </nb-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Etapa</label>
            <div class="col-md-9 mb-2 mb-md-0">
              <nb-form-field>
                <input type="text" nbInput placeholder="grupos,cuartos,finales" fullWidth fieldSize="tiny"
                       formControlName="etapa"/>
              </nb-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col" [ngStyle]="{'background':item.local_color}" >
              <h5 style="font-size: 12px;">Local {{item.local}} {{item.local_name}}</h5>
              <div class="form-group">
                <label class="label">Marcador</label>
                <input type="text" placeholder="Ingrese el marcador" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="score_equipo">
              </div>
              <div class="form-group">
                <label class="label">Tarjeta Roja</label>
                <input type="text" placeholder="T rojas" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="e_rojas">
              </div>
              <div class="form-group">
                <label class="label">Tarjeta Amarilla</label>
                <input type="text" placeholder="T Amarilla" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="e_amarillas">
              </div>
              <div class="form-group">
                <label class="label">Numero de Faltas</label>
                <input type="text" placeholder="Ingrese total de faltas" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="e_faltas">
              </div>
            </div>
            <div class="col"[ngStyle]="{'background':item.rival_color}" >
              <h5 style="font-size: 12px;">Visitante {{item.visitante}} {{item.rival_name}}</h5><div class="form-group">
              <div class="form-group">
                <label class="label">Marcador</label>
                <input type="text" placeholder="Ingrese el marcador" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="score_rival">
              </div>
              <div class="form-group">
                <label class="label">Tarjeta Roja</label>
                <input type="text" placeholder="T rojas" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="r_rojas">
              </div>
              <div class="form-group">
                <label class="label">Tarjeta Amarilla</label>
                <input type="text" placeholder="T Amarilla" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="r_amarillas">
              </div>
              <div class="form-group">
                <label class="label">Numero de Faltas</label>
                <input type="text" placeholder="Ingrese total de faltas" nbInput fieldSize="tiny"
                       fullWidth
                       formControlName="r_faltas">
              </div>
            </div>
          </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Estado del encuentro</label>
            <div class="col-md-9 mb-2 mb-md-0">
              <button *ngIf="code !== 'NEW'"
                      type="button"
                      class="ms-2"
                      nbButton
                      size="small"
                      status="success"
                      (click)="save('encurso')"
                      [disabled]="fromEncuentros.invalid">
                En curso
              </button>
              <button *ngIf="code !== 'NEW'"
                      type="button"
                      class="ms-2 "
                      nbButton
                      size="small"
                      status="danger"
                      (click)="save('finalizado')"
                      [disabled]="fromEncuentros.invalid">
                Finalizar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button *ngIf="code === 'NEW'"
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="save('pendiente')"
      [disabled]="fromEncuentros.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
