<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'NEW' ? 'NUEVO ENCUENTRO' : 'EDITAR ENCUENTRO'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="fromEncuentros">

          <div class="row">
            <label class="label col-md-3">Equipo local (codigo único):</label>
            <div class="col-md-9">
              <input type="text" placeholder="Cambiar por select" nbInput fieldSize="small" fullWidth
                     formControlName="upeuequipo_id">
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Equipo visitante (codigo único):</label>
            <div class="col-md-9">
              <input type="text" placeholder="Ingrese nombre" nbInput fieldSize="small" fullWidth
                     formControlName="upeurival_id">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label class="label">Fecha</label>
              <nb-form-field>
                <input type="text" nbInput placeholder="Fecha" fullWidth
                       [nbDatepicker]="fecha" fieldSize="small" formControlName="fecha"/>
                <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                         pack="eva"></nb-icon>
                <nb-datepicker #fecha format="dd/MM/yyyy">
                </nb-datepicker>
              </nb-form-field>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <label class="label">HORA</label>
              <nb-form-field>
                <input type="text" nbInput placeholder="Hora" fullWidth
                       [nbTimepicker]="hora" fieldSize="small" formControlName="hora"/>
                <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                         pack="eva"></nb-icon>
                <nb-timepicker #hora></nb-timepicker>
              </nb-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Lugar</label>
            <div class="col-md-9 mb-2 mb-md-0">
              <nb-form-field>
                <input type="text" nbInput placeholder="Lugar" fullWidth="small" formControlName="lugar"/>
              </nb-form-field>
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Etapa</label>
            <div class="col-md-9 mb-2 mb-md-0">
              <nb-form-field>
                <input type="text" nbInput placeholder="grupos,cuartos,finales" fullWidth="small" formControlName="etapa"/>
              </nb-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="save()"
      [disabled]="fromEncuentros.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
