<!-- <nb-card status="primary" class="m-0 border-0 h-100" style="border-radius: 15px; overflow: hidden;">
  <nb-card-header class="d-flex flex-column justify-content-center align-items-start h-100">
    <h1 class="display-1 fw-bold">404</h1>
    <h2>Perdido en el campus?</h2>
    <p>
      Es posible que haya escrito mal la direccion o que la pagina se haya
      movido.
    </p>
    <button nbButton (click)="navigateToHome()">Ir al Inicio</button>
  </nb-card-header>
</nb-card> -->
<nb-card class="m-0 h-100 border-0">
  <body>
    

    
    <div class="text-center">
      <strong style="font-size: 80px" >404</strong>
    </div>
    <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
    <p class="title">Lo sentimos</p><br>
    <p class="subtitle">
      No se encontro la url
    </p>
    <div align="center">
      <button nbButton (click)="navigateToHome()" status="warning">Ir al Inicio</button>
    </div>
    <img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
    <img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
    <!-- <div class="mars"></div> -->
  </body>
</nb-card>