<nb-card status="primary" class="m-0 border-0 h-100" style="border-radius: 15px; overflow: hidden;">
  <nb-card-header class="d-flex flex-column justify-content-center align-items-start h-100">
    <h1 class="display-1 fw-bold">404</h1>
    <h2>Perdido en el campus?</h2>
    <p>
      Es posible que haya escrito mal la direccion o que la pagina se haya
      movido.
    </p>
    <button nbButton (click)="navigateToHome()">Ir al Inicio</button>
    <!-- <a href="pages/dashboard">Ir al Inicio</a> -->
  </nb-card-header>
</nb-card>