<nb-card class="h-100 border-0" style="border-radius: 15px;">
  <nb-card-body>
    <div class="p-4">
      <div class="d-flex align-items-center mb-4">
        <div class="ms-2">
          <div class="d-flex align-items-center">
            <nb-icon style="width: 52px; height: 48px; color: #E89A00" icon="edit-2-outline"></nb-icon>
            <p class="d-flex flex-column mb-0">
              <span class="mb-1" style="font-size: 24px; font-weight: bold">Mis Actividades</span>
              <span style="font-size: 12px">2021-1 INGENIERÍA DE SISTEMAS</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-v-doc-relation></app-v-doc-relation>
      </div>
    </div>
  </nb-card-body>
</nb-card>