<nb-card class="m-0 h-100 border-0" style="border-radius: 15px" [nbSpinner]="loading" nbSpinnerStatus="primary"
         nbSpinnerSize="small">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="plus-outline" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px">CREAR CAMPAÑA</strong>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-7">
        <nb-card status="primary">
          <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
            INFORMACIÓN
          </nb-card-header>
          <div class="card-body">
            <form [formGroup]="formHeader2">
              <div class="row">
                <label class="label col-md-3">Tipo:</label>
                <div class="col-md-9">
                  <nb-select  placeholder="Seleccione" fullWidth fieldSize="small" formControlName="tipoCE"
                              >
                    <nb-option value="tutoria">Campaña</nb-option>
                    <nb-option value="election">Elecciones</nb-option>
                  </nb-select>
                  <control-messages [control]="formHeader2.get('tipo_filtro')"></control-messages>
                </div>
              </div>
              <br>
              <div class="row">
                <label class="label col-md-3">Título:</label>
                <div class="col-md-9">
                  <input type="text" maxlength="100" placeholder="Ingrese título" nbInput fullWidth fieldSize="small" formControlName="titulo"
                  >
                </div>
              </div>
              <br>
              <div class="row">
                <label class="label col-md-3">Tipo público:</label>
                <div class="col-md-9">
                  <nb-select  placeholder="Seleccione" fullWidth fieldSize="small" formControlName="tipo_filtro"
                              (selectedChange)="changeType($event)">
                    <nb-option value="area">Área</nb-option>
                    <nb-option value="edad">Edad</nb-option>
                  </nb-select>
                  <control-messages [control]="formHeader2.get('tipo_filtro')"></control-messages>
                </div>
              </div>
              <br>
              <div class="row">
                <label class="label col-md-3">Opciones:</label>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-6">
                      <nb-toggle formControlName="publicar">Publicar</nb-toggle>
                      <control-messages></control-messages>
                    </div>
                    <div class="col-md-6" *ngIf="formHeader2.value.tipo_filtro === 'area'">
                      <nb-toggle formControlName="todos" (checkedChange)="changeTodos($event)">Todos</nb-toggle>
                      <control-messages [control]="formHeader2.get('todos')"></control-messages>
                    </div>
                  </div>
                </div>
              </div>
              <br *ngIf="formHeader2.value.tipo_filtro === 'area' && !formHeader2.value.todos">
              <div class="row" *ngIf="formHeader2.value.tipo_filtro === 'area' && !formHeader2.value.todos ">
                <label class="label col-md-3">Área:</label>
                <div class="col-md-9">
                  <ngx-dropdown-treeview [config]="config" [items]="emploreAreas" [buttonClass]="buttonClass"
                                         (selectedChange)="onSelectedChange($event)">
                  </ngx-dropdown-treeview>

                  <control-messages [control]="formHeader2.get('area')"></control-messages>
                </div>
              </div>
              <br  *ngIf="formHeader2.value.tipo_filtro === 'edad'">
              <div class="row"  *ngIf="formHeader2.value.tipo_filtro === 'edad'">
                <label class="label col-md-3">Edad rángo:</label>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="number" placeholder="Desde" nbInput fullWidth fieldSize="small"
                             formControlName="edad_desde">
                    </div>
                    <div class="col-md-6">
                      <input type="number" placeholder="Hasta" nbInput fullWidth fieldSize="small"
                             formControlName="edad_hasta">
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <label class="label col-md-3">Fechas:</label>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-6">
                      <nb-form-field>
                        <input type="text" nbInput placeholder="Fecha Inicio" fullWidth
                               [nbDatepicker]="fechaInicio" fieldSize="small" formControlName="fecha_inicio"/>
                        <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                 pack="eva"></nb-icon>
                        <nb-datepicker #fechaInicio format="dd/MM/yyyy" [min]="min">
                        </nb-datepicker>
                        <control-messages [control]="formHeader2.get('fecha_inicio')">
                        </control-messages>
                      </nb-form-field>
                    </div>
                    <div class="col-md-6">
                      <fieldset [disabled]="!formHeader2.value.fecha_inicio">
                        <nb-form-field>
                          <input type="text" nbInput placeholder="Fecha fin" fullWidth
                                 [nbDatepicker]="fechaFin" fieldSize="small" formControlName="fecha_fin"/>
                          <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                   pack="eva"></nb-icon>
                          <nb-datepicker #fechaFin format="dd/MM/yyyy" [min]="formHeader2.value.fecha_inicio">
                          </nb-datepicker>
                          <control-messages [control]="formHeader2.get('fecha_fin')">
                          </control-messages>
                        </nb-form-field>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <label class="label col-md-3">Contenido:</label>
                <div class="col-md-9">
                                   <!-- <textarea  type="text" placeholder="Ingrese contenido" nbInput fullWidth fieldSize="small"
                                    ></textarea>-->

                </div>
                <ckeditor [editor]="Editor" formControlName="contenido"></ckeditor>

              </div>
            </form>
          </div>
        </nb-card>
      </div>
      <div class="col-md-5" *ngIf="formHeader2.get('tipoCE').value === 'tutoria'">
        <nb-card status="primary">
          <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
            PREPARAR VIDEO
          </nb-card-header>
          <nb-card-body>
            <form [formGroup]="formHeader">
              <div>
                <label class="label">Url del vídeo (Presione el botón, después de añadir el link)</label>
                <nb-form-field>
                  <input class="w-100" type="text" nbInput fullWidth placeholder="Ingresa una url" (keyup)="valueLink()" formControlName="url_externa"/>
                  <button nbSuffix nbButton status="primary" size="small" [disabled]="!formHeader.value.url_externa" (click)="procesar()">
                    <nb-icon  icon="link-2-outline"  pack="eva"></nb-icon></button>

                </nb-form-field>
                <control-messages [control]="formHeader.get('url_externa')"></control-messages>
              </div>
              <div>
                <label class="label">Orígen</label>
                <div class="d-flex text-center">
                  <div *ngFor="let item of listIcons" >
                    <!-- <button nbButton  [ghost]="item.checked === false ? true : false" -->
                    <button nbButton  [ghost]="item.checked === false ? true : false" [disabled]="disable"
                            [ngStyle]="{'border-color': item.checked === true ? 'brown' : ''}"
                            size="small" (click)="valueButtom(item)">
                      <img [src]="item.link" height="20px" alt="">&nbsp;{{item.name}}
                    </button>&nbsp;
                  </div>
                </div>
                <control-messages [control]="formHeader.get('tamano_peso')"></control-messages>
              </div>
              <div>
                <label class="label">Título</label>
                <input class="w-100" type="text" nbInput fullWidth placeholder="Ingresa un título" formControlName="titulo"/>
                <control-messages [control]="formHeader.get('titulo')"></control-messages>
              </div>
              <div style="padding-top: 4px;">
                <label class="label">Descripción</label>
                <textarea class="w-100" type="text" nbInput fullWidth placeholder="Ingresa una descripción" formControlName="descripcion"></textarea>
                <control-messages [control]="formHeader.get('descripcion')"></control-messages>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer style="text-align: right">
    <button nbButton size="small" status="info" (click)="back()">Salir</button>&nbsp;&nbsp;
    <button nbButton size="small" status="primary" (click)="newPoll()">Guardar</button>
  </nb-card-footer>
</nb-card>
