<div
  class="card-body"
  style="padding-top: 0px; margin-top: 0px;"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage="Procesando información"
>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex" style="align-items: center;">
        <nb-icon style="width: 30px; height: 30px" icon="book-open-outline" status="primary"></nb-icon>
        <span style="font-size: 20px; font-weight: bold">{{ 'MIS CURSOS' | translate }}</span>
    </div>
    <div>
      <nb-icon
        [status]="form.value.tipo === '1' ? 'warning' : 'basic'"
        style="cursor: pointer; font-size: 24px"
        icon="list-outline"
        (click)="cambioTypo('1')"
        class="me-1"
      ></nb-icon>
      <nb-icon
        [status]="form.value.tipo === '2' ? 'warning' : 'basic'"
        style="cursor: pointer; font-size: 24px"
        icon="grid-outline"
        (click)="cambioTypo('2')"
      ></nb-icon>
      <nb-icon
        [status]="'success'"
        nbTooltipStatus="success"
        nbTooltip="Sincronizar cursos"
        style="cursor: pointer; font-size: 24px"
        icon="refresh-outline"
        (click)="reloadList()"
      ></nb-icon>
    </div>
  </div>
  <!-- Cursos tipo lista
  <div *ngIf="form.value.tipo == '1'">
    <div *ngFor="let nivelRol of mysCursos">
      <nb-icon icon="person-outline" status="success"></nb-icon>&nbsp;<strong style="text-transform: uppercase;"> Cursos {{nivelRol.nivel_cursos}}</strong><hr>
      <div style="margin-left: 15px; margin-right: 15px;">
        <nb-card *ngFor="let curso of nivelRol.cursos; let i = index" (click)="navigate(curso)" style="margin-bottom: 5px; border-radius: 1rem;" class="animations">
          <div class="row" style="align-items: center;">
            <div class="col-md-1">
              <div class="contenedor">
                <img src="assets/books.jpg" style="border-bottom-left-radius: 1rem; border-top-left-radius: 1rem;" class="card-img-top" width="100%" height="80px" />
                <div style="position: absolute; right: 0px; top: 5px;"><span class="badge bg-warning" style="text-transform: uppercase; font-size: 8px;">{{curso?.course_type}}</span></div>
              </div>
            </div>
            <div class="col-md-6">
                <strong class="names mb-0">{{ curso.nombre }}</strong>
                <p class="teachers mb-0">{{ curso.persons_teacher_nombre }}</p>
                <p class="descriptions mb-0">Ciclo - {{ curso.ciclo }} - {{ curso.programa_estudio_nombre }}</p>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center justify-content-between" style="padding-left: 9px; padding-right: 9px;">
                <span nbTooltip="Participantes" nbTooltipStatus="warning" class="text-center">
                  <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="people-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.matriculados}}</label>
                </span>&nbsp;&nbsp;
                <span *ngFor="let tot of curso?.resumen?.totales" [nbTooltip]="tot?.nombre" nbTooltipStatus="warning" class="text-center">
                  <nb-icon style="font-size: 14px;" class="label" [icon]="tot?.icono"></nb-icon><br><label class="label" style="font-size: 12px;">{{tot?.total}}</label>
                  </span>&nbsp;&nbsp;
                <span nbTooltip="Total realizado / Total pendíentes" nbTooltipStatus="warning" class="text-center">
                <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="globe-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.resumen?.total_pendientes}}</label>
                </span>
              </div>
              <div style="margin-top: 5px;">
                <nb-progress-bar  [value]="curso?.resumen?.avance" [status]="status(curso?.resumen?.avance)"></nb-progress-bar>
              </div>
            </div>

            <div class="col-md-1">
              <div class="element-img d-md-block d-none">
                <img src="assets/play-list.png" width="100%" height="100%" />
              </div>
            </div>
          </div>
        </nb-card>
    </div>
    </div>
  </div>-->
  <!-- Cursos tipo lista -->
  <div class="px-3" *ngIf="form.value.tipo == '1'">
    <div  *ngFor="let nivelRol of mysCursos">
      <nb-icon icon="person-outline" status="success"></nb-icon>&nbsp;<strong style="text-transform: uppercase;"> Cursos {{nivelRol.nivel_cursos}}</strong><hr>
      <nb-card class="card-list mb-2 animations" *ngFor="let curso of nivelRol.cursos; let i = index" (click)="navigate(curso)">
        <div class="main-container">
          <div class="img-container">
            <img [src]="curso.imageFront" width="100%" height="100%" />
            <div style="position: absolute; right: 0px; top: 5px;"><span class="badge bg-warning" style="text-transform: uppercase; font-size: 8px;">{{curso?.course_type}}</span></div>
          </div>
          <div class="content-container">
            <div class="course-info">
              <h6 class="names mb-0"> {{ curso.nombre }}</h6>
              <div class="text-course">
                <span class="teachers mb-0"> {{ curso.persons_teacher_nombre }}</span><br>
                <span class="descriptions mb-0">Ciclo - {{ curso.ciclo }} - {{ curso.programa_estudio_nombre }}</span><br>
                <span class="descriptions mb-0"> Grupo - {{ curso.grupo }} / {{curso.sede}}</span><br>
              </div>
            </div>
            <div class="progress-icon">
              <div class="progress-bar-container">
                <nb-progress-bar size="tiny" [value]="curso?.resumen?.avance" [status]="status(curso?.resumen?.avance)"></nb-progress-bar>
              </div>
              <div class="icons-container align-items-center">
                <span nbTooltip="Participantes" nbTooltipStatus="warning" class="text-center icon">
                  <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="people-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.matriculados}}</label>
                </span>&nbsp;&nbsp;
                <span *ngFor="let tot of curso?.resumen?.totales" [nbTooltip]="tot?.nombre" nbTooltipStatus="warning" class="text-center icon">
                  <nb-icon style="font-size: 14px;" class="label" [icon]="tot?.icono"></nb-icon><br><label class="label" style="font-size: 12px;">{{tot?.total}}</label>
                  </span>&nbsp;&nbsp;
                <span nbTooltip="Total realizado / Total pendíentes" nbTooltipStatus="warning" class="text-center icon">
                <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="globe-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.resumen?.total_pendientes}}</label>
                </span>
              </div>
            </div>
          </div>
          <div class="element-img d-md-block d-none">
            <img src="assets/play-list.png" width="100%" height="100%" />
          </div>
        </div>
      </nb-card>
    </div>
  </div>


  <!-- Cursos tipo card
  <div *ngIf="form.value.tipo == '2'" >
    <div *ngFor="let nivelRol of mysCursos">
      <nb-icon icon="person-outline" status="success"></nb-icon>&nbsp;<strong style="text-transform: uppercase;"> Cursos {{nivelRol.nivel_cursos}}</strong><hr>

      <div class="row">
        <div  class="col-md-3" *ngFor="let curso of nivelRol.cursos; let i = index" (click)="navigate(curso)">
        <nb-card  class="cardSty animations">
         <nb-card-header class="p-0" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
           <div class="contenedor">
             <img src="assets/books.jpg" class="card-img-top" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem;"/>
             <div class="centrado" (click)="enterZoom($event, curso)" *ngIf="curso?.verIconZoom">
               <nb-icon icon="arrow-right"></nb-icon>
             </div>
             <div style="position: absolute; right: 0px; top: 10px;"><span class="badge bg-warning" style="text-transform: uppercase;">{{curso?.course_type}}</span></div>
           </div>
         </nb-card-header>
         <nb-card-body >
          <label class="d-flex align-items-center justify-content-between">
            <strong style="padding-left: 10px; padding-right: 10px;" class="names">{{ curso.nombre }}</strong><br>
          </label>
          <label style="padding-left: 10px; padding-right: 10px;" class="teachers">{{ curso.persons_teacher_nombre }}</label><br>
          <label style="padding-left: 10px; padding-right: 10px;" class="descriptions">Ciclo - {{ curso.ciclo }} - {{ curso.programa_estudio_nombre }}</label>
         </nb-card-body>
         <nb-card-footer class="p-0" style="margin-top: 0px;">
            <div>
              <nb-progress-bar  [value]="curso?.resumen?.avance" [status]="status(curso?.resumen?.avance)"></nb-progress-bar>
            </div>
            <div class="d-flex align-items-center justify-content-between" style="padding-left: 9px; padding-right: 9px;">
              <span nbTooltip="Participantes" nbTooltipStatus="warning" class="text-center">
                <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="people-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.matriculados}}</label>
              </span>&nbsp;&nbsp;
              <span *ngFor="let tot of curso?.resumen?.totales" [nbTooltip]="tot?.nombre" nbTooltipStatus="warning" class="text-center">
                <nb-icon style="font-size: 14px;" class="label" [icon]="tot?.icono"></nb-icon><br><label class="label" style="font-size: 12px;">{{tot?.total}}</label>
                </span>&nbsp;&nbsp;
              <span nbTooltip="Total realizado / Total pendíentes" nbTooltipStatus="warning" class="text-center">
              <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="globe-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.resumen?.total_pendientes}}</label>
              </span>
            </div>
         </nb-card-footer>

        </nb-card>
      </div>
      </div>
      </div>
    </div>-->
  <!-- Cursos tipo card -->
  <div class="px-3" *ngIf="form.value.tipo == '2'">
    <div *ngFor="let nivelRol of mysCursos">
      <nb-icon icon="person-outline" status="success"></nb-icon>&nbsp;<strong style="text-transform: uppercase;"> Cursos {{nivelRol.nivel_cursos}}</strong><hr>
    <div
      class="d-flex flex-wrap justify-content-center justify-content-lg-start"
      style="gap: 20px">
      <nb-card *ngFor="let curso of nivelRol.cursos; let i = index" (click)="navigate(curso)" class="curso-card animations">
        <div class="contenedor">
          <img [src]="curso.imageFront" class="card-img-top" height="157px" alt=""/>
          <div class="centrado" (click)="enterZoom($event, curso)" *ngIf="curso?.verIconZoom">
            <nb-icon icon="video-outline"></nb-icon><br>
            <small style="color: #FFFFFF; font-size: 10px">Live</small>
          </div>
          <div style="position: absolute; right: 0px; top: 10px;"><span class="badge bg-warning" style="text-transform: uppercase;">{{curso?.course_type}}</span></div>
        </div>
        <div class="card-body">
          <h6 class="names mb-0">{{ curso.nombre }} - {{curso.type_teachers_code}}</h6>
          <p class="teachers mb-0">{{ curso.persons_teacher_nombre }}</p>
          <p class="descriptions mb-0">Ciclo - {{ curso.ciclo }} - {{ curso.programa_estudio_nombre }}</p>
          <p class="descriptions mb-0">Grupo - {{ curso.grupo }} {{curso.sede !== null? '/': ''}} {{curso.sede}}</p>
        </div>
        <nb-card-footer class="p-0" style="margin-top: 0px;">
          <div>
            <nb-progress-bar  [value]="curso?.resumen?.avance" [status]="status(curso?.resumen?.avance)"></nb-progress-bar>
          </div>
          <div class="d-flex align-items-center justify-content-between" style="padding-left: 9px; padding-right: 9px;">
              <span nbTooltip="Participantes" nbTooltipStatus="warning" class="text-center">
                <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="people-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.matriculados}}</label>
              </span>&nbsp;&nbsp;
            <span *ngFor="let tot of curso?.resumen?.totales" [nbTooltip]="tot?.nombre" nbTooltipStatus="warning" class="text-center">
                <nb-icon style="font-size: 14px;" class="label" [icon]="tot?.icono"></nb-icon><br><label class="label" style="font-size: 12px;">{{tot?.total}}</label>
                </span>&nbsp;&nbsp;
            <span nbTooltip="Total realizado / Total pendíentes" nbTooltipStatus="warning" class="text-center">
              <nb-icon style="font-size: 14px; cursor: pointer;" class="label" icon="globe-outline"></nb-icon><br><label class="label" style="font-size: 12px;">{{curso?.resumen?.total_pendientes}}</label>
              </span>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
  </div>
