.tabs-container {
  padding: 10px;

  ::ng-deep .tabset {
    justify-content: space-evenly !important;
    margin-bottom: 25px !important;
  }

  ::ng-deep .tab-link {
    flex-direction: column;
    align-items: center;
    padding: 8px 14px !important;
  }

  ::ng-deep .tab-text {
    margin: 0px !important;
    margin-top: 5px !important;
  }

  ::ng-deep .content-active {
    text-align: center;
    padding: 8px 12px !important;
  }
}

@media screen and (max-width: 1399px) {
  .tabs-container {
    padding: 20px;
    ::ng-deep .tab-link {
      padding: 4px 16px !important;

      ::ng-deep .tab-text {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tabs-container {
    padding: 20px;
    ::ng-deep .tab-link {
      padding: 4px !important;

      ::ng-deep .tab-text {
        font-size: 10px;
      }
    }
  }
}
