<nb-card class="h-100 mb-0">
  <nb-card-body class="px-0 py-4">
    <div class="tabs-container">
      <nb-tabset>
        <nb-tab [tabTitle]="showText ? 'Silabo' : ''" tabIcon="clipboard-outline" responsive>
          <app-silabo [curso]="curso"></app-silabo>
        </nb-tab>
        <nb-tab [tabTitle]="showText ? 'Preguntas' : ''" tabIcon="question-mark-outline" responsive>
          <app-preguntas [userInfo]="userInfo" [curso]="curso"></app-preguntas>
        </nb-tab>
        <nb-tab [tabTitle]="showText ? 'Jutificación' : ''" tabIcon="file-text-outline" responsive>
          <p>Jutificación</p>
        </nb-tab>

        <nb-tab [tabTitle]="showText ? 'Estudiantes' : ''" tabIcon="people-outline" responsive>
          <app-estudiantes [curso]="curso"></app-estudiantes>
        </nb-tab>

        <nb-tab [tabTitle]="showText ? 'Configuración' : ''" tabIcon="settings-2-outline" responsive>
          <p>Configuración</p>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <hr />
  </nb-card-footer>
</nb-card>
