<nb-card >
  <nb-card-header>
      <div class="row" [nbSpinner]="loading" *ngIf="zoom.length !== 0">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12" *ngIf="zoom.id_zoom_meetings !== null">
              <a [href]="zoom.join_url" target="_blank" style="text-decoration: none">
                <button nbButton status="primary" size="small" fullWidth>
                  <nb-icon icon="video"></nb-icon>
                  Iniciar reunión
                </button>
              </a>
            </div>
            <div class="col-md-12" *ngIf="zoom.id_zoom_meetings === null && rolSemestre.rol.name === 'Docente' ">
              <button nbButton status="danger" size="small" fullWidth (click)="crearSalaZoom()">Crear sala zoom</button>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="zoom.host_id !== null">
         <strong style="font-size: 14px">Clave de anfitrión</strong>
          <hr class="me-3 mt-2 col-md-12" />
          <div class="row">
            <div class="col-md-7 text-center">
              <small><strong  value="4HrR76">4HrR76</strong></small>
            </div>
            <div class="col-md-5">
              <button nbButton status="primary" size="tiny" (click)="copy('4HrR76')"><nb-icon icon="copy-outline"></nb-icon>Copiar</button>
            </div>
          </div>
        </div>
      </div>
      <span class="message">{{item.message}}</span>
  </nb-card-header>
  <nb-card-body class="px-0 py-4" >
    <div class="tabs-container">
      <nb-tabset (changeTab)="changeTabs($event)">
        <nb-tab [tabTitle]="showText ? 'Silabo' : ''" tabIcon="book-open-outline" responsive tabId="silabo" style="max-height: 70vh;">
          <app-silabo [curso]="curso"></app-silabo>
        </nb-tab>
        <nb-tab [tabTitle]="showText ? 'Preguntas' : ''" tabIcon="question-mark-outline" responsive tabId="pregunta" style="max-height: 70vh;">
          <app-preguntas [userInfo]="userInfo" [curso]="curso"></app-preguntas>
        </nb-tab>
        <nb-tab [tabTitle]="showText ? 'Jutificación' : ''" tabIcon="bell-outline" responsive tabId="justifications" style="max-height: 70vh;">
          <app-justifications [userInfo]="userInfo" [curso]="curso"></app-justifications>
        </nb-tab>

        <nb-tab [tabTitle]="showText ? 'Estudiantes' : ''" tabIcon="people-outline" responsive tabId="estudiantes" style="max-height: 70vh;">
          <app-estudiantes [curso]="curso"></app-estudiantes>
        </nb-tab>

        <nb-tab *ngIf="rolSemestre.rol.id !== 5" [tabTitle]="showText ? 'Configuración' : ''" tabIcon="settings-2-outline" responsive tabId="configuracion" style="max-height: 70vh;">
          <app-configuraciones  [curso]="curso" (changeLoad)="syngChanges($event)"></app-configuraciones>
        </nb-tab>
      </nb-tabset>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <hr />
  </nb-card-footer>
</nb-card>
