nb-sidebar.expanded :host{
  .text2 h5::before{
    content: 'Pendientes';
  }
}
nb-sidebar.compacted :host {
  .text2 h5::before{
    content: 'P';
    padding: 1rem;
  }
  hr{
    display: none;
  }
  .item-list{
    display: none;
  }
  nb-list-item{
    padding: 0;
  }
  .list-text{
    display: none;
  }
}
small{
  font-size: 11px;
  text-align: left;
}
h5{
  font-size: 12px;
  color: var(--color-primary-400);
}
.tipo-item{
  padding: 3px 5px;
  background-color: var(--color-warning-500);
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
}
.animations {
  transition: all 0.2s;
  cursor: pointer;
  animation: vision 1.1s ease;
  display: block;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px #00000012;
  }
}
