<nb-card class="m-0 h-100 border-0" style="border-radius: 15px" [nbSpinner]="loading">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="person-outline" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px">ESTUDIANTES</strong>
    </div>
    <hr />
    <form [formGroup]="formHeader">
      <div class="row">
        <div class="col-md-3" *ngIf="rolSemestre.area.area_id === 0">
          <label class="label">Sede</label>
          <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="sede">
            <nb-option *ngFor="let sede of sedes" [value]="sede" (click)="selectedSede(sede)">{{ sede?.nombre }}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-3" *ngIf="rolSemestre.area.area_id === 0">
          <label class="label">Nivel de enseñanza</label>
          <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="nivel_ensenanza">
            <nb-option value="" disabled>Selecciona</nb-option>
            <nb-option *ngFor="let nivel of nivelEnsenanza" [value]="nivel" (click)="selectedNivel(nivel)">{{ nivel?.nombre }}</nb-option>
          </nb-select>
        </div>
        <!-- <div class="col-md-6"></div> -->
        <div class="col-lg-3" *ngIf="rolSemestre.area.area_id === 0">
          <label class="label">Facultades/Unidades</label>
          <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="facultades_unidades">
            <nb-option value="" disabled>Selecciona</nb-option>
            <nb-option *ngFor="let item of facultades" [value]="item" (click)="selecFacultades(item)">{{item.nombre}}</nb-option>
          </nb-select>
        </div>
        <div class="col-lg-3">
          <label class="label">Programa estudio</label>
          <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="programa_estudio_id" [(selected)]="todos">
            <nb-option [value]="todos">Todos</nb-option>
            <nb-option *ngFor="let item of litProgramStudy" [value]="item.id">{{
              item.name_programa_estudio
            }}</nb-option>
          </nb-select>
        </div>
        <div class="col-lg-3">
          <label class="label">Ciclo</label>
          <nb-select fullWidth size="small" formControlName="ciclo">
            <nb-option value="">Todos</nb-option>
            <nb-option *ngFor="let item of ciclos" [value]="item.ciclo">{{ item.ciclo }}</nb-option>
          </nb-select>
        </div>
        <div class="col-lg-3">
          <label class="label">Buscar</label>
          <input nbInput type="text" fieldSize="small" fullWidth formControlName="buscar">
        </div>
        <!--<div class="col-md-2 " [class]="formHeader.controls['programa_estudio_id'].value && activateBtnCanva? 'ms-auto': ''" *ngIf="formHeader.controls['programa_estudio_id'].value && listStudents.length > 0 && activateBtnCanva">
          <label class="label" style="visibility: hidden">Sincronizar con canvas</label><br />
          <button nbButton fullWidth size="small" status="success" (click)="syncCanvas()">
            <nb-icon icon="sync-outline"></nb-icon>Sincronizar con canvas
          </button>
        </div>-->
        <div class="col-md-2 ms-auto">
          <label class="label" style="visibility: hidden">Filtrar</label><br />
          <button nbButton fullWidth size="small" status="warning" (click)="refresh()" [disabled]="!formHeader.controls['programa_estudio_id'].value && rolSemestre.area.area_id === 0 && formHeader.controls['buscar'].value === ''">
            <nb-icon icon="funnel"></nb-icon>Filtrar
          </button>
        </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr style="font-size: 12px">
            <th>Código</th>
            <th>Person id</th>
            <th>Nombre</th>
            <th>Login id</th>
            <th>DNI</th>
            <th>Areas</th>
            <th>Corre upeu</th>
            <th>Corre externo</th>
            <th>Último Ingreso</th>
            <th>Canva login</th>
            <th class="text-center">Canva id</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listStudents; let i = index" style="font-size: 10px; vertical-align: middle">
            <td>{{ item.codigo }}</td>
            <td>{{ item.person_id }}</td>
            <td>{{ item.nombres_completos }} </td>
            <td>{{ item.login_id }}</td>
            <td>{{ item.dni }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item?.correo_externo }}</td>
            <td>{{ item?.correo_upeu }}</td>
            <td>{{ item?.ultimo_acceso  | date: 'MMMM d, y, h:mm:ss a'}}</td>
            <td>
              <div class="d-flex flex-column text-start" style="width: 250px; word-break: break-all" *ngFor="let canva of item.canva_login">
                <!--<span style="font-size: 10px"><strong>CANVA ID:</strong>  {{item.id_canva}}</span>-->
                <span style="font-size: 10px"><strong>ID:</strong>  {{canva.id}}</span>
                <span style="font-size: 10px"><strong>UNIQUE ID:</strong>  {{canva.unique_id}}</span>
                <span style="font-size: 10px"><strong>AUTHENTICATION TYPE:</strong>  {{canva.authentication_provider_type}}</span>
              </div>
            </td>
            <td class="text-center">
              <nb-icon [icon]="item.id_canva? 'checkmark-circle-2-outline': 'minus-outline'"
                       [status]="item.id_canva? 'success': ''">
              </nb-icon><nb-icon nbTooltip="Actualizar usuario canva"
                                 nbTooltipStatus="primary"
                                 status="info"
                                 style="cursor: pointer" *ngIf="item.id_canva"
                                 [icon]="'edit'"
                                 status="info"></nb-icon> <br>{{item.id_canva}} </td>
            <td class="text-center" style="width: 120px">
              <div class="d-flex justify-content-evenly">
                <div style="cursor: pointer" (click)="editStudent(item)">
                  <nb-icon icon="edit" status="info" style="font-size: 25px"></nb-icon>
                </div>
                <div style="cursor: pointer">
                  <nb-icon icon="trash-2-outline" status="danger" style="font-size: 25px"></nb-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center" *ngIf="listStudents.length === 0 && loading === false">
      <h4 style="color: var(--color-primary-700)">Ups!!</h4>
      <h6>No se encontraron resultados</h6>
      <img src="assets/busqueda.png" alt="busqueda-upeu" width="300px">
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-md-between justify-content-center align-items-center flex-wrap p-2">
      <div style="color: brown; font-weight: bold">Total: {{ pagination.sizeListData }}</div>
      <ngb-pagination
        [collectionSize]="pagination?.sizeListData"
        [(page)]="pagination.page"
        [maxSize]="10"
        [disabled]="pagination?.isDisabledPage"
        [pageSize]="pagination?.sizePage"
        class="d-flex justify-content-center flex-wrap"
        size="sm"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      >
      </ngb-pagination>
      <div class="d-flex justify-content-center">
        <nb-form-field>
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select
            placeholder="Paginación"
            status="success"
            size="tiny"
            fullWidth
            [(selected)]="selectedItem"
            (selectedChange)="sizeTable($event)"
          >
            <nb-option *ngFor="let per of pagesCount" [value]="per">Paginar de {{ per }} en {{ per }}</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
