<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
    nbSpinnerMessage="Procesando información">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                CURSOS LIBRES - {{semestre?.nombre}}
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body style="padding-right: 35px; padding-left: 35px;">
        <nb-stepper orientation="horizontal" (stepChange)="changeSteps($event)" #stepper disableStepNavigation>
            <nb-step label="Datos del curso" [stepControl]="formHeaderOne" #one>
                <form [formGroup]="formHeaderOne">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                      <div class="col-md-12">
                        <div class="row">
                          <label class="col-md-2 label">Tipo de curso:</label>
                          <div class="col-md-10">
                            <nb-select fullWidth placeholder="Seleccione tipo" size="small" formControlName="id_tipo_curso">
                              <nb-option *ngFor="let item of typeCourse" [value]="item.id">{{item.nombre}}</nb-option>
                            </nb-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Facultad unidad:</label>
                                <div class="col-md-8">
                                    <nb-select fullWidth placeholder="Seleccione tipo" size="small" formControlName="facultades_unidades">
                                      <nb-option *ngFor="let item of facultades" [value]="item.id" (click)="selecFacultades(item)">{{item.nombre}}

                                      </nb-option>

                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Programa de estudio:</label>
                                <div class="col-md-8">
                                    <nb-select fullWidth placeholder="Seleccione programa" size="small" formControlName="id_programa_estudio">
                                        <nb-option *ngFor="let item of litProgramStudy" [value]="item.id">{{item.name_programa_estudio}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Nombre:</label>
                                <div class="col-md-8">
                                    <input type="text" placeholder="Ingrese nombre" fullWidth fieldSize="small" formControlName="nombre" nbInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Docente:</label>
                                <div class="col-md-8">
                                <nb-form-field>
                                    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                                    <input
                                    formControlName="nombre_docente"
                                    nbInput
                                    fullWidth
                                    fieldSize="small"
                                    type="text"
                                    placeholder="Buscar mínimo 3 dígitos, nombre, dni o código"
                                    [nbAutocomplete]="auto"
                                    (input)="inputKeyAutocomplete($event)"/>
                                </nb-form-field>
                                <nb-autocomplete #auto size="small">
                                    <nb-option *ngFor="let option of filteredOptions$" [value]="option.nombres_completos" (click)="changeAutocomplete(option)"
                                    [ngStyle]="colorAutocompleteSelect(option)">
                                        {{ option.nombres_completos }} - {{ option.codigo }}
                                    </nb-option>
                                </nb-autocomplete>
                                <span *ngIf="formHeaderOne.hasError('required', ['id_docente'])" style="font-size: 10px; color: brown;">Campo requerido</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Horas a la semana:</label>
                                <div class="col-md-8">
                                    <input type="number" placeholder="Ingrese horas" fullWidth fieldSize="small" formControlName="horas_semana" nbInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Idioma:</label>
                                <div class="col-md-8">
                                    <nb-select fullWidth placeholder="Seleccione idioma" size="small" formControlName="id_idioma">
                                        <nb-option *ngFor="let item of idiomas" [value]="item.code"><img [src]="item?.img" height="20px" alt="" />&nbsp;&nbsp; {{item.name}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Ciclo:</label>
                                <div class="col-md-8">
                                    <nb-select fullWidth placeholder="Seleccione ciclo" size="small" formControlName="ciclo">
                                        <nb-option *ngFor="let item of ciclos" [value]="item.ciclo">{{item.ciclo}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Cupos:</label>
                                <div class="col-md-8">
                                    <input type="number" placeholder="Ingrese cupos" fullWidth fieldSize="small" formControlName="cupos" nbInput>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Áula:</label>
                                <div class="col-md-8">
                                    <input type="number" placeholder="Ingrese áula" fullWidth fieldSize="small" formControlName="aula" nbInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Grupo:</label>
                                <div class="col-md-8">
                                    <input type="text" placeholder="Ingrese grupo" fullWidth fieldSize="small" formControlName="grupo" nbInput>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Fecha inicio:</label>
                                <div class="col-md-8">
                                    <nb-form-field>
                                        <input type="text" nbInput placeholder="Fecha Inicio" fullWidth
                                            [nbDatepicker]="fechaInicio" fieldSize="small" formControlName="fecha_inicio"/>
                                        <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                            pack="eva"></nb-icon>
                                        <nb-datepicker #fechaInicio format="dd/MM/yyyy">
                                        </nb-datepicker>
                                    </nb-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset [disabled]="!formHeaderOne.value.fecha_inicio">
                            <div class="row">
                                <label class="col-md-4 label">Fecha fin:</label>
                                <div class="col-md-8">
                                    <nb-form-field>
                                        <input type="text" nbInput placeholder="Fecha fin" fullWidth
                                            [nbDatepicker]="fechaFin" fieldSize="small" formControlName="fecha_fin"/>
                                        <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                            pack="eva"></nb-icon>
                                        <nb-datepicker #fechaFin format="dd/MM/yyyy" [min]="formHeaderOne.value.fecha_inicio">
                                        </nb-datepicker>
                                    </nb-form-field>
                                </div>
                            </div>
                        </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Tipo nota:</label>
                                <div class="col-md-8">
                                    <nb-select fullWidth placeholder="Seleccione tipo" size="small" formControlName="tipo_nota" (selectedChange)="changeTipoNota($event)">
                                        <nb-option *ngFor="let item of tipoNota" [value]="item.value">{{item.nombre}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Nota:</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="number" placeholder="Mínimo" fullWidth fieldSize="small" formControlName="nota_min" nbInput
                                            [readonly]="formHeaderOne.value.tipo_nota === 'CUALITATIVA'">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" placeholder="Máximo" fullWidth fieldSize="small" formControlName="nota_max" nbInput
                                            [readonly]="formHeaderOne.value.tipo_nota === 'CUALITATIVA'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-2 label">Descripción:</label>
                        <div class="col-md-10">
                            <textarea type="number" placeholder="Ingrese descripción del curso" fullWidth fieldSize="small" formControlName="descripcion" nbInput></textarea>
                        </div>
                    </div>
                  </form>
                  <hr>
                  <div style="text-align: right;">
                    <!-- <button nbButton nbStepperNext>Siguiente</button> -->
                    <button nbButton (click)="nextPasoOne(stepper, one)"  status="primary" size="small" [disabled]="formHeaderOne.invalid">Siguiente <nb-icon icon="arrow-forward-outline"></nb-icon></button>
                    </div>
            </nb-step>
            <nb-step label="Información adicional" [stepControl]="formHeaderTo" #to>
                <form [formGroup]="formHeaderTo">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4 label">Inscripción:</label>
                                <div class="col-md-8" style="text-align: center">
                                    <nb-toggle formControlName="inscripcion" (checkedChange)="toggleChangeInscr($event)"></nb-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4 label">Consultas:</label>
                                <div class="col-md-8" style="text-align: center">
                                    <nb-toggle formControlName="consultas"></nb-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4 label">Pago:</label>
                                <div class="col-md-8" style="text-align: center">
                                    <nb-toggle formControlName="pago" (checkedChange)="toggleChangePago($event)"></nb-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4 label">Chat:</label>
                                <div class="col-md-8" style="text-align: center">
                                    <nb-toggle formControlName="chat"></nb-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br *ngIf="formHeaderTo.value.inscripcion">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;" *ngIf="formHeaderTo.value.inscripcion">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Fecha inicio inscripción:</label>
                                <div class="col-md-8">
                                    <nb-form-field>
                                    <input type="text" [nbDatepicker]="fechaInicioInsc" fullWidth nbInput fieldSize="small"
                                    formControlName="fecha_inicio_inscr" placeholder="Fecha inicio">
                                  <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                  pack="eva"></nb-icon>
                              <nb-datepicker #fechaInicioInsc format="dd/MM/yyyy">
                              </nb-datepicker>
                          </nb-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Fecha fin inscripción:</label>
                                <div class="col-md-8">
                                    <nb-form-field>
                                        <input type="text" nbInput placeholder="Fecha fin" fullWidth
                                            [nbDatepicker]="fechaFin" fieldSize="small"  formControlName="fecha_fin_inscr"/>
                                        <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                            pack="eva"></nb-icon>
                                        <nb-datepicker #fechaFin format="dd/MM/yyyy">
                                        </nb-datepicker>
                                    </nb-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br *ngIf="formHeaderTo.value.inscripcion">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;" *ngIf="formHeaderTo.value.inscripcion">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Url inscripción:</label>
                                <div class="col-md-8" style="font-size: 10px;">
                                   {{formHeaderTo.value.url_inscripcion}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Clave inscripción:</label>
                                <div class="col-md-8">
                                        <input type="text" nbInput placeholder="0000" fullWidth maxlength="4"
                                            fieldSize="small"  formControlName="clave_inscripcion"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br *ngIf="formHeaderTo.value.pago">
                    <div class="row" style="padding-left: 0px; padding-right: 0px;" *ngIf="formHeaderTo.value.pago">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4 label">Precio local:</label>
                                <div class="col-md-8">
                                    <input type="number" placeholder="Ingrese monto" fullWidth fieldSize="small" formControlName="precio_local" nbInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4 label">Precio dólares:</label>
                                <div class="col-md-8">
                                    <input type="number" placeholder="Ingrese monto" fullWidth fieldSize="small" formControlName="precio_dolares" nbInput>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4 label">% descuento:</label>
                                <div class="col-md-8">
                                    <input type="number" placeholder="Ingrese decuento" fullWidth fieldSize="small" formControlName="porcentaje_descuento" nbInput>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Sílabo:</label>
                                <div class="col-md-8">
                                    <lamb-prepare-file-pro
                                        [paramsInfo]="{
                                        key_file: keyFile(),
                                        directory: directorioSilabo,
                                        type: 'put'}"
                                        [numFiles]="1"
                                        (filterValueChange)="valueFileSilabo($event)"
                                        [isDisabled]="false"
                                        [viewFile]="'UNIQUE'"
                                        [typeFile]="'pdf'"
                                        [fullWidth]="true"
                                        >
                                    </lamb-prepare-file-pro>
                                    <div style="text-align: right; font-size: 11px;" *ngIf="formHeaderTo.value.file_silabo">
                                        {{formHeaderTo.value.file_silabo}}&nbsp;&nbsp;
                                        <nb-icon icon="eye-outline" (click)="viewFileDoc(formHeaderTo.value.file_silabo, directorioSilabo)" style="cursor: pointer;" status="success"></nb-icon>&nbsp;
                                        <nb-icon icon="trash" (click)="clearFileSilabo()" style="cursor: pointer;" status="danger"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4 label">Guía curso:</label>
                                <div class="col-md-8">
                                    <lamb-prepare-file-pro
                                        [paramsInfo]="{
                                        key_file: keyFile(),
                                        directory: directorioGuiaEst,
                                        type: 'put'}"
                                        [numFiles]="1"
                                        (filterValueChange)="valueFileGuiaEstudio($event)"
                                        [isDisabled]="false"
                                        [viewFile]="'UNIQUE'"
                                        [typeFile]="'pdf'"
                                        [fullWidth]="true"
                                        >
                                    </lamb-prepare-file-pro>
                                    <div style="text-align: right; font-size: 11px;" *ngIf="formHeaderTo.value.file_guia_curso">
                                        {{formHeaderTo.value.file_guia_curso}}&nbsp;&nbsp;
                                        <nb-icon icon="eye-outline" (click)="viewFileDoc(formHeaderTo.value.file_guia_curso, directorioGuiaEst)" style="cursor: pointer;" status="success"></nb-icon>&nbsp;
                                        <nb-icon icon="trash" (click)="clearFileGuia()" style="cursor: pointer;" status="danger"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-2 label">Url video introducción:</label>
                        <div class="col-md-10">
                            <input type="text" placeholder="Ingrese url" fullWidth fieldSize="small" formControlName="url_video_intro" nbInput maxlength="250">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-8">
                            <div class="row">
                                <label class="col-md-3 label">Portada:</label>
                                <div class="col-md-9">
                                    <img [src]="formHeaderTo.value.file_portada_url_base64 || 'https://static.vecteezy.com/system/resources/previews/005/081/831/non_2x/banner-abstract-geometric-white-and-gray-color-background-illustration-free-vector.jpg'"
                                    alt="" width="100%" height="120px">
                                    <div style="text-align: right;" *ngIf="!formHeaderTo.value.file_portada">
                                        <button nbButton size="small" status="basic" (click)="openRecortePortadaMin('portada')">
                                            Añadir
                                        </button>
                                    </div>
                                    <div style="text-align: right; font-size: 11px;" *ngIf="formHeaderTo.value.file_portada">
                                        {{formHeaderTo.value.file_portada}}&nbsp;&nbsp;
                                        <nb-icon icon="trash" (click)="clearFilePortada()" style="cursor: pointer;" status="danger"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-md-4 label">Míniatura:</label>
                                <div class="col-md-8">
                                    <img [src]="formHeaderTo.value.file_miniatura_url_base64 || 'https://static.vecteezy.com/system/resources/previews/005/081/831/non_2x/banner-abstract-geometric-white-and-gray-color-background-illustration-free-vector.jpg'"
                                     alt="" width="100%" height="120px">
                                    <div style="text-align: right;" *ngIf="!formHeaderTo.value.file_miniatura">
                                        <button nbButton size="small" status="basic" (click)="openRecortePortadaMin('miniatura')">
                                            Añadir
                                        </button>
                                    </div>
                                    <div style="text-align: right; font-size: 11px;" *ngIf="formHeaderTo.value.file_miniatura">
                                        {{formHeaderTo.value.file_miniatura}}&nbsp;&nbsp;
                                        <nb-icon icon="trash" (click)="clearFileMiniatura()" style="cursor: pointer;" status="danger"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div style="text-align: right;">
                    <button nbButton (click)="backPasoTo(stepper, to)"  status="basic" size="small"><nb-icon icon="arrow-back-outline"></nb-icon> Atrás</button>&nbsp;
                    <button nbButton (click)="nextPasoTo(stepper, to)"  status="primary" size="small" [disabled]="formHeaderTo.invalid">Siguiente <nb-icon icon="arrow-forward-outline"></nb-icon></button>
                    <!-- <button nbButton nbStepperPrevious>prev</button>
                    <button nbButton nbStepperNext>next</button> -->
                </div>
            </nb-step>
            <nb-step label="Publicar" [stepControl]="formHeaderThree" #three>
                <form [formGroup]="formHeaderThree">
                    <div>
                        <img [src]="formHeaderTo.value.file_portada_url_base64 || 'https://static.vecteezy.com/system/resources/previews/005/081/831/non_2x/banner-abstract-geometric-white-and-gray-color-background-illustration-free-vector.jpg'" alt="" height="180px" width="100%">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="formHeaderTo.value.file_miniatura_url_base64 || 'https://static.vecteezy.com/system/resources/previews/005/081/831/non_2x/banner-abstract-geometric-white-and-gray-color-background-illustration-free-vector.jpg'" alt="" height="180px" width="100%">
                            <strong style="font-size: 11px;">{{formHeaderOne.value.nombre}}</strong>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: justify;">{{formHeaderOne.value.descripcion}}</p>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: right;">
                        <nb-toggle formControlName="publicar">Publicar</nb-toggle>
                    </div>
                </form>
                <hr>
                <div style="text-align: right;">
                    <button nbButton (click)="backPasoThree(stepper, three)"  status="basic" size="small"><nb-icon icon="arrow-back-outline"></nb-icon> Atrás</button>&nbsp;
                    <button nbButton (click)="nextPasoThree(stepper, three)" status="primary" size="small">Finalizar <nb-icon icon="arrow-forward-outline"></nb-icon></button>
                </div>
            </nb-step>
            <nb-step  [hidden]="true" label="Fin" #finish>
                <div class="text-center">
                  <h3>Curso creado</h3>
                  <br>
                  <nb-icon status="success" icon="checkmark-circle-2-outline" style="font-size: 150px;"></nb-icon>
                </div>
                <hr>
                <div style="text-align: center;">
                  <button nbButton (click)="backPasoFinish(stepper, finish)" status="basic" size="small"><nb-icon icon="arrow-back-outline"></nb-icon> Atrás</button>&nbsp;
                  <button nbButton (click)="nextPasoFinish(stepper, finish)"  status="primary" size="small"><nb-icon icon="plus-outline"></nb-icon> Crear nuevo</button>&nbsp;
                  <button nbButton (click)="closeModal()"  status="basic" size="small">Salir <nb-icon icon="close-outline"></nb-icon></button>
                </div>
              </nb-step>
          </nb-stepper>
    </nb-card-body>
</nb-card>
