<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        AGREGAR DOCENTES A CURSOS
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab style="padding: 0" tabTitle="Docentes titulares">
        <app-t-docente-p [listCourse] = "listCourse"
                         [pagesCount] = "pagesCount"
                         [pagination] = "pagination"
                         [teachers_I] = "teachers_I"
                         [formHeader] = "formHeader"
                         (eventTermino) = "eventTermino($event)"
                         (loadPages) = "loadPage($event)"
                         (sizeTables) = "sizeTable($event)"
                         (eventGetCourse) = "eventGetCourse($event)"></app-t-docente-p>
      </nb-tab>
      <<!--nb-tab style="padding: 0" tabTitle="Docentes titulares">
        <app-t-docente-t [listCourse] = "listCourse"
                         [pagesCount] = "pagesCount"
                         [pagination] = "pagination"
                         [teachers_I] = "teachers_I"
                         [formHeader] = "formHeader"
                         (eventTermino) = "eventTermino($event)"
                         (loadPages) = "loadPage($event)"
                         (sizeTables) = "sizeTable($event)"
                         (eventGetCourse) = "eventGetCourse($event)">></app-t-docente-t>
      </nb-tab>-->
    </nb-tabset>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <small style="font-size: 12px; font-weight: bold; color: #E8833A">Falta Crear su usuario canva(person_id_canva)</small>
    </div>
  </nb-card-footer>
</nb-card>
