<nb-card
  class="h-100 border-0"
  style="border-radius: 15px"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="small"
>
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="file-text-outline" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px">MIS RÚBRICAS</strong>
    </div>
    <!-- <hr /> -->
    <!-- <button nbButton (click)="createRubric()">Crear Rúbrica</button> -->
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <button
      class="ms-auto"
      nbButton
      ghost
      status="primary"
      (click)="createRubric()"
      nbTooltip="Nueva Rúbrica"
      nbTooltipStatus="primary"
    >
      <nb-icon icon="plus-circle-outline" style="width: 32px; height: 32px"></nb-icon>
    </button>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr class="text-center" style="font-size: 12px">
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let rubric of rubrics; let i = index"
            class="text-center"
            style="font-size: 12px; vertical-align: middle"
          >
            <td>{{ rubric?.titulo }}</td>
            <td>{{ rubric?.descripcion }}</td>
            <td class="text-center" style="width: 200px">
              <div class="d-flex justify-content-evenly">
                <div
                  *ngIf="rubric?.editable === '1' ? true : false"
                  (click)="editRubric(rubric)"
                  style="cursor: pointer"
                >
                  <nb-icon icon="edit" status="info" style="font-size: 25px"></nb-icon>
                  <br />
                  Editar
                </div>
                <div (click)="duplicateRubric(rubric)" style="cursor: pointer">
                  <nb-icon icon="copy-outline" status="warning" style="font-size: 25px"></nb-icon>
                  <br />
                  Duplicar
                </div>
                <div
                  *ngIf="rubric?.editable === '1' ? true : false"
                  (click)="deleteRubric(rubric)"
                  style="cursor: pointer"
                >
                  <nb-icon icon="trash-2-outline" status="danger" style="font-size: 25px"></nb-icon>
                  <!-- (click)="openCourseZoom(item)" -->
                  <br />
                  Eliminar
                </div>
              </div>
            </td>
            <!-- <td class="text-center" style="width: 70px">
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between align-items-center p-2">
      <div></div>
      <ngb-pagination
        [collectionSize]="pagination?.sizeListData"
        [(page)]="pagination.page"
        [maxSize]="20"
        [disabled]="pagination?.isDisabledPage"
        [pageSize]="pagination?.sizePage"
        class="d-flex justify-content-center"
        size="sm"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      >
      </ngb-pagination>
      <div class="">
        <nb-form-field [formGroup]="formHeader">
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select size="small" status="primary" formControlName="id_per_page" fullWidth>
            <nb-option *ngFor="let per of pagesCount" [value]="per" (click)="selectedPerPage(per)">{{ per }}</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
