<nb-card class="h-100 border-0" style="border-radius: 15px" nbSpinnerStatus="primary" nbSpinnerSize="small">
  <nb-card-header>
    <h5>Hola rubrica</h5>
  </nb-card-header>
  <nb-card-body class="pb-0">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr style="font-size: 12px">
            <th style="width: 120px" class="text-center">life</th>
            <th>sucks</th>
            <th style="width: 100px" class="text-center">:)</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size: 12px; vertical-align: middle">
            <td class="text-center">ho</td>
            <td>ho</td>
            <td class="text-center" style="color: brown; font-weight: bold">ho</td>
          </tr>
        </tbody>
      </table>
      <button nbButton (click)="createRubric()">Crear Rubrica</button>
    </div>
  </nb-card-body>
</nb-card>
