.padre  {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;

}
.padreHover {
  cursor: pointer;
}
.section_class{
  padding: 15px 10px 15px 25px;
}
.section_class:hover{
  background-color: #D2D7DD;
}
