<nb-card class="instructions-container m-4">
  <nb-card-body class="px-4 py-5">
    <div class="d-flex">
      <div class="instructions">
        <h4 class="instructions-title">{{ element?.titulo }}</h4>
        <p class="instructions-description">{{ element?.descripcion }}</p>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-column">
      <textarea nbInput fullWidth placeholder="Agregar comentario" fieldSize="giant" rows="5"></textarea>
      <button nbButton status="success" class="ms-auto mt-2">Comentar</button>
    </div>
  </nb-card-body>
</nb-card>