<nb-card class="instructions-container m-4" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
  nbSpinnerMessage="Procesando información">
  <nb-card-body class="px-4 py-5">
    <div class="row">
      <div class="instructions col-md-9 col-xxl-10">
        <!-- <h4 class="instructions-title">{{ element?.titulo }}</h4> -->
        <p class="instructions-description" style="text-align: justify;">{{ element?.descripcion }}</p> <br>
        <label class="label">Pregunta: &nbsp;&nbsp;</label><strong>{{element?.forums?.pregunta}}</strong>
      </div>
      <div class="col-md-3 col-xxl-2 pe-0">
        <div class="calification calification-evalue ms-auto" *ngIf="rolSemestre?.rol?.name === 'Docente'"
          (click)="calificar(element)">
          <nb-icon icon="edit"></nb-icon>
          <span>Calificar</span>
        </div>

        <div class="calification ms-auto"
          *ngIf="rolSemestre?.rol?.name === 'Estudiante' && !pending?.student_pending?.nota">
          Aún no tiene calificación
        </div>
        <div class="calification calification-evaluated"
          *ngIf="rolSemestre?.rol?.name === 'Estudiante' && pending?.student_pending?.nota">
          <p>{{pending?.student_pending?.nota}}</p>
          <span>Calificación</span>
        </div>
      </div>
    </div>

    <!-- Permitir comentarios {{pending?.student_pending?.pending_forum?.permitir_comentarios}} <br>
    Ver Respuestas {{pending?.student_pending?.pending_forum?.ver_respuestas}} -->
    <strong class="mb-2 d-block">Respuestas de foro:</strong>

    <div *ngIf="rolSemestre?.rol?.name === 'Estudiante' &&  pending?.student_pending">
      <app-children-comments
      [element]="element"
      [userInfo]="userInfo"
      [list]="pending?.student_pending?.pending_forum?.forums_responses || []"
      (changeEmit)="changeEmit()"
      [getValidComent]="getValidComent"
      [viewRespond]="element?.forums?.permitir_comentarios === 'SI' ? true : false"
      [pending_id]="pending?.student_pending?.id">
      </app-children-comments>
    </div>
    <div *ngIf="rolSemestre?.rol?.name === 'Docente'">
      <app-children-comments
      [element]="element"
      [userInfo]="userInfo"
      [list]="listResponses"
      (changeEmit)="changeEmit()">
    </app-children-comments>
    </div>
  </nb-card-body>
</nb-card>
