<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>

      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body id="print-section2">
    <div class="d-flex flex-column" id="print2" style="padding: 0 4%;">
      <div class="d-flex justify-content-between" style="text-align: right;padding-bottom: 50px">
        <div style="text-align: left">
          <small class="title">REPORTE DE EVALUACIONES</small><br>
          <small class="description">Actividades de evaluación realizadas en el ciclo vigente en Lamb Leearnig.</small><br>
        </div>
        <div class="align-items-end">
          <small class="subTitle">Nombre de la Facultad</small>
          <div class="d-flex flex-column">
            <small class="parrafo mb-0 label">{{profile?.person?.programa_estudio}}</small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div >
          <small class="parrafo label">DATOS DEL ESTUDIANTE</small><br>
          <small class="subTitle mb-0">{{profile?.user?.person?.nombres_completos}}</small><br>
          <small class="parrafo label">{{profile?.user?.email}}</small><br>
          <small class="parrafo label">{{profile?.user?.person?.codigo}} Ciclo II Grupo único</small>
        </div>
        <div style="text-align: right">
          <small class="parrafo label">REPORTE DE EVALUACIONES</small><br>
          <small class="subTitle ">#12345678</small><br>
          <small class="parrafo label">{{nowDate| date:"d 'de' MMMM 'del' y"}}</small>
        </div>
      </div>
    </div>
    <div style="margin: 15px 0" class="padd">
      <div class="d-flex justify-content-between">
        <div>
          <small class="subTitle">{{item?.nombre}} - ciclo: {{item?.ciclo}} - grupo: {{item?.grupo}}</small><br>
          <small class="parrafo label">{{item?.persons_teacher_nombre}}</small>
        </div>
        <div>
          <nb-icon icon="file-text" class="iconNB"></nb-icon>
          <button printSectionId="print-section2"
                  class="buttonPrint"
                  [useExistingCss]="true"
                  [printStyle]="
             {'.iconNB' : {'display': 'none !important'},
             '.title': {'color': '#014776 !important'},
             '.subTitle': {'color': '#014776 !important'},
             '.estado':{'color': '#FFAA00 !important'},
             '.padd': {'padding': '0 4% !important'}
             }"
                  ngxPrint
           (click)="stylePrint()">
            <nb-icon type="button" icon="printer" class="iconNB"></nb-icon>
          </button>
        </div>
      </div>
      <br>
      <div style="border-top: 1px solid; border-bottom: 1px solid; padding: 5px 0; margin-bottom: 10px" *ngFor="let evaluaciones of data">
        <div class="d-flex justify-content-between" style="width: 100%" >
          <div style="width: 50%">
            <div class="d-flex">
              <div>
                <nb-icon [icon]="evaluaciones.icono" [ngStyle]="{'color': evaluaciones.background}" style="width: 27px; height: 27px; margin-right: 10px;"></nb-icon>
              </div>
              <div class="d-flex flex-column">
                <small class="parrafo">{{evaluaciones.titulo}}</small>
                <small class="description label" style=" overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;">
                  {{evaluaciones.descripcion}}</small>
                <div class="d-flex justify-content-between flex-wrap">
                  <small class="description label" style="margin-right: 20px">Fecha visto: {{evaluaciones.fecha_visto}}</small>
                  <small class="description label">Fecha de entrega: {{evaluaciones.fecha_entrega}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column" style="border-left: 2px dashed #C8CBD1; padding-left: 14px;">
            <small class="estado" [ngStyle]="{'color': evaluaciones.estado === 'Pendiente'? 'var(--color-warning-500)': 'var(--color-danger-600)'} ">{{evaluaciones.estado}}</small>
            <small class="description label">{{evaluaciones.estado === 'Pendiente'? 'quedan': 'hace'}} {{evaluaciones.fechaEstado}} {{evaluaciones.fechaEstado === ' 1'? 'dia.': 'dias.'}}</small>
          </div>
          <div style="border-right: 2px dashed #C8CBD1"></div>
          <div class="d-flex align-items-center" style="margin-right: 18px;">
            <small class="parrafo">{{evaluaciones.nota}}</small>
          </div>
        </div>
      </div>

    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small"  (click)="closeModal()">Salir</button>
  </nb-card-footer>
</nb-card>
