<ng-container *ngIf="rol === 'Docente'">
  <nb-card
    *ngFor="let curso of cursosDocente; let i = index"
    [routerLink]="['../asignaturas', curso.id_carga_curso_docente]"
  >
    <div class="row">
      <div class="col-2 col-sm-2">
        <img
          src="../../../../../assets/books.jpg"
          class="img-fluid"
          alt=""
          style="object-fit: fill; height: 100px; width: 350px"
          width="250px"
        />
      </div>
      <div class="col-5 col-sm-5 mt-3">
        <h6>{{ curso.nombre }}</h6>
        <p>
          {{ curso.persons_teacher_nombre }}
          <small
            >Ciclo - {{ curso.ciclo }} -
            {{ curso.programa_estudio_nombre }}</small
          >
        </p>
      </div>
      <div class="col-4 col-sm-4">
        <ul class="list-group list-group-horizontal mt-4">
          <li class="list-group-item">
            <nb-icon class="text-muted" icon="people-outline"></nb-icon> 1
          </li>
          <li class="list-group-item">
            <nb-icon
              class="text-muted"
              icon="checkmark-square-2-outline"
            ></nb-icon>
            5
          </li>
          <li class="list-group-item">
            <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon>
            2
          </li>
          <li class="list-group-item">
            <nb-icon
              class="text-muted"
              icon="checkmark-circle-2-outline"
            ></nb-icon>
            4
          </li>
          <li class="list-group-item">
            <nb-icon class="text-muted" icon="video-outline"></nb-icon> 6
          </li>
        </ul>
        <div style="width: 340px">
          <nb-progress-bar
            size="tiny"
            [value]="40"
            status="warning"
          ></nb-progress-bar>
        </div>
      </div>
      <div class="col-1 col-sm-1">
        <img
          src="../../../../../assets/play-list.png"
          class="img-fluid"
          alt=""
          style="object-fit: fill; height: 100px; width: 350px"
          width="250px"
        />
      </div>
    </div>
  </nb-card>
</ng-container>
<ng-container *ngIf="rol === 'Estudiante'">
  <nb-card
    *ngFor="let curso of cursosEstudiante; let i = index"
    [routerLink]="['../asignaturas', curso.id_carga_curso_docente]"
  >
    <div class="row">
      <div class="col-2 col-sm-2">
        <img
          src="../../../../../assets/books.jpg"
          class="img-fluid"
          alt=""
          style="object-fit: fill; height: 100px; width: 350px"
          width="250px"
        />
      </div>
      <div class="col-5 col-sm-5 mt-3">
        <h6>{{ curso.course_nombre }}</h6>
        <p>
          {{ curso.person_teacher_nombre }}
          <small
            >Ciclo - {{ curso.ciclo }} -
            {{ curso.programa_estudio_nombre }}</small
          >
        </p>
      </div>
      <div class="col-4 col-sm-4">
        <ul class="list-group list-group-horizontal mt-4">
          <li class="list-group-item">
            <nb-icon class="text-muted" icon="people-outline"></nb-icon> 1
          </li>
          <li class="list-group-item">
            <nb-icon
              class="text-muted"
              icon="checkmark-square-2-outline"
            ></nb-icon>
            5
          </li>
          <li class="list-group-item">
            <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon>
            2
          </li>
          <li class="list-group-item">
            <nb-icon
              class="text-muted"
              icon="checkmark-circle-2-outline"
            ></nb-icon>
            4
          </li>
          <li class="list-group-item">
            <nb-icon class="text-muted" icon="video-outline"></nb-icon> 6
          </li>
        </ul>
        <div style="width: 340px">
          <nb-progress-bar
            size="tiny"
            [value]="40"
            status="warning"
          ></nb-progress-bar>
        </div>
      </div>
      <div class="col-1 col-sm-1">
        <img
          src="../../../../../assets/play-list.png"
          class="img-fluid"
          alt=""
          style="object-fit: fill; height: 100px; width: 350px"
          width="250px"
        />
      </div>
    </div>
  </nb-card>
</ng-container>
