<ul class="p-0">
  <li
    class="p-0"
    *ngFor="let element of listElemtChild; let i = index"
    (click)="recorrerLisElChild(element)"
    (click)="clickedIndex = i"
    (mouseenter)="hoveredIndex = i"
    (mouseleave)="hoveredIndex = null"
  >
  <div class="p-2" [style]="elementStyleActive(element)"
  [ngStyle]="element.checked
    ? elementStyleActive(element)
    : elementStyle() && hoveredIndex === i
    ? elementStyleHover(element)
    : elementStyle()
">
    <nb-icon  [icon]="element.icono"></nb-icon>
    {{ element.nombre | titlecase }}
  </div>
  <div *ngIf="element?.checked" style="padding-left: 30px; padding-right: 5px;">
    <div *ngFor="let item of element?.elements">
     <label class="label" style="cursor: pointer;"
     [ngStyle]="{
     'color': item?.color ? item?.color : '',
     'font-weight': item?.font_weight ? item?.font_weight : '',
     'font-size': item?.font_size ? item?.font_size : ''}" (click)="selectElement(item)">
     * {{item.titulo}} <br></label>
    </div>
  </div>
  </li>
</ul>

  <!-- <div class="p-0"  [nbSpinner]="loading" nbSpinnerStatus="primary"
  nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
    <strong class="p-1" *ngFor="let el of listElemtChild; let i = index"
    (click)="recorrerLisElChild(el)"
    >
    <div>
      <nb-icon class="me-2" [icon]="el.icon"></nb-icon>
      {{ el.nombre | titlecase }}
    </div>

    </strong>
  </div> -->
