// .sticky{
//   position: fixed;
//   top: 104px;
//   right: 56px;
//   overflow: hidden;
//   z-index: 10;
// }

ul {
  list-style: none;
  width: 310px;

  & li {
    cursor: pointer;
    color: #575756;
  }
}

.child-list {
  // background-color: #fff;
  padding: 0px;
  // margin-left: 30px;

  &:hover {
    color: #919190;
  }

  &-item {
    display: flex;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
