ul {
  list-style: none;
  width: 310px;

  & li {
    cursor: pointer;
    color: #575756;
  }
}

@media screen and (max-width: 992px) {
  ul {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  ul {
    width: 90%;
  }
}

.child-list {
  padding: 0px;
  &:hover {
    color: #919190;
  }

  &-item {
    display: flex;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
