<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'NEW' ? 'NUEVA AREA': 'EDITAR AREA'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center" >
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="FormSedes">
          <div class="row">
            <label class="label col-md-3">id_sede:</label>
            <div class="col-md-9">
              <input type="text" class="id_sede" maxlength="4" placeholder="Area_id" nbInput fieldSize="small" fullWidth formControlName="id_sede">
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Nombre:</label>
            <div class="col-md-9">
              <input type="text" placeholder="Ingrese nombre" nbInput fieldSize="small" fullWidth formControlName="nombre">
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">Código:</label>
            <div class="col-md-9">
              <input type="text" placeholder="Ingrese código" nbInput fieldSize="small" fullWidth formControlName="codigo">
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">url_pago_visa:</label>
            <div class="col-md-9">
              <input type="text" placeholder="Ingrese url_pago_visa" nbInput fieldSize="small" fullWidth formControlName="url_pago_visa">
            </div>
          </div>
          <br>
          <div class="row">
            <label class="label col-md-3">codigo_pago:</label>
            <div class="col-md-9">
              <input type="text" placeholder="Ingrese codigo_pago" nbInput fieldSize="small" fullWidth formControlName="codigo_pago">
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="saveTypeElements()"
      [disabled] = "FormSedes.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
