<nb-card class="border-0 pb-0 scrollModal"
         style="border-radius: 15px"
         id="print-note"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="small">
  <nb-card-header>
    <form [formGroup]="formHeader">
      <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column">
              <label class="label">Seleccione un(a) Docente:</label>
              <nb-form-field>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  status="primary"
                  formControlName="termino"
                  placeholder="Nombre / Código"
                  fieldSize="small"
                  (keypress)="getListOfTeachers()"
                />
                <button nbSuffix nbButton ghost>
                  <nb-icon icon="search-outline" pack="eva"> </nb-icon>
                </button>
              </nb-form-field>
              <ul class="list-group">
                <li
                  *ngFor="let item of listOfTeachers"
                  class="list-group-item list-group-item-action py-1"
                  (click)="setTermino(item)"
                >
                  {{ item.nombres }} {{ item.apellido_paterno }} {{ item.apellido_materno }}
                </li>
              </ul>
            </div>

            <div class="d-flex flex-column">
                  <label class="label">Visible</label>
                  <nb-toggle formControlName="checkbox"></nb-toggle>
            </div>
            <div class="d-flex flex-column">
              <button nbButton status="primary" size="small" (click)="newTutores()" [disabled]="formHeader.invalid">Agregar</button>
            </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>Código</th>
          <th>Nombres</th>
          <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 10px; vertical-align: middle;" *ngFor="let item of data">
          <td>{{item.codigo}}</td>
          <td>{{item.persons_teacher_nombre_tutor}}</td>
          <td><nb-icon icon="trash" (click)="deleteTutor(item)" style="cursor: pointer" status="danger"></nb-icon></td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
