.element-title {
  font-size: 24px;
  font-weight: bold;
  color: #575756;
  margin: 0;

  &-description {
    font-size: 12px;
    color: #898989;
    margin: 0;
  }
}

.menu {
  &-container {
  }

  &-children {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 150px;
  }
}