<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
  <div class="row m-0" *ngIf="element">
    <div class="col-9 p-0">
      <div class="d-flex align-items-center p-4">
        <!-- <nb-icon [icon]="element?.type_element?.icono" ></nb-icon> -->
        <nb-icon class="me-1" [ngStyle]="{ color: element?.type_element?.color_hover, width: '56px', height: '48px' }"
          [icon]="element?.type_element?.icono">
        </nb-icon>
        <div>
          <h1 class="element-title">{{ element?.titulo }}</h1>
          <p class="element-title-description">{{ element?.course?.nombre }} - {{ element?.course?.semester?.nombre }}
            - {{ element?.course?.programa_estudio?.nombre | uppercase }} - CICLO {{ element?.course?.ciclo }}
            - {{ element?.course?.programa_estudio?.sede_area?.sede?.nombre }}</p>
        </div>
      </div>
      <div [ngStyle]="{ height: '5px', 'background-color': element?.type_element?.background }"></div>

      <app-v-document *ngIf="['DOC'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-document>

      <app-v-evaluation *ngIf="['EVAL'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-evaluation>

      <app-v-folder *ngIf="['CARP'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-folder>

      <app-v-forum *ngIf="['FOR'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-forum>

      <app-v-link *ngIf="['ENL'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-link>

      <app-v-recorded-class *ngIf="['CLGR'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-recorded-class>

      <app-v-video *ngIf="['VID'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-video>

      <app-v-video-conference *ngIf="['VICO'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"></app-v-video-conference>

      <app-v-works *ngIf="['TRAB'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo" [pending]="pending"></app-v-works>

    </div>
    <div class="col-3 p-5">
      <app-menu-elements-child class="mt-1" [topic_id]="element?.topic_id" [type_element_id]="element?.type_element_id"
        [id_element]="element?.id" (elementSelected)="elementSelected($event)"></app-menu-elements-child>
    </div>
  </div>
</div>
