<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <div *ngIf="element">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-11">
            <div class="d-flex align-items-center p-4">
              <nb-icon class="me-1" [ngStyle]="{ color: element?.type_element?.color_hover, width: '56px', height: '48px' }"
                [icon]="element?.type_element?.icono">
              </nb-icon>
              <div>
                <h1 class="element-title">{{ element?.titulo }}</h1>
                <p class="element-title-description">{{ element?.course?.nombre }} - {{ element?.course?.semester?.nombre }}
                  - {{ element?.course?.programa_estudio?.nombre | uppercase }} - CICLO {{ element?.course?.ciclo }}
                  - {{ element?.course?.programa_estudio?.sede_area?.sede?.nombre }}</p>
              </div>
            </div>
          </div>
          <div  *ngIf="element?.topic?.modo === 'ordenado'" class="col-md-1" style="align-items: center; display: flex;">
            <button nbButton status="warning" size="tiny" fullWidth  [disabled]="!element.prev_page"  (click)="prevElemento(element)">
              <nb-icon icon="arrow-back-outline"></nb-icon> Atras</button>
          </div>
          <div  *ngIf="element?.topic?.modo === 'agrupado'" class="col-md-1" style="align-items: center; display: flex;">
              <label class="label">{{element?.topic?.modo}}</label>
          </div>
        </div>
        <div [ngStyle]="{ height: '5px', 'background-color': element?.type_element?.background }"></div>
        <br>
        <div style="text-align: right;">
          <label class="label px-4" *ngIf="rolSemestre?.rol?.name === 'Docente'">
            <button *ngIf="['FOR', 'TRAB'].includes(element?.type_element?.codigo)" nbButton size="tiny" outline
              status="basic" ghost class="butonsInfo">Sin Calificar: {{(element?.total_entregados -
              element?.total_revisados )}}</button>&nbsp;
            <button *ngIf="['FOR', 'TRAB'].includes(element?.type_element?.codigo)" nbButton size="tiny" outline
              status="success" ghost class="butonsInfo">Calificados: {{element?.total_revisados}}</button>&nbsp;
            <button *ngIf="['FOR', 'TRAB'].includes(element?.type_element?.codigo)" nbButton size="tiny" outline
              status="danger" ghost class="butonsInfo">Sin entregar: {{(element?.total_pendientes -
              element?.total_entregados )}}</button>&nbsp;
            <button nbButton size="tiny" outline status="warning" ghost class="butonsInfo">Total vistos:
              {{(element?.total_vistos)}}</button>&nbsp;
            <button nbButton size="tiny" outline status="info" ghost class="butonsInfo">Total alumnos:
              {{(element?.total_pendientes - element?.total_entregados ) + (element?.total_vistos)}}</button>
          </label>
        </div>
  
        <app-v-document *ngIf="['DOC'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo">
        </app-v-document>
  
        <app-v-evaluation *ngIf="['EVAL'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"
        [pending]="pending" (loadingss)="changeLoading($event)"></app-v-evaluation>
  
        <app-v-folder *ngIf="['CARP'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo">
        </app-v-folder>
  
        <app-v-forum *ngIf="['FOR'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"
          [pending]="pending" (refreshPending)="refreshPending()" [listResponses]="listResponses"></app-v-forum>
  
        <app-v-link *ngIf="['ENL'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo">
        </app-v-link>
  
        <app-v-recorded-class *ngIf="['CLGR'].includes(element?.type_element?.codigo)" [element]="element"
          [userInfo]="userInfo"></app-v-recorded-class>
  
        <app-v-video *ngIf="['VID'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo">
        </app-v-video>
  
        <app-v-video-conference *ngIf="['VICO'].includes(element?.type_element?.codigo)" [element]="element"
          [userInfo]="userInfo"></app-v-video-conference>
  
        <app-v-works *ngIf="['TRAB'].includes(element?.type_element?.codigo)" [element]="element" [userInfo]="userInfo"
          [pending]="pending" (refreshPending)="refreshPending()" [rubrica]="rubrica" [has_rubric]="has_rubric" [calification]="calification"></app-v-works>
        <hr>

        <div  *ngIf="element?.topic?.modo === 'ordenado'" style="text-align: right;">
              <button nbButton status="primary" size="tiny" [disabled]="!element.next_page" (click)="nextElemento(element)">Siguiente <nb-icon icon="arrow-forward-outline"></nb-icon></button>
        </div>

      </div>
      <div class="col-md-3 sticky">
        <!-- class="menu-children mt-1 pe-2 pe-xl-4 pe-xxl-5" -->
        <!-- <app-menu-elements-child [topic_id]="element?.topic_id"
          [type_element_id]="element?.type_element_id" [id_element]="element?.id"
          (elementSelected)="elementSelected($event)"></app-menu-elements-child>
          <br> -->
          <app-menu-unit-topic-element [elemtent]="element" (elementSelected)="elementSelected($event)"></app-menu-unit-topic-element>
      </div>
    </div>
    <!-- <div class="menu-container">
      <app-menu-elements-child class="menu-children pe-2 pe-xl-4 pe-xxl-5" [topic_id]="element?.topic_id"
        [type_element_id]="element?.type_element_id" [id_element]="element?.id"
        (elementSelected)="elementSelected($event)"></app-menu-elements-child>
    </div> -->
  </div>
</div>