<div class="table-responsive">
  <table class="table table-sm">
    <thead>
    <tr>
      <th style="width: 1px">#</th>
      <th>Título</th>
      <th>Contenido</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Tipo</th>
      <th>Filtro</th>
      <th style="width: 1px" colspan="3">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listNewsPast; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.titulo}}</td>
      <td>{{item.contenido}}</td>
      <td>{{item.fecha_inicio}}</td>
      <td>{{item.fecha_fin}}</td>
      <td>{{item.type_filtro}}</td>
      <td>{{item.filtro}}</td>
      <th style="width: 1px">
        <button nbButton fullWidth size="tiny" status="primary" (click)="postNews(item)">Publicar noticia</button>
      </th>
      <th style="width: 1px">
        <button nbButton fullWidth size="tiny" status="warning" (click)="getFileItem(item)"><nb-icon icon="edit-outline"></nb-icon></button>
      </th>
      <th style="width: 1px">
        <button nbButton fullWidth size="tiny" status="danger" (click)="deleteNews(item)"><nb-icon icon="trash-outline"></nb-icon></button>
      </th>
    </tr>
    </tbody>
  </table>
</div>
