<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        ACTUALIZAR
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center" >
    <form [formGroup]="FormEditProgramStudy">
      <div class="p-4">
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Progra estudio iD:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="id_programa_estudio"
              fieldSize="small"
              placeholder="Ingrese programa ID"
            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Nombre:</label>
          <div class="col-md-9" disabled>
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="nombre"
              fieldSize="small"
              placeholder="Ingrese nombre"

            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Sede nombre:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="sede_nombre"
              fieldSize="small"
              placeholder="Ingrese sede"

            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Abreviatura:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="abr"
              fieldSize="small"
              placeholder="Ingrese abreviatura"

            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Canva ID:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="id_canva"
              fieldSize="small"
              placeholder="canva id"
            />
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="saveInformation()">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
