<div style="max-width: 800px;">
  <div class="row m-0">
    <div class="col-md-6">
      <nb-list>
        <nb-list-item *ngFor="let rel of relationList; let i = index"
          style="width: 150px; height: 50px; cursor: pointer;">
          <span (click)="setValue(rel, i)">{{ rel.relacion }}</span>
        </nb-list-item>
      </nb-list>
      <!-- for image -->
      <!-- <div *ngFor="let rel of relationList; let i = index" class="d-flex align-items-center mb-3">
        <nb-icon class="me-2" icon="radio-button-on-outline"></nb-icon>
        <figure class="mb-0 text-center">
          <img [src]="rel.relacionImg" style="max-height: 150px;" (click)="setValue(rel, i)">
          <figcaption class="mt-1">{{ rel.relacion }}</figcaption>
        </figure>
      </div> -->
    </div>
    <div class="col-md-6">
      <nb-list>
        <nb-list-item *ngFor="let item of randomList; let i = index" style="width: 100%; height: 50px;">
          <span (click)="value(item, i)">{{ item.relacion }}</span>
          <nb-select placeholder="Seleccione" size="small" status="primary" class="ms-auto">
            <nb-option *ngFor="let rel of relationList; let i = index" value="">{{ rel.relacion }}</nb-option>
          </nb-select>
        </nb-list-item>
      </nb-list>
      <!-- for image -->
      <!-- <div *ngFor="let item of secondList; let i = index" class="d-flex align-items-center mb-3">
        <nb-icon class="me-2" icon="radio-button-on-outline"></nb-icon>
        <figure class="mb-0 text-center">
          <img [src]="item.relacionImg" style="max-height: 150px;" (click)="value(item, i)">
          <figcaption class="mt-1">{{ item.relacion }}</figcaption>
        </figure>
      </div> -->
    </div>
  </div>
</div>