.status {
    width: 20px;
    height: 20px;
    background-color: #44da80;
    border-radius: 50%;
  }
  .status-end {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
  .seled {
    :hover {
      background: var(--color-primary-500) !important;
      color: white;
    }
  }