<nb-card class="m-0 h-100 border-0" style="border-radius: 15px;" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
    <nb-card-header>
        <div class="d-flex">
            <nb-icon icon="video-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
            <strong style="padding-top: 7px;">CUENTAS ZOOM POR ESCUELA</strong>
         </div>
        <hr>
        <form [formGroup]="formHeader">
        <div class="row">
            <div class="col-lg-3">
                <label class="label">Buscar cuenta</label>
                <input type="text" nbInput fullWidth fieldSize="small" placeholder="Buscar cuenta por correo" [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="col-lg-3" *ngIf="rolSemestre.area.area_id === 0">
              <label class="label">Facultades/Unidades</label>
              <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="facultades_unidades">
                <nb-option value="" disabled>Selecciona</nb-option>
                <nb-option *ngFor="let item of facultades" [value]="item" (click)="selecFacultades(item)">{{item.nombre}}</nb-option>
              </nb-select>
            </div>
            <div class="col-lg-3">
                <label class="label">Programa estudio</label>
                <!-- <app-input-select-search [listProgStud]="listProgramStudy" (changeSelected)="changeSelected($event)"></app-input-select-search>
                <app-select-search [listProgStud]="listProgramStudy" (changeSelected)="changeSelected($event)"></app-select-search>  -->
                    <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="programa_estudio_id">
                        <!-- <nb-option value="">Todos</nb-option> -->
                        <nb-option *ngFor="let item of listProgramStudy" [value]="item.id">{{item.name_programa_estudio}}</nb-option>
                    </nb-select>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="label" style="visibility: hidden;">Filtrar</label><br>
                        <button nbButton fullWidth size="small" status="warning" (click)="refresh()" *ngIf="rolSemestre.area.area_id === 0" [disabled]="formHeader.controls['facultades_unidades'].value == ''"><nb-icon icon="funnel"></nb-icon>Filtrar</button>
                        <button nbButton fullWidth size="small" status="warning" (click)="refresh()" *ngIf="rolSemestre.area.area_id !== 0"><nb-icon icon="funnel"></nb-icon>Filtrar</button>
                    </div>
                    <div class="col-sm-6">
                        <label class="label" style="visibility: hidden;">Crear</label><br>
                        <button nbButton fullWidth size="small" status="primary" (click)="newZoom()"><nb-icon icon="plus"></nb-icon>Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr style="font-size: 12px;">
                        <!-- <th style="width: 1px;">#</th> -->
                        <th style="width: 120px;" class="text-center">Código</th>
                        <th>Información</th>
                        <th style="width: 100px;" class="text-center">N° salas</th>
                        <th style="width: 300px;">Salas en línea</th>
                        <!-- <th style="width: 1px;">Estado</th> -->
                        <th colspan="4" class="text-center" style="width: 10px;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listZoom | FilterPipe: queryString:searchableList; let i = index" style="font-size: 12px; vertical-align: middle;">
                        <!-- <td>{{i+1}}</td> -->
                        <td class="text-center">{{item.id}}</td>
                        <td>
                           <label class="label">Correo: </label>&nbsp;&nbsp;{{item.correo}} <br>
                           <label class="label">Clave: </label>&nbsp;&nbsp;{{item.clave}} <br>
                           <label class="label">Escuela: </label>&nbsp;&nbsp;{{item.programa_estudio_nombre}} <br>
                           <label class="label">Ciclo: </label>&nbsp;&nbsp;{{item.ciclo}} <br>
                           <label class="label">Grupo: </label>&nbsp;&nbsp;{{item.grupo}} <br>
                           <label class="label">Host key: </label>&nbsp;&nbsp;{{item.host_key}}
                        </td>
                        <td class="text-center" style="color: brown; font-weight: bold;">{{item.salas}}</td>
                        <td style="vertical-align: middle;">
                            <!-- <div class="table-responsive" *ngIf="item?.salas_activas?.length>0">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr *ngFor="let det of item?.salas_activas">
                                            <td>{{det.nombre}}</td>
                                            <td class="text-center"> <nb-icon style="cursor: pointer;" icon="phone-call-outline" status="success"></nb-icon></td>
                                            <td class="text-center"> <nb-icon style="cursor: pointer;" icon="phone-off-outline" status="danger"></nb-icon></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                            <div *ngFor="let det of item?.salas_activas">
                                <div class="d-flex align-items-center justify-content-between">
                                    <strong>{{det.course_nombre}}</strong>
                                    <div>
                                        <nb-icon style="cursor: pointer;" icon="phone-call-outline" status="success"></nb-icon>&nbsp;
                                        <nb-icon style="cursor: pointer;" icon="phone-off-outline" status="danger"></nb-icon>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <!-- <td class="text-center">
                            <div *ngIf="item.estado === '1'" class="status ms-3"></div>
                            <div *ngIf="item.estado !== '1'" class="status-end ms-3"></div>
                        </td> -->
                        <td class="text-center" style="width: 70px;">
                            <nb-icon icon="edit" status="info" style="cursor: pointer; font-size: 25px;" (click)="updateZoom(item)"></nb-icon> <br>
                            Editar
                        </td>
                        <td class="text-center" style="width: 70px;">
                            <nb-icon icon="monitor-outline" status="warning" style="cursor: pointer; font-size: 25px;" (click)="openCourseZoom(item)"></nb-icon> <br>
                            Salas
                        </td>
                        <td class="text-center" style="width: 70px;">
                            <span *ngIf="!item?.token_access">
                                <nb-icon icon="flip-2-outline" status="success" style="cursor: pointer; font-size: 25px;" (click)="vincular()"></nb-icon> <br>
                                Vincular
                            </span>
                            <span *ngIf="item?.token_access">
                                <nb-icon icon="refresh-outline" status="success" style="cursor: pointer; font-size: 25px;" (click)="actualizar(item)"></nb-icon> <br>
                                Actualizar
                            </span>
                        </td>
                        <td class="text-center" style="width: 70px;">
                          <nb-icon icon="plus-circle-outline" status="primary" style="cursor: pointer; font-size: 25px;" (click)="openAddNew(item)"></nb-icon> <br>
                            Crear sala
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>
