<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <div class="container p-0 pe-4">
        <div class="d-flex align-items-center">
          <div class="p-2">
            <nb-icon icon="pricetags-outline" class="fs-2"></nb-icon>
          </div>
          <div class="ps-2">
            <h6 class="fs-6 lh-1">Unidad I: Primer titulo de la unidad</h6>
            <small>01 marzo al 04 abril</small>
          </div>
          <div class="ps-2 mb-3">
            <nb-button-group ghost>
              <button nbButton class="shadow-sm p-2">
                <nb-icon icon="edit-2-outline" class="fs-4"></nb-icon>
              </button>
            </nb-button-group>
          </div>
        </div>
        <hr class="me-3 mt-2" />
        <div class="row">
          <small class="fw-light text-muted">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit ea
            corporis obcaecati aperiam aspernatur recusandae vel tempore
            molestiae, eveniet ipsam iure impedit fugiat quas dolorum accusamus
            error vitae saepe explicabo!
          </small>
        </div>
      </div>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="container d-flex flex-column">
        <small class="fw-bold">Descripcion</small>
        <small>
          Conceptos fundamentales, recopilacion de informacion. Modelo
          Conceptual y Relacional
        </small>

        <small class="fw-bold">Resultado de apredizaje</small>
        <small>
          Elabora el modelo Entidad Relacion de la base de datos para un sistema
          de informacion
        </small>

        <app-sesion></app-sesion>
        <app-sesion></app-sesion>
        <app-sesion></app-sesion>
        <app-sesion></app-sesion>
        <app-sesion></app-sesion>
        <app-sesion></app-sesion>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<br />
