<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small" class="h-100">
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="fw-bold text-start" style="font-size: 16px">Preguntas</h5>
    <button
      *ngIf="showQuestion !== true && rolSemestre.rol.name === 'Estudiante'"
      nbButton
      status="primary"
      shape="round"
      size="tiny"
      outline
      (click)="preguntar()"
    >
      Preguntar
    </button>
  </div>

  <div class="question-container" style="text-align: justify; padding-top: 5px" [formGroup]="formHeader" *ngIf="rolSemestre.rol.name === 'Estudiante' && showQuestion === true">
    <div class="d-flex flex-column">
      <textarea
        nbInput
        fullWidth
        placeholder="Tienes alguna duda?"
        fieldSize="small"
        style="font-size: 12px"
        rows="4"
        formControlName="consulta"
      ></textarea>
      <div class="d-flex align-items-center justify-content-end">
        <nb-toggle formControlName="mostrar" status="basic" labelPosition="start">
          {{ formHeader.value.mostrar ? 'Privado' : 'Público' }}
        </nb-toggle>
        <button nbButton status="primary" size="small" class="ms-2 my-2" (click)="sendQuestion()" [disabled]="!formHeader.valid">
          Preguntar
        </button>
      </div>
    </div>
  </div>
  <div
    *ngFor="let item of questions; let i = index"
    class="comment-container row mt-3"
    [ngClass]="{ 'comment-container-public': item?.mostrar !== 'help' }"
  >
    <div class="photo-name col-2 col-md-1 col-xxl-3 p-0">
      <div class="photo-container">
        <img [src]="item?.person_foto" style="object-fit: cover" width="100%" height="100%" />
      </div>
      <div class="name-container my-1">
        <span class="name">{{ item?.person_nombre }} {{ item.codigo ? '(' + item.codigo + ')' : '' }}</span>
      </div>
      <span class="puntos-info">+ {{ item?.puntos }}</span>
    </div>
    <div class="text-comment col-10 col-md-11 col-xxl-9 pe-0" [ngClass]="{ 'text-comment-public': item?.mostrar !== 'help' }">
      <span>{{ item?.consulta }}</span>
      <span *ngIf="item.created_at" class="text-secondary ms-auto mt-auto" style="font-size: 10px">
        Hace {{ item?.expiredDays | i18nPlural: daysMap }} {{ item?.expiredHours | i18nPlural: hoursMap }}
        {{ item?.expiredMinutes | i18nPlural: minutesMap }}
      </span>
      <div class="d-flex align-items-center">
        <button
          nbButton
          shape="round"
          size="tiny"
          outline
          status="basic"
          class="me-2 custom-button"
          [ngClass]="{
            'custom-button-public': item?.mostrar !== 'help',
            'button-votado': item?.puntos_activo === 0 && item?.mostrar === 'help',
            'button-votado-public': item?.puntos_activo === 0 && item?.mostrar !== 'help'
          }"
          (click)="upVoteQuestion(item)"
          [disabled]="item?.puntos_activo === 0"
        >
          + 1
        </button>
        <button
          nbButton
          shape="round"
          size="tiny"
          outline
          status="basic"
          class="custom-button"
          [ngClass]="{ 'custom-button-public': item?.mostrar !== 'help' }"
          (click)="answerQuestionOnModal(item)"
        >
          Responder
        </button>
      </div>
    </div>
  </div>
</div>
