.excelente {
  border-bottom: 5px solid #10B981; color: #10B981; font-weight: bold;
}
.bueno {
  border-bottom: 5px solid #84CC16; color: #84CC16; font-weight: bold;
}
.regular {
  border-bottom: 5px solid #EAB308; color: #EAB308; font-weight: bold;
}
.deficiente {
  border-bottom: 5px solid #EF4444; color: #EF4444; font-weight: bold;
}
