<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button
          nbButton status="primary" size="small"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay($event)"
          >
          Anterior
        </button>
        <button nbButton status="warning" size="small"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay($event)">
          Hoy
        </button>
        <button nbButton
                status="primary" size="small"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay($event)">
          Siguiente
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate |   calendarDate:(view + 'ViewTitle') }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button nbButton status="primary" size="small"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
                >
          Mes
        </button>
        <button
          nbButton status="warning" size="small"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week">
          Semana
        </button>
        <button
          nbButton status="primary" size="small"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day">
          Dia
        </button>
      </div>
    </div>
  </div>
  <br/>
  <!-- {{viewDate}} -->
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>