<nb-card class="h-100" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small">
  <nb-card-header> FYFS </nb-card-header>
  <nb-card-body>
    <div *ngIf="rolSemestre?.rol?.name === 'Docente'" class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6 mb-2 mb-md-2">
            <button nbButton status="primary" size="small" fullWidth><nb-icon icon="plus-outline"></nb-icon>Nuevo</button>
          </div>
          <div class="col-md-6">
            <button nbButton status="info" size="small" outline fullWidth><nb-icon icon="flip-outline"></nb-icon>Importar</button>
          </div>
        </div>
        <div class="mt-4">
          <label class="label">Seleccione un(a) Docente</label>
          <nb-form-field class="mt-2" [formGroup]="formHeader">
            <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
            <input
              type="text"
              status="primary"
              fieldSize="small"
              placeholder="Buscar Docente"
              formControlName="termino"
              (keypress)="searchTeachers()"
              nbInput
              fullWidth
            />
            <button nbSuffix nbButton ghost status="danger" (click)="resetTeachers()">
              <nb-icon icon="close-square-outline" pack="eva"> </nb-icon>
            </button>
          </nb-form-field>
          <ul *ngIf="showTeachers" class="list-group">
            <li
              *ngFor="let item of listOfTeachers | appFilter: formHeader.value.termino:'nombres_completos'"
              appHighlight
              [searchedWord]="formHeader.value.termino"
              [content]="item.nombres_completos | titlecase"
              [classToApply]="'fw-bold'"
              [setTitle]="true"
              class="list-group-item list-group-item-action py-1"
              style="cursor: pointer"
              (click)="setTeacher(item)"
            >
              {{ item.nombres_completos | titlecase }}
            </li>
          </ul>

          <div *ngIf="listOfCourses.length > 0" class="mt-2">
            <label class="label">Seleccionar Curso</label>
            <nb-select status="primary" placeholder="Seleccione Curso" size="small" fullWidth multiple>
              <nb-option
                class="flex-wrap"
                *ngFor="let course of listOfCourses; let i = index"
                [value]="course.nombre"
                (click)="toggleOption(course)"
              >
                <div>{{ course.nombre }}</div>
                <nb-select
                  size="small"
                  status="primary"
                  [style.display]="course.show ? 'block' : 'none'"
                  placeholder=" - Seleccione la sesion"
                  (click)="toggleTopicOption($event, i)"
                  fullWidth
                  #secondSelect
                >
                  <nb-option *ngFor="let item of course.topics" [value]="item.tema" (click)="saveTopics($event, item)">
                    - {{ item.tema }}
                  </nb-option>
                </nb-select>
              </nb-option>
            </nb-select>
          </div>
          <div class="mt-4">
            <ul *ngIf="selectedTopics.length > 0" class="list-group">
              <li *ngFor="let topic of selectedTopics" class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ topic.tema }}</div>
                  {{ topic.course_name }}
                </div>
                <!-- <button nbButton size="tiny" status="danger" (click)="deleteTopic(topic)">
                    <nb-icon icon="close-square-outline"> </nb-icon>
                  </button> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">hohohohoho</div>
    </div>
    <div *ngIf="rolSemestre?.rol?.name !== 'Docente'">
      <h4>Vista solo para Docentes</h4>
    </div>
  </nb-card-body>
</nb-card>
