<nb-card class="h-100 border-0" style="border-radius: 15px">
  <nb-card-header>
    <div class="d-flex flex-wrap align-items-end mt-3 mx-2">
      <div class="d-flex align-items-center">
        <nb-icon style="width: 52px; height: 48px; color: #4CB8D8" icon="checkmark-circle-outline"></nb-icon>
        <p class="d-flex flex-column mb-0">
          <span class="mb-1" style="font-size: 24px; font-weight: bold">Mis Evaluaciones</span>
          <span style="font-size: 12px">2021-1 INGENIERÍA DE SISTEMAS</span>
        </p>
      </div>
      <div class="filters d-flex align-items-end gap-2 ms-3">
        <nb-form-field>
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select placeholder="50" shape="semi-round" size="small" status="primary" fullWidth
            [(selected)]="selectedItem">
            <nb-option value="1">50</nb-option>
          </nb-select>
        </nb-form-field>
        <nb-select shape="semi-round" size="small" status="primary" fullWidth [(selected)]="selectedItem">
          <nb-select-label>
            Curso: {{ option }}
          </nb-select-label>
          <nb-option value="1">Todos</nb-option>
        </nb-select>
        <nb-select shape="semi-round" size="small" status="primary" fullWidth [(selected)]="selectedItem">
          <nb-select-label>
            Tipo: {{ tipo }}
          </nb-select-label>
          <nb-option value="1">Videos</nb-option>
        </nb-select>
      </div>
      <div class="status d-flex gap-3 ms-auto">
        <div class="status-button pendiente active d-flex flex-column align-items-center">
          <div class="icon-container">
            <nb-icon icon="done-all-outline"></nb-icon>
          </div>
          <span>CALIFICADOS</span>
        </div>
        <div class="status-button pendiente d-flex flex-column align-items-center">
          <div class="icon-container">
            <nb-icon icon="flag-outline"></nb-icon>
          </div>
          <span>PENDIENTES</span>
        </div>
        <div class="status-button pendiente d-flex flex-column align-items-center">
          <div class="icon-container">
            <nb-icon icon="trending-up-outline"></nb-icon>
          </div>
          <span>PRÓXIMO</span>
        </div>
        <div class="status-button pendiente d-flex flex-column align-items-center">
          <div class="icon-container">
            <nb-icon icon="clock-outline"></nb-icon>
          </div>
          <span>RE-APERTURA</span>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-sm">
      <thead>
        <tr style="font-size: 14px;" class="fw-bold text-center">
          <th scope="col">ICONO</th>
          <th scope="col">NOMBRE ACTIVIDAD</th>
          <th scope="col">FINALIZA</th>
          <th scope="col">FECHA DE ENTREGA</th>
          <th scope="col">ESTADO</th>
          <th scope="col">RE-APERTURA</th>
          <th scope="col">CALIFICACIÓN</th>
          <th scope="col">VISTO</th>
          <th scope="col">ACCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of elements" style="font-size: 12px;" class="text-center">
          <td class="p-0 align-middle" style="width: 50px;" [ngStyle]="iconStyle(element)">
            <div class="d-flex align-items-center justify-content-center" style="height: 60px;">
              <nb-icon style="color: #fff; font-size: 20px;" icon="{{ element?.type_element?.icono }}"></nb-icon>
            </div>
          </td>
          <td class="align-middle">{{ element?.titulo }}</td>
          <td class="align-middle">{{ element?.fecha_fin | date:'dd/MM/yyyy, h:mm a' }}</td>
          <td class="align-middle">{{ element?.fecha_fin | date:'dd/MM/yyyy, h:mm a' }}</td>
          <td class="align-middle">Calificado</td>
          <td class="align-middle">
            <div class="d-flex align-items-center justify-content-center">
              <nb-icon icon="clock-outline"></nb-icon>
              <button nbButton ghost size="small">Solicitar</button>
            </div>
          </td>
          <td class="align-middle">
            <div class="d-flex align-items-center justify-content-center"><span class="calification">10 / 100</span>
            </div>
          </td>
          <td class="align-middle">
            <nb-icon style="color: #47DA82;" icon="checkmark-circle-2-outline"></nb-icon>
          </td>
          <td class="align-middle">
            <nb-icon icon="eye-outline" style="cursor: pointer;"></nb-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-center p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
      </ngb-pagination>
    </div>
  </nb-card-footer>
</nb-card>