.status {
  &-button {
    cursor: pointer;

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eceff6;
      padding: 15px;
      border-radius: 50%;

      nb-icon {
        color: #3b3b3d;
      }
    }

    span {
      color: #979797;
      font-size: 8px;
      font-weight: bold;
      margin-top: 10px;
      line-height: 0;
    }

    &:hover,
    &:active {
      .icon-container {
        background-color: #fbe6e6;

        nb-icon {
          color: #930735;
        }
      }

      span {
        color: #930735;
      }
    }
  }

  .active {
    .icon-container {
      background-color: #fbe6e6;

      nb-icon {
        color: #930735;
      }
    }

    span {
      color: #930735;
    }
  }
}

.status-end {
  width: 20px;
  height: 20px;
  background-color: #44da80;
  border-radius: 50%;
}

nb-select ::ng-deep {
  .select-button {
    min-width: 0;
  }
}

ngb-pagination ::ng-deep {
  .page-item.active .page-link {
    border-color: var(--color-primary-500) !important;
    background-color: var(--color-primary-300) !important;
  }

  .page-item .page-link {
    border-color: var(--color-primary-500) !important;
    color: var(--color-primary-500) !important;
  }

  .page-link:focus {
    box-shadow: none;
  }

  .pagination {
    margin-bottom: 0 !important;
  }
}

.calification {
  background-color: #eceff6;
  padding: 5px 25px;
  border-radius: 20px;
  color: #000000;

  &-good {
    background-color: #44da80;
  }

  &-regular {
    background-color: #ecdc41;
  }

  &-bad {
    background-color: #eb0000;
    color: #ffffff;
  }
}

.table-responsive {
  max-height: 58vh;
  // overflow-y: scroll;
}

thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ffffff;
  color: black;
}
