<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
    nbSpinnerMessage="Procesando información">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                PREPARAR IMAGEN
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <app-image-recorte
            [paramsInfoFile]="{
                key_file: keyFile,
                directory: directori,
                type: 'put'}"
            (resultFile)="fileResult($event)"
                            ></app-image-recorte>
    </nb-card-body>
</nb-card>