<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="globe-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Areas</strong>
    </div>
  </nb-card-header>

  <nb-card-body class="pb-0 d-flex flex-column">
    <form [formGroup]="formHeader">
      <div class="row">
        <div class="col-sm-9">
          <label class="label">Buscar nombre</label>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="Buscar...." formControlName="nombre"
                 (keyup)="keyNombre($event)">
        </div>
        <div class="col-sm-3">
          <label class="label" style="visibility: hidden;">Filtrar</label><br>
          <button nbButton size="small" status="warning" (click)="refresh()" class="m-1"
                  [disabled]="formHeader.controls['nombre'].value === '' ">
            <nb-icon icon="funnel"></nb-icon>
            Filtrar
          </button>
          <!--<button
            class="ms-auto m-1"
            nbButton
            (click)="open('', 'NEW')"
            status="primary"
            nbTooltip="Nuevo tipo elemento"
            size="small">
            <nb-icon icon="plus"></nb-icon>
            Crear
          </button>-->
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>Codigo</th>
          <th>Status</th>
          <th>Currency</th>
          <th>Total</th>
          <th>Datos</th>
          <th>Meta_data</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 10px; vertical-align: middle;" *ngFor="let item of pagosData">
          <td>{{item.pago_id}}</td>
          <td>{{item.status}}</td>
          <td>{{item.currency_symbol}}{{item.currency}}</td>
          <td>{{item.total}}</td>
          <td>

            <div class="d-flex flex-column " style="width: 100%; word-break: break-all" >
              <!--<span style="font-size: 10px"><strong>CANVA ID:</strong>  {{item.id_canva}}</span>-->
              <span style="font-size: 10px"><strong>First Name:</strong>  {{item.billing.first_name}}</span>
              <span style="font-size: 10px"><strong>Last name:</strong>  {{item.billing.last_name}}</span>
              <span style="font-size: 10px"><strong>Company</strong>  {{item.billing.company}}</span>
              <span style="font-size: 10px"><strong>Address</strong>  {{item.billing.address_1}} {{item.billing.address_2}}</span>
              <span style="font-size: 10px"><strong>Email</strong>  {{item.billing.email}}</span>
              <span style="font-size: 10px"><strong>Phone</strong>  {{item.billing.phone}}</span>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column " style="width: 100%; word-break: break-all" *ngFor="let dat of item.meta_data">
            <!--<span style="font-size: 10px"><strong>CANVA ID:</strong>  {{item.id_canva}}</span>-->
            <span style="font-size: 10px"><strong>Id:</strong>  {{dat.id}}</span>
            <span style="font-size: 10px"><strong>Key</strong>  {{dat.key}}</span>
          </div></td>
          <td>{{item.date_created}}</td>

          <td class="text-center" style="width: 1px; vertical-align: middle;">
            <div class="d-flex align-items-center justify-content-center">
              <!--<button nbButton size="tiny" status="info" (click)="open(item, 'UPDATE')">
                <nb-icon icon="edit" style="font-size: 25px; cursor: pointer;"></nb-icon>
              </button>-->
              <button nbButton size="tiny" status="danger" (click)="delete(item)">
                <nb-icon icon="trash" style="font-size: 25px; cursor: pointer;"></nb-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between align-items-center p-2">
      <div style="color: brown; font-weight: bold;">Total: {{pagination.sizeListData}}</div>
      <ngb-pagination [collectionSize]="pagination?.sizeListData" [(page)]="pagination.page" [maxSize]="20"
                      [disabled]="pagination?.isDisabledPage" [pageSize]="pagination?.sizePage"
                      class="d-flex justify-content-center" size="sm" [boundaryLinks]="true"
                      (pageChange)="loadPage($event)">
      </ngb-pagination>
      <div>
        <nb-form-field>
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select placeholder="Paginación" status="success" size="tiny" fullWidth
                     [(selected)]="selectedItem" (selectedChange)="sizeTable($event)">
            <nb-option *ngFor="let per of pagesCount" [value]="per">Paginar de {{per}} en {{per}}</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
