<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="globe-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Pagos</strong>
    </div>
  </nb-card-header>

  <nb-card-body class="pb-0 d-flex flex-column">
    <form [formGroup]="formHeader">
      <div class="row">
        <div class="col-sm-9">
          <label class="label">Buscar nombre</label>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="Buscar...." formControlName="nombre"
                 (keyup)="keyNombre($event)">
        </div>
        <div class="col-sm-2 ms-auto">
          <label class="label" style="visibility: hidden;">Filtrar</label><br>
          <button fullWidth nbButton size="small" status="warning" (click)="refresh()"
                  [disabled]="formHeader.controls['nombre'].value === '' ">
            <nb-icon icon="funnel"></nb-icon>
            Filtrar
          </button>
          <!--<button
            class="ms-auto m-1"
            nbButton
            (click)="open('', 'NEW')"
            status="primary"
            nbTooltip="Nuevo tipo elemento"
            size="small">
            <nb-icon icon="plus"></nb-icon>
            Crear
          </button>-->
        </div>
      </div>
    </form>
    <hr style="background-color: #EDF1F7; color: #EDF1F7">
    <div class="d-flex align-items-center justify-content-center flex-wrap">
      <div class="text-center d-flex align-items-center justify-content-center">
        <strong class="text-leyend">Estado lamb ≠ (1) y status(completed)</strong>
        <div class="circle" style="background: #F6DADE"></div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center">
        <strong class="text-leyend">Estado lamb = (1) y status(completed)</strong>
        <div class="circle" style="background: #C6F2D7"></div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center">
        <strong class="text-leyend">Estado lamb ≠ 1 y status(created) </strong>
        <div class="circle" style="background: #EEC7A1"></div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th style="width: 1px">#</th>
          <th>Codigo</th>
          <th>Status</th>
          <th>Datos</th>
          <th>Moneda</th>
          <th>Total</th>
          <th>Fecha</th>
          <th>Lamb sincro</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 10px; vertical-align: middle;" *ngFor="let item of pagosData; let i = index" [ngStyle]="{'background-color': item.color_error}">
          <td>{{i+1}}</td>
          <td>{{item.id_pago}}</td>
          <td>{{item.status}}</td>
          <td>
            <div class="d-flex flex-column " style="width: 100%; word-break: break-all" >
              <!--<span style="font-size: 10px"><strong>CANVA ID:</strong>  {{item.id_canva}}</span>-->
              <span style="font-size: 10px"><strong>Nmbres:</strong>  {{item.billing.first_name}} {{item.billing.last_name}}</span>
              <span style="font-size: 10px"><strong>DNI:</strong>  {{item.dni}}</span>
            </div>
          </td>
          <td>{{item.currency_symbol}}{{item.currency}}</td>
          <td>{{item.total}}</td>
          <td>{{item.date_created}}</td>
          <td>
            <div class="d-flex flex-column " style="width: 100%; word-break: break-all" >
              <!--<span style="font-size: 10px"><strong>CANVA ID:</strong>  {{item.id_canva}}</span>-->
              <span style="font-size: 10px"><strong>Estado:</strong>  {{item.estado_lamb === '1'? 'Procesado': ''}}</span>
              <span style="font-size: 10px"><strong>Info:</strong>  {{item.estado_lamb_descripcion}}</span>
            </div>
          </td>
          <td class="text-center" style="width: 1px; vertical-align: middle;">
            <div class="d-flex align-items-center justify-content-center">
              <button nbButton size="tiny" status="info" (click)="reload(item)" *ngIf="item.estado_lamb !== '1' && item.status == 'completed'">
                <nb-icon icon="flip-outline" style="font-size: 25px; cursor: pointer;"></nb-icon>
              </button>
              <!--<button nbButton size="tiny" status="danger" (click)="delete(item)">
                <nb-icon icon="trash" style="font-size: 25px; cursor: pointer;"></nb-icon>
              </button>-->
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between align-items-center p-2">
      <div style="color: brown; font-weight: bold;">Total: {{pagination.sizeListData}}</div>
      <ngb-pagination [collectionSize]="pagination?.sizeListData" [(page)]="pagination.page" [maxSize]="20"
                      [disabled]="pagination?.isDisabledPage" [pageSize]="pagination?.sizePage"
                      class="d-flex justify-content-center" size="sm" [boundaryLinks]="true"
                      (pageChange)="loadPage($event)">
      </ngb-pagination>
      <div>
        <nb-form-field>
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select placeholder="Paginación" status="success" size="tiny" fullWidth
                     [(selected)]="selectedItem" (selectedChange)="sizeTable($event)">
            <nb-option *ngFor="let per of pagesCount" [value]="per">Paginar de {{per}} en {{per}}</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
