<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                MODO DE VISUALIZACIÓN: {{item?.orden_tema}}. {{item?.tema}}
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formHeader">
            <nb-radio-group formControlName="modo">
                <nb-radio value="agrupado">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align: middle;" rowspan="3">
                                               <label class="label">Agrupado</label>
                                            </th>
                                            <th>
                                                <nb-icon icon="list-outline" style="background: #246C75; color: white; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="play-circle-outline" style="color: #DE4A5D; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="external-link-outline" style="color: #DEDB04; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="message-circle-outline" style="color: #E39800; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="file-text-outline" style="color: #002885; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="folder-outline" style="color: #94124e; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="video-outline" style="color: #2BADD3; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="folder-add-outline" style="color: #6DCB96; font-size: 30px"></nb-icon>&nbsp;&nbsp;
                                                <nb-icon icon="checkmark-circle-outline" style="color: #62257C; font-size: 30px"></nb-icon>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <strong> 1. </strong><nb-icon icon="list-outline" style="color: #246C75; font-size: 20px;"></nb-icon>&nbsp;&nbsp;<label style="font-weight: bold;" class="label">Título del elemento</label> <br>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label" style="padding-top: 0px; padding-bottom: 0px;">Descripcion del elemento creado.</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <strong> 2. </strong><nb-icon icon="list-outline" style="color: #246C75; font-size: 20px;"></nb-icon>&nbsp;&nbsp;<label style="font-weight: bold;" class="label">Título 2 del elemento</label> <br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label" style="padding-top: 0px; padding-bottom: 0px;">Descripcion del elemento creado.</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <label class="label" style="color: brown;">Modo agrupado: Se mostrará al estudiante los elementos agrupados según su tipo.</label>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                </nb-radio>
                
                <nb-radio value="ordenado">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;" rowspan="3" colspan="2">
                                        <label class="label">Ordenado</label>
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 80px"></td>
                                    <td>
                                        <strong> 1. </strong><nb-icon icon="list-outline" style="color: #246C75; font-size: 20px;"></nb-icon>&nbsp;&nbsp;<label style="font-weight: bold;" class="label">Título del elemento</label> <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label" style="padding-top: 0px; padding-bottom: 0px;">Descripcion del elemento creado.</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 80px"></td>
                                    <td>
                                        <strong> 2. </strong><nb-icon icon="play-circle-outline" style="color: #DE4A5D; font-size: 20px;"></nb-icon>&nbsp;&nbsp;<label style="font-weight: bold;" class="label">Título 2 del elemento</label> <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label" style="padding-top: 0px; padding-bottom: 0px;">Descripcion del elemento creado.</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 80px"></td>
                                    <td>
                                        <strong> 3. </strong><nb-icon icon="external-link-outline" style="color: #DEDB04; font-size: 20px;"></nb-icon>&nbsp;&nbsp;<label style="font-weight: bold;" class="label">Título 2 del elemento</label> <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label" style="padding-top: 0px; padding-bottom: 0px;">Descripcion del elemento creado.</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 80px"></td>
                                    <td>
                                        <strong> 4. </strong><nb-icon icon="message-circle-outline" style="color: #E39800; font-size: 20px;"></nb-icon>&nbsp;&nbsp;<label style="font-weight: bold;" class="label">Título 2 del elemento</label> <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="label" style="padding-top: 0px; padding-bottom: 0px;">Descripcion del elemento creado.</label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <label class="label" style="color: brown;">Modo ordenado: Se mostrará al estudiante los elementos según su órden.</label>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </nb-radio>
              </nb-radio-group>
        </form>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
        <button nbButton status="primary" size="small" [disabled]="formHeader.invalid" (click)="saveModo()">Guardar</button>
    </nb-card-footer>
</nb-card>