.home-icon {
  cursor: pointer;
  color: #575756;
}

.home-icon:hover {
  color: var(--color-primary-500);
}

::ng-deep app-ng-dynamic-breadcrumb a.ng-star-inserted:hover {
  text-decoration: none !important;
  color: var(--color-primary-500) !important;
}
