<div [nbSpinner]="spinner || loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-layout withScroll [windowMode]="false">
    <nb-layout-header class="header-actions" fixed>
      <nb-actions>
        <nb-action icon="menu-2-outline" (click)="toggle()"></nb-action>
        <nb-action>
          <img *ngIf="!hidden" src="assets/logo-lamb-learning-blanco.svg" alt="Lamb" class="logo" />
        </nb-action>
      </nb-actions>
      <nb-actions class="flex-grow-1">
        <nb-action  class="flex-grow-1 justify-content-end">

            <div class="flex-grow-1">
              <input *ngIf="statusSearch"
                     type="text"
                     placeholder="Buscar..."
                     nbInput
                     fullWidth
                     fieldSize="small"
                     (keyup.enter)="searchElements($event)">

              <div *ngIf="statusSearch" class="position-relative">
                <ul class="list-group position-absolute top-0 start-0 w-100">
                  <li class="list-group-item list-group-item-action">Buscando "{{termino}}"</li>
                  <li class="list-group-item list-group-item-action"
                      *ngFor="let item of ejemploSugerido">{{item.nombre}}</li>
                </ul>
              </div>
            </div>
            <button nbButton
                    ghost
                    status="primary"
                    size="medium"
                    (click)="openSearch(statusSearch)">
              <nb-icon icon="search-outline"></nb-icon>
            </button>

        </nb-action>

        <nb-action *ngIf="rolSemestre?.rol?.name === 'Docente'">
          <button nbButton ghost nbTooltip="Crear elementos" nbTooltipStatus="primary" nbTooltipPlacement="left" status="primary" size="medium" (click)="newElements()"><nb-icon icon="plus-outline"></nb-icon></button>
        </nb-action>
        <nb-action class="p-0">
          <!--  -->
          <form [formGroup]="formHeader">
            <button
              nbButton
              outline
              size="small"
              ghost
              [nbPopover]="templateRef"
              nbPopoverPlacement="bottom"
              nbPopoverTrigger="noop"
              (click)="open()"
            >
              {{ paramsSessionStorage?.rol?.name || 'Sin rol' }} -
              {{ paramsSessionStorage?.semestre?.nombre || 'Sin semestre' }}
            </button>
            <ng-template #templateRef>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar datos </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Rol</label><br />
                    <nb-select
                      placeholder="Rol"
                      size="small"
                      formControlName="id_rol"
                      (selectedChange)="changeRol($event)"
                    >
                      <nb-option *ngFor="let rol of roles; let i = index" [value]="rol.id">{{ rol.name }}</nb-option>
                    </nb-select>
                  </div>
                  <div>
                    <label class="label">Semestre</label><br />
                    <nb-select
                      placeholder="Semestre"
                      size="small"
                      formControlName="id_semestre"
                      (selectedChange)="changeSemestre()"
                    >
                      <nb-option *ngFor="let semestre of semestres; let i = index" [value]="semestre.id"
                        >Semestre - {{ semestre.nombre }}</nb-option
                      >
                    </nb-select>
                  </div>
                </nb-card-body>
                <br />
                <div class="text-center">
                  <button nbButton outline size="tiny" ghost (click)="close()">Cerrar</button>&nbsp;
                  <button
                    nbButton
                    outline
                    size="tiny"
                    hero
                    status="primary"
                    (click)="saveChanges()"
                    [disabled]="formHeader.invalid"
                  >
                    Guardar
                  </button>
                </div>
              </nb-card>
            </ng-template>
          </form>
        </nb-action>

        <nb-action class="d-none d-md-flex">
          <form [formGroup]="formHeader">
            <div [nbPopover]="templat" nbPopoverPlacement="bottom" style="cursor: pointer">
              <img [src]="logoLangs" height="20px" alt="" />
            </div>
            <ng-template #templat>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar idioma </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Lenguaje</label><br />
                    <nb-radio-group formControlName="lenguaje" (ngModelChange)="changesLangs()">
                      <nb-radio *ngFor="let item of listLanguages" [value]="item.code"
                        >&nbsp;&nbsp;&nbsp;&nbsp;<img [src]="item?.img" height="20px" alt="" />&nbsp;&nbsp;{{
                          item?.name
                        }}</nb-radio
                      >
                    </nb-radio-group>
                  </div>
                </nb-card-body>
                <!-- <br>
                    <div class="text-center">
                        <button nbButton outline size="tiny" hero status="primary">
                          Guardar
                        </button>
                      </div> -->
              </nb-card>
            </ng-template>
          </form>
        </nb-action>
        <nb-action [nbContextMenu]="userMenu" class="d-none d-md-flex">
          <nb-user
            class="header-user"
            [name]="user?.name"
            [title]="user?.email"
            [picture]="user?.profile_photo_path"
            [onlyPicture]="minimum"
            size="large"
          ></nb-user>
        </nb-action>
      </nb-actions>
    </nb-layout-header>
    <nb-sidebar responsive tag="core-sidebar">
      <nb-menu [items]="MENU_ITEMS" tag="core-menu"></nb-menu>
      <nb-sidebar-footer  *ngIf="!minimum">
        <nb-toggle (checkedChange)="changeTheme($event)">
          <span class="text-white">TEMA</span>
        </nb-toggle>
      </nb-sidebar-footer>
    </nb-sidebar>
    <nb-layout-column class="p-2 ps-0 background">
      <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer class="d-block d-md-none header-actions fixed">
      <nb-actions>
        <nb-action class="text-white">Copyright © {{ date | date: 'yyyy' }} UPeU</nb-action>
      </nb-actions>
      <nb-actions class="ms-auto">
        <nb-action>
          <form [formGroup]="formHeader">
            <div [nbPopover]="templat" nbPopoverPlacement="bottom" style="cursor: pointer">
              <img [src]="logoLangs" height="20px" alt="" />
            </div>
            <ng-template #templat>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar idioma </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Lenguaje</label><br />
                    <nb-radio-group formControlName="lenguaje" (ngModelChange)="changesLangs()">
                      <nb-radio *ngFor="let item of listLanguages" [value]="item.code"
                        >&nbsp;&nbsp;&nbsp;&nbsp;<img [src]="item?.img" height="20px" alt="" />&nbsp;&nbsp;{{
                          item?.name
                        }}</nb-radio
                      >
                    </nb-radio-group>
                  </div>
                </nb-card-body>
                <!-- <br>
                  <div class="text-center">
                      <button nbButton outline size="tiny" hero status="primary">
                        Guardar
                      </button>
                    </div> -->
              </nb-card>
            </ng-template>
          </form>
        </nb-action>
        <nb-action [nbContextMenu]="userMenu">
          <nb-user
            class="header-user"
            [name]="user?.name"
            [title]="user?.email"
            [picture]="user?.profile_photo_path"
            [onlyPicture]="minimum"
            size="medium"
          ></nb-user>
        </nb-action>
      </nb-actions>
    </nb-layout-footer>
  </nb-layout>
</div>
