:host {
  ::ng-deep nb-layout-header.header-actions nav {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  ::ng-deep nb-layout-footer.header-actions nav {
    background-color: var(--header-background-color) !important;
    border: none !important;
  }

  ::ng-deep nb-layout-footer.header-actions {
    &.fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1040;
    }
  }

  h4 {
    color: white;
  }

  ::ng-deep nb-user.header-user div {
    color: white;
  }

  ::ng-deep nb-action nb-icon {
    color: white;
  }
}

.logo {
  width: 120px;
}
nb-sidebar.menu-colapse{
  height: var(--header-height);
  background-color: #043a62;
}
div.menu-new {
  background-color:var(--menu-background-color);
  height: -webkit-fill-available;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: -0.4rem;
}
nb-sidebar.expanded div.menu-new {
  width: 16rem;
}
nb-sidebar.compacted div.menu-new {
  width: 3rem;
}
nb-menu ul.menu-items{
  padding-top: 0.4rem !important;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 80px;
  }

  nb-layout-column {
    margin-bottom: 62px;
  }
}
nb-sidebar.expanded div.showTools {
  width: 15.4rem;
}
nb-sidebar.compacted div.showTools {
  padding: 0 5px;
  width: 3rem;
  .container-pending {
  }
}
.showTools{
  padding: 15px;
  box-shadow: inset -2px 0px 3px #00000029;
  margin-right: -0.4rem;
  background-color: var(--color-primary-70);
  position: absolute;
  height: auto;
  min-height: 95%;
  left: 0;
  border-radius: 0 10px 10px 0;
  .container-tools{
    align-items: center;
    text-align: center;
    .text2 small{
      color: var(--color-primary-400);
    }
  }
}
.background {
  background: var(--background-color) !important;
}
.text {
  color: white !important;
}
.div-Class-open{
  display: none;
  max-width: none;
}
.animations {

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 15px #00000012;
  }
}
.input-wrapper{
  position: relative;
}
.icon-button{
  position: absolute;
  width: auto;
  right: 10px;
  text-align: center;
  z-index: 99999;
  top: auto;
}
@media screen and (max-width: 1200px){
  .div-Class-open{
    background-color: var(--color-primary-900);
    display: flex;
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 0 0 56px;
    padding: 5px 0;
  }
  .div-Class{
    display: none;
    max-width: none;
  }
  .input2{
    position: relative;
    flex-grow:1;

  }
}
@media screen and (max-width: 575px) {
  .div-Class-open{
    margin: 0;
  }
  .btn-collpse{
    display: none;
  }
  .tweak-button{
    display: none;
  }
}
.notifications{
  position: absolute;
  margin-left: 20px;
  background: red;
  margin-bottom: 22px;
  padding: 0 3px;
  border-radius: 20px
}
@media screen and (max-width: 575px){
  #btn-mas{
    display: none;
  }
  .container-movile{
    position: fixed;
    top: 10%;
    right: 10px;
  }
  .icon-conteiner .iconCC, .icon-mas2{
    display: block;
    background-color: var(--color-primary-900);
    color: #FFFFFF;
    width: 45px;
    padding: 13px 9px;
    height: 45px;
    text-align: center;
    //line-height: 45px;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
  }
  nb-icon{
    width: 17px;
    height: 17px;
  }
  .icon-conteiner .iconCC:hover{
    background: var(--color-primary-400);
    //color: #cc2b2b;
  }
  .icon-conteiner .iconCC{
    margin-bottom: -15px;
    opacity: 0;
    display: none;
  }
  #btn-mas:checked~  .icon-conteiner .iconCC{
    margin-bottom: 1px;
    opacity: 1;
    display: block;
  }
  .icon-mas2{
    cursor: pointer;
    background-color: var(--color-primary-900);
    font-size: 10px;
  }
  #btn-mas:checked ~ .btn-mas .icon-mas2{
    transform: rotate(90deg);
    font-size: 25px;
  }
}
.tweak-button {
  position: absolute;
  cursor: pointer;
}
.rights{
  background-color: #E6E8EC;
  position: fixed;
  //z-index: 9999;
  display: flex;
  box-shadow: inset -2px 0px 3px #00000029;
  flex-direction: column;
  top: 50%;
  width: 10px;
  height: 200px;
  justify-content: center;
  align-items: center;
  right: 0;
  transform: translateY(-50%);
  border-radius: 0px 12px 12px 0px;
  span {
    font-size: 9px;
    font-weight: bold;
    color: #98A9B9;
    display: block;
    line-height: 9px;
  }

}
@media screen and (max-width: 1200px) {

}



