<div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <nb-layout withScroll [windowMode]="false">
    <nb-layout-header class="header-actions" fixed>
      <nb-actions>
        <nb-action icon="menu-2-outline" class="menu-colapse" (click)="toggle()"></nb-action>
        <nb-action>
          <img *ngIf="!hidden" src="assets/logo-lamb-learning-blanco.svg" alt="Lamb" class="logo" />
        </nb-action>
      </nb-actions>
      <nb-actions class="flex-grow-1" >
        <nb-action  class="flex-grow-1 justify-content-end" >
            <div class="flex-grow-1 div-Class" #searhEvent *ngIf="userSimulate?.id !== rolSimulate?.id && userSimulate === null">
              <div class="input-wrapper">
                <input *ngIf="statusSearch"
                       type="text"
                       class="input2"
                       placeholder="Buscar..."
                       nbInput
                       fullWidth
                       [formControl]="search"
                       fieldSize="small"
                       (keyup.enter)="searchEnter($event)">
                <button [ngStyle]="{'display':statusSearch === false? 'none': 'block' }" class="icon-button" *ngIf="data.length !== 0 " nbSuffix nbButton size="small" ghost (click)="resetInput()">
                  <nb-icon icon="close-square-outline" pack="eva" style="color: red"></nb-icon>
                </button>
              </div>

              <div *ngIf="statusSearch" class="position-relative" style="height: 0" [ngStyle]="{'display': data.length !== 0? 'block': 'none'}">
                <ul class="list-group position-absolute top-0 start-0 w-100" style="z-index: 9999; max-height: 500px; height: 50vh;">
                  <li class="list-group-item list-group-item-action" *ngIf="search.value != ''">Buscar "{{search.value}}"</li>
                  <li class="list-group-item" style="overflow-y: auto"
                      *ngIf="data.length !== 0">
                    <div class="d-flex justify-content-between flex-wrap-reverse animations" *ngFor="let item of data" style="border: 1px solid #CED9E6; margin:10px 2px; padding: 8px 0 8px 5px; height: auto; cursor: pointer" (click)="urlEvent(item)">
                      <div class="d-flex justify-content-start align-items-center" >
                        <div>
                          <img [src]="item.imagen" alt="" width="80px">
                        </div>
                        <div style="margin-left: 10px">
                          <small><strong>{{item.titulo | titlecase}}</strong></small><br>
                          <small class="label" style="font-size: 12px" *ngIf="item.hora !== 'online'">Ultimo acceso hace {{item.hora}}</small>
                          <small style="font-size: 12px; color: var(--color-success-500)" *ngIf="item.hora === 'online'">{{item.hora}}</small><br>
                          <small><strong>detalle: </strong> {{item.detalle}}</small>
                        </div>
                      </div>
                      <div style="right: 0; top: 5px;">
                        <span class="badge bg-warning" *ngIf="item.tipo === 'persona'" style="text-transform: uppercase; font-size: 10px;">Persona</span>
                        <span class="badge bg-success" *ngIf="item.tipo === 'cursos'" style="text-transform: uppercase; font-size: 10px;">Curso</span>
                      </div>
                    </div>

                  </li>
                  <li *ngIf="data.length !== 0" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-between align-items-center flex-wrap" style="border: 1px dashed #CED9E6; margin:2px 1px; padding: 6px 15px; height: auto">
                      <small><strong>Coincidencias</strong></small>
                      <small>Personas: {{countPerson}}</small>
                      <small>Cursos: {{countCourse}}</small>
                      <small>Elementos: </small>
                      <!--<button nbButton size="tiny" status="info">Ver todos</button>-->
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action" *ngIf="countPerson == 0 && countCourse === 0">No se encontraron resultados</li>
                </ul>
              </div>
            </div>
            <button *ngIf="statusSearch === false" nbButton
                    ghost
                    status="primary"
                    size="medium"
                    (click)="searchClicOpen(statusSearch)">
              <nb-icon icon="search-outline"></nb-icon>
            </button>
          <button *ngIf="statusSearch === true" nbButton
                  ghost
                  status="primary"
                  size="medium">
            <nb-icon icon="search-outline"></nb-icon>
          </button>

        </nb-action>

        <nb-action *ngIf="userSimulate?.id === rolSimulate?.id && userSimulate !== null">
              <button nbButton size="small" status="warning" (click)="logoutSimular()">Dejar de simular</button>
        </nb-action>
        <nb-action *ngIf="rolSemestre?.rol?.name !== 'Estudiante'">
          <button nbButton ghost nbTooltip="Crear elementos" nbTooltipStatus="primary" nbTooltipPlacement="left" status="primary" size="medium" (click)="newElements()"><nb-icon icon="plus-outline"></nb-icon></button>
        </nb-action>
        <nb-action class="p-0 d-none d-sm-flex">
          <!--  -->
          <form [formGroup]="formHeader">
            <button
              nbButton
              outline
              size="small"
              ghost
              [nbPopover]="templateRef"
              nbPopoverPlacement="bottom"
              nbPopoverTrigger="noop"
              (click)="open()">
              {{ paramsSessionStorage?.rol?.name || 'Sin rol' }} {{paramsSessionStorage?.rol?.area_name !== ""? '-': '' }} {{paramsSessionStorage?.rol?.area_name}} <br>
              {{ paramsSessionStorage?.semestre?.nombre || 'Sin semestre' }}
            </button>
            <ng-template #templateRef>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar datos </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Rol</label><br />
                    <nb-select
                      placeholder="Rol"
                      size="small"
                      formControlName="id_rol"

                    >
                      <nb-option *ngFor="let rol of roles; let i = index" [value]="rol" (click)="changeRol(rol)">{{ rol.name }}{{rol.area_name !== ""? '-': ''}}{{rol.area_name}}</nb-option>
                    </nb-select>
                  </div>
                  <div>
                    <label class="label">Semestre</label><br />
                    <nb-select
                      placeholder="Semestre"
                      size="small"
                      formControlName="id_semestre"
                      (selectedChange)="changeSemestre()"
                    >
                      <nb-option *ngFor="let semestre of semestres; let i = index" [value]="semestre.id"
                        >Semestre - {{ semestre.nombre }}</nb-option
                      >
                    </nb-select>
                  </div>
                </nb-card-body>
                <br />
                <div class="text-center">
                  <button nbButton outline size="tiny" ghost (click)="close()">Cerrar</button>&nbsp;
                  <button
                    nbButton
                    outline
                    size="tiny"
                    hero
                    status="primary"
                    (click)="saveChanges()"
                    [disabled]="formHeader.invalid"
                  >
                    Guardar
                  </button>
                </div>
              </nb-card>
            </ng-template>
          </form>
        </nb-action>
        <!--<nb-action class="p-1 d-none d-sm-flex">
          <div>
            <div class="d-flex align-items-center">
              <button nbButton
                      ghost
                      size="medium"
                      nbPopoverPlacement="bottom"
                      [nbPopover]="notificationsRef"

              >
                <nb-icon icon="bell-outline"></nb-icon>
              </button>
              <div class="notifications" *ngIf="notificationCount > 0">
                <small style="color: #FFFFFF; font-size: 12px">{{notificationCount >= 99? '99+': notificationCount}}</small>
              </div>
            </div>
            <ng-template #notificationsRef style="width: 60%">
              <app-m-notifications></app-m-notifications>
            </ng-template>
          </div>
        </nb-action>-->
       <!-- <nb-action class="d-none d-md-flex">
          <form [formGroup]="formHeader" >
            <div [nbPopover]="templat" nbPopoverPlacement="bottom" style="cursor: pointer">
              <img [src]="logoLangs" height="20px" alt="" />
            </div>
            <ng-template #templat>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar idioma </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Lenguaje</label><br />
                    <nb-radio-group formControlName="lenguaje" (ngModelChange)="changesLangs()">
                      <nb-radio *ngFor="let item of listLanguages" [value]="item.code"
                        >&nbsp;&nbsp;&nbsp;&nbsp;<img [src]="item?.img" height="20px" alt="" />&nbsp;&nbsp;{{
                          item?.name
                        }}</nb-radio
                      >
                    </nb-radio-group>
                  </div>
                </nb-card-body>
                 <br>
                    <div class="text-center">
                        <button nbButton outline size="tiny" hero status="primary">
                          Guardar
                        </button>
                      </div>
              </nb-card>
            </ng-template>
          </form>
          ///email [title]="user?.email"
        </nb-action>-->
        <nb-action [nbContextMenu]="userMenu" class="d-none d-md-flex">
          <nb-user
            class="header-user"
            [name]="user?.name"

            [picture]="user?.profile_photo_path"
            [onlyPicture]="minimum"
            size="large"
          ></nb-user>
        </nb-action>
      </nb-actions>
      <!-- --------------------buscador-------------------- -->
      <div *ngIf="statusSearch" class="div-Class-open me-2" #searhEvent2>
        <input
               class="input2"
               type="text"
               placeholder="Buscar..."
               nbInput
               fullWidth
               [formControl]="search"
               fieldSize="small"
               (keyup.enter)="searchEnter($event)">
        <div *ngIf="statusSearch" class="" style="height: 0" [ngStyle]="{'display': data.length !== 0? 'block': 'none'}">
          <ul class="list-group position-absolute top-100 start-0 w-100" style="z-index: 9999; max-height: 500px; height: 50vh;">
            <li class="list-group-item list-group-item-action" *ngIf="search.value != ''">Buscar "{{search.value}}"</li>
            <li class="list-group-item" style="overflow-y: auto;" *ngIf="data.length !== 0">
              <div class="d-flex justify-content-between flex-wrap-reverse"
                   (click)="urlEvent(item)"
                   *ngFor="let item of data"
                   style="border: 1px solid #CED9E6; margin:10px 2px; padding: 8px 0 0 5px; cursor: pointer">
                <div class="d-flex justify-content-start align-items-center">
                  <div>
                    <img [src]="item.imagen" alt="" width="40px">
                  </div>
                  <div style="margin-left: 10px">
                    <small><strong>{{item.titulo | titlecase}}</strong></small><br>
                    <small class="label" style="font-size: 12px">Ultimo acceso hace 23 horas</small><br>
                    <small>Detalle: {{item.detalle}}</small>
                  </div>
                </div>
                <div style="right: 0; top: 5px;">
                  <span class="badge bg-warning" *ngIf="item.tipo === 'persona'" style="text-transform: uppercase; font-size: 10px;">Persona</span>
                  <span class="badge bg-success" *ngIf="item.tipo === 'cursos'" style="text-transform: uppercase; font-size: 10px;">Curso</span>
                </div>
              </div>
            </li>
            <li *ngIf="data.length !== 0" class="list-group-item list-group-item-action">
              <div class="d-flex justify-content-between align-items-center flex-wrap" style="border: 1px dashed #CED9E6; margin:2px 1px; padding: 6px 15px; height: auto">
                <small><strong>Coincidencias</strong></small>
                <small>Personas: {{countPerson}}</small>
                <small>Cursos: {{countCourse}}</small>
                <small>Elementos: -</small>
              </div>
            </li>
            <li class="list-group-item list-group-item-action" *ngIf="countPerson == 0 && countCourse === 0">No se encontraron resultados</li>
          </ul>
        </div>
      </div>
      <!-- -------------------- termina buscador-------------------- -->

      <!-- --------------------------boton flotante------------------ -->
      <div class="container-movile d-block d-sm-none">
        <input type="checkbox" id="btn-mas">
        <div class="btn-mas">
          <label for="btn-mas"><nb-icon class="icon-mas2" icon="more-vertical-outline"></nb-icon></label>
        </div>
        <div class="icon-conteiner">
          <div class="iconCC" [nbPopover]="templat" nbPopoverPlacement="left" style="cursor: pointer">
            <form [formGroup]="formHeader" >
              <img [src]="logoLangs" height="20px" alt="" />
              <ng-template #templat>
                <nb-card style="padding-bottom: 0px">
                  <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar idioma </nb-card-header>
                  <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                    <div>
                      <label class="label">Lenguaje</label><br />
                      <nb-radio-group formControlName="lenguaje" (ngModelChange)="changesLangs()">
                        <nb-radio *ngFor="let item of listLanguages" [value]="item.code"
                        >&nbsp;&nbsp;&nbsp;&nbsp;<img [src]="item?.img" height="20px" alt="" />&nbsp;&nbsp;{{
                          item?.name
                          }}</nb-radio
                        >
                      </nb-radio-group>
                    </div>
                  </nb-card-body>
                  <br>
                  <div class="text-center">
                    <button nbButton outline size="tiny" hero status="primary">
                      Guardar
                    </button>
                  </div>
                </nb-card>
              </ng-template>
            </form>
          </div>
          <!-- notificaciones -->
          <div class="iconCC " nbPopoverPlacement="left" [nbPopover]="notificationsRef">
            <div class="d-flex align-items-center">
              <nb-icon class="icon-administrar" icon="bell-outline" style="margin-left: 4px"></nb-icon>
              <div *ngIf="notificationCount > 0">
                <small style="color: #FFFFFF; font-size: 12px; padding: 1px; border-radius: 20px; background-color: red; position: absolute; margin-top: -17px">
                  {{notificationCount >= 99? '99+': notificationCount}}</small>
              </div>

            </div>
            <ng-template #notificationsRef style="width: 20%">
              <app-m-notifications></app-m-notifications>
            </ng-template>
          </div>
          <!-- termina notificaciones -->
          <div class="iconCC"
               [nbPopover]="templateRef2"
               nbPopoverPlacement="left"
               nbPopoverTrigger="noop"
               (click)="open()">
            <nb-icon class="notiF" icon="person-outline"></nb-icon>
            <ng-template #templateRef2>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar datos </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Rol</label><br />
                    <nb-select
                      placeholder="Rol"
                      size="small"
                      formControlName="id_rol"
                      (selectedChange)="changeRol($event)"
                    >
                      <nb-option *ngFor="let rol of roles; let i = index" [value]="rol.id">{{ rol.name }}{{rol.area_name !== ""? '-': ''}}{{rol.area_name}}</nb-option>
                    </nb-select>
                  </div>
                  <div>
                    <label class="label">Semestre</label><br />
                    <nb-select
                      placeholder="Semestre"
                      size="small"
                      formControlName="id_semestre"
                      (selectedChange)="changeSemestre()"
                    >
                      <nb-option *ngFor="let semestre of semestres; let i = index" [value]="semestre.id"
                      >Semestre - {{ semestre.nombre }}</nb-option
                      >
                    </nb-select>
                  </div>
                </nb-card-body>
                <br />
                <div class="text-center">
                  <button nbButton outline size="tiny" ghost (click)="close()">Cerrar</button>&nbsp;
                  <button
                    nbButton
                    outline
                    size="tiny"
                    hero
                    status="primary"
                    (click)="saveChanges()"
                    [disabled]="formHeader.invalid"
                  >
                    Guardar
                  </button>
                </div>
              </nb-card>
            </ng-template>
            </div>
        </div>

      </div>
      <!-- -------------------------- termina boton flotante------------------ -->
    </nb-layout-header>

    <nb-sidebar [state]="stateSidebar" [responsive]="responsiveValue" tag="core-sidebar">
      <div class="menu-new">
        <nb-menu [items]="MENU_ITEMS" tag="core-menu" style="border-top-left-radius: 10px;"></nb-menu>
      </div>
      <nb-sidebar-footer  *ngIf="!minimum" style="padding: inherit; margin-bottom:30px">
        <div style="padding: 10px" class="text-center">
          <small style="color: #FFFFFF" >{{relojTime}} - {{timezone}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="align-items: center">
          <!--<div class="col-md-8">
            <nb-toggle (checkedChange)="changeTheme($event)">
              <span class="text-white">TEMA</span>
            </nb-toggle>
          </div>-->
          <div>
            <button nbButton size="medium" status="primary" ghost nbTooltip="Lamb Académico" nbTooltipStatus="primary">
              <a href="https://lamb-academic.upeu.edu.pe" target="_blank">
                <img src="https://lamb-academic.upeu.edu.pe/teacher-portal/assets/logos/lamb-logo-white.svg" width="65px"  alt="">
              </a>
            </button>
          </div>
          <div class="" style="margin-bottom: 5px" nbTooltip="Ayuda" nbTooltipStatus="primary">
            <a href="https://helpdesk.upeu.edu.pe/lamb-learning" target="_blank">
              <button nbButton
                      ghost
                      status="primary"
                      size="medium">
                <nb-icon style="width: 30px; height: 30px" class="text-white" icon="question-mark-circle"></nb-icon>
              </button>
            </a>
          </div>
        </div>


      </nb-sidebar-footer>
    </nb-sidebar>
    <nb-layout-column class="p-2 ps-0 background">
      <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer class="d-block d-md-none header-actions fixed">

      <nb-actions>
        <nb-action class="text-white">Copyright © {{ date | date: 'yyyy' }} UPeU</nb-action>
      </nb-actions>
      <nb-actions class="ms-auto">
        <nb-action>
          <form [formGroup]="formHeader">
            <div [nbPopover]="templat" nbPopoverPlacement="bottom" style="cursor: pointer">
              <img [src]="logoLangs" height="20px" alt="" />
            </div>
            <ng-template #templat>
              <nb-card style="padding-bottom: 0px">
                <nb-card-header style="padding-top: 8px; padding-bottom: 8px"> Cambiar idioma </nb-card-header>
                <nb-card-body style="padding-top: 3px; padding-bottom: 0px">
                  <div>
                    <label class="label">Lenguaje</label><br />
                    <nb-radio-group formControlName="lenguaje" (ngModelChange)="changesLangs()">
                      <nb-radio *ngFor="let item of listLanguages" [value]="item.code"
                        >&nbsp;&nbsp;&nbsp;&nbsp;<img [src]="item?.img" height="20px" alt="" />&nbsp;&nbsp;{{
                          item?.name
                        }}</nb-radio
                      >
                    </nb-radio-group>
                  </div>
                </nb-card-body>
                <!-- <br>
                  <div class="text-center">
                      <button nbButton outline size="tiny" hero status="primary">
                        Guardar
                      </button>
                    </div> -->
              </nb-card>
            </ng-template>
          </form>
        </nb-action>
        <nb-action [nbContextMenu]="userMenu">
          <nb-user
            class="header-user"
            [name]="user?.name"
            [title]="user?.email"
            [picture]="user?.profile_photo_path"
            [onlyPicture]="minimum"
            size="medium"
          ></nb-user>
        </nb-action>
      </nb-actions>
    </nb-layout-footer>
  </nb-layout>
</div>
