<nb-card class="m-0 h-100 border-0" style="border-radius: 15px;" [nbSpinner]="loading" nbSpinnerStatus="primary"
    nbSpinnerSize="large">
    <nb-card-header>
        <div class=" d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <nb-icon icon="menu-2-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
                <strong style="padding-top: 7px;">MENU</strong>
            </div>
            <div style="text-align: right;">
                <button nbButton size="small" status="warning" (click)="refrehsss()"><nb-icon icon="refresh-outline"></nb-icon>Refrescar</button>
                <!-- <button nbButton size="small" status="primary" (click)="opemMenus(1, {}, 'NEW')"><nb-icon icon="plus"></nb-icon>Crear menu</button> -->
            </div>
        </div>
    </nb-card-header>
    <nb-card-body style="max-height: 80vh;">
          <div class="treeview">
            <ul>
                <li *ngFor="let modulesChild of list" class="lamb-first-li">
                    <div class="card">
                        <div class="card-body" ngbTooltip="CÓDIGO: " placement="right">
                            <div class="row">
                                <div class="col-md-2 lamb-module-icon">
                                    <nb-icon [icon]="modulesChild?.icono" style="font-size: 40px;"></nb-icon>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="lamb-module-father">{{ modulesChild?.title | uppercase }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="lamb-icon-link">
                                                <i class="fa fa-link"></i>
                                                {{ modulesChild?.url }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button nbButton size="tiny" shape="round" status="primary" [nbPopover]="templateRef" nbPopoverPlacement="bottom">
                                        <nb-icon icon="plus"></nb-icon>
                                      </button>
                                </div>
                            </div>
                            <ng-template #templateRef>
                                <nb-card>
                                    <nb-card-header>
                                        Opciones
                                    </nb-card-header>
                                    <nb-card-body style="padding: 0px;">
                                        <nb-list>
                                            <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="opemMenus(1, modulesChild, 'NEW')">
                                               <nb-icon icon="plus"></nb-icon>&nbsp; Agregar hijo
                                            </nb-list-item>
                                            <!-- <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="opemMenus(modulesChild?.nivel, modulesChild, 'UPDATE')">
                                                <nb-icon icon="edit"></nb-icon>&nbsp; Editar - {{modulesChild?.title}}
                                            </nb-list-item>
                                            <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="deleteMenu(modulesChild)">
                                                <nb-icon icon="trash"></nb-icon>&nbsp; Eliminar - {{modulesChild?.title}}
                                            </nb-list-item> -->
                                          </nb-list>
                                    </nb-card-body>
                                </nb-card>
                              </ng-template>
                          
                            <!-- <ng-template #templateOptions1 let-module="module">
                                <ul class="lamb-menu-options">
                                    <li *ngIf="modulesChild.is_group!=='1'" (click)="onCreateModuleChild(modulesChild)">
                                        <a>
                                            <i class="menu-icon fa fa-plus"></i>
                                            <span>Agregar Hijo</span>
                                        </a>
                                    </li>
                                    <li (click)="onEditModule(modulesChild)">
                                        <a>
                                            <i class="menu-icon fa fa-edit"></i>
                                            <span>Editar</span>
                                        </a>
                                    </li>
                                    <li *ngIf="modulesChild.is_group!=='1'" (click)="onAcctions(modulesChild)">
                                        <a>
                                            <i class="menu-icon fa fa-deaf"></i>
                                            <span>Acciones</span>
                                        </a>
                                    </li>
                                    <li (click)="onDeleteModule(modulesChild)">
                                        <a>
                                            <i class="menu-icon fa fa-trash"></i>
                                            <span>Eliminar</span>
                                        </a>
                                    </li>
                                </ul>
                            </ng-template> -->
                        </div>
                    </div>
                    <ul *ngIf="modulesChild?.children?.length !== 0">
                        <li *ngFor="let child of modulesChild?.children">
                            <div class="card">
                                <div class="card-body" ngbTooltip="CÓDIGO: " placement="right">

                                    <div class="row">
                                        <div class="col-md-2 lamb-module-icon">
                                            <nb-icon [icon]="child?.icono" style="font-size: 40px;"></nb-icon>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="lamb-name-module" [title]="child?.title">
                                                        {{ child?.title | uppercase }} </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="lamb-icon-link" [title]="child?.url">
                                                        <i class="fa fa-link"></i>
                                                        {{ child?.url }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button nbButton size="tiny" shape="round" status="primary" [nbPopover]="templateRef2" nbPopoverPlacement="bottom">
                                                <nb-icon icon="plus"></nb-icon>
                                              </button>
                                        </div>
                                        <ng-template #templateRef2>
                                            <nb-card>
                                                <nb-card-header>
                                                    Opciones
                                                </nb-card-header>
                                                <nb-card-body style="padding: 0px;">
                                                    <nb-list>
                                                        <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="opemMenus(2, child, 'NEW')">
                                                           <nb-icon icon="plus"></nb-icon>&nbsp; Agregar hijo
                                                        </nb-list-item>
                                                        <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="opemMenus(child?.nivel, child, 'UPDATE')">
                                                            <nb-icon icon="edit"></nb-icon>&nbsp; Editar - {{child?.title}}
                                                        </nb-list-item>
                                                        <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="deleteMenu(child)">
                                                            <nb-icon icon="trash"></nb-icon>&nbsp; Eliminar - {{child?.title}}
                                                        </nb-list-item>
                                                      </nb-list>
                                                </nb-card-body>
                                            </nb-card>
                                          </ng-template>
                                        <!-- <ng-template #templateOptions2 let-module="module">
                                            <ul class="lamb-menu-options">
                                                <li *ngIf="child.is_group!=='1'" (click)="onCreateModuleChild(child)">
                                                    <a>
                                                        <i class="menu-icon fa fa-plus"></i>
                                                        <span>Agregar Hijo</span>
                                                    </a>
                                                </li>
                                                <li (click)="onEditModule(child)">
                                                    <a>
                                                        <i class="menu-icon fa fa-edit"></i>
                                                        <span>Editar</span>
                                                    </a>
                                                </li>
                                                <li *ngIf="child.is_group!=='1'" (click)="onAcctions(child)">
                                                    <a>
                                                        <i class="menu-icon fa fa-deaf"></i>
                                                        <span>Acciones</span>
                                                    </a>
                                                </li>
                                                <li (click)="onDeleteModule(child)">
                                                    <a>
                                                        <i class="menu-icon fa fa-trash"></i>
                                                        <span>Eliminar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </ng-template> -->
                                    </div>
                                </div>
                            </div>
                            <!-- /// agregado por que no muestra el siguiente nivel 04-10-2019 -->
                            <ul *ngIf="child.children?.length !== 0">
                                <li *ngFor="let chil of child.children">
                                    <div class="card">
                                        <div class="card-body" ngbTooltip="CÓDIGO: " placement="right">
                                            <div class="row">
                                                <div class="col-md-2 lamb-module-icon">
                                                    <nb-icon [icon]="chil?.icono" style="font-size: 40px;"></nb-icon>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="lamb-name-module" [title]="chil.title">{{
                                                                chil.title | uppercase }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="lamb-icon-link" [title]="chil.url">
                                                                <i class="fa fa-link"></i>
                                                                {{ chil.url }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button nbButton size="tiny" shape="round" status="primary" [nbPopover]="templateRef3" nbPopoverPlacement="bottom">
                                                        <nb-icon icon="plus"></nb-icon>
                                                      </button>
                                                </div>
                                                <ng-template #templateRef3>
                                                    <nb-card>
                                                        <nb-card-header>
                                                            Opciones
                                                        </nb-card-header>
                                                        <nb-card-body style="padding: 0px;">
                                                            <nb-list>
                                                                <!-- <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="opemMenus('2', modulesChild, 'NEW')">
                                                                   <nb-icon icon="plus"></nb-icon>&nbsp; Agregar hijo
                                                                </nb-list-item> -->
                                                                <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="opemMenus(chil?.nivel, chil, 'UPDATE')">
                                                                    <nb-icon icon="edit"></nb-icon>&nbsp; Editar - {{chil?.title}}
                                                                </nb-list-item>
                                                                <nb-list-item style="padding-top: 2px; padding-bottom: 2px;" (click)="deleteMenu(chil)">
                                                                    <nb-icon icon="trash"></nb-icon>&nbsp; Eliminar - {{chil?.title}}
                                                                </nb-list-item>
                                                              </nb-list>
                                                        </nb-card-body>
                                                    </nb-card>
                                                  </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
          </nb-card-body>
          </nb-card>