$primary: var(--color-primary-500);
.lamb-button {
    /* padding: 0.3rem 0.6rem; */
    padding: 0.1rem 0.3rem;
    cursor: pointer !important;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
  }

  .lamb-button:hover {
      -webkit-transform: rotate(-360deg);
  }

  .treeview {
    color: rgb(119, 117, 117);

    ul {
      padding: 0;
      list-style: none;
      color: rgb(119, 117, 117);
      position: relative;
      ul {
        margin-left: 5.5em;
      }
      ul::before {
        content: '';
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-left: 1px solid;
        bottom: 2.7rem;
      }
    }
    ul:first-child::before {
      display: none;
    }
    li {
      padding: 0.4rem 5em;
      // line-height: 2em; 
      font-weight: 700;
      position: relative;
      .card {
        .lamb-icon-link {
          width: 11rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          i {
            font-size: 0.8rem;
            margin-right: 0.2rem;
          }
        }
        .lamb-module-father {
          font-size: 1rem;
          color: $primary;
        }
        .lamb-name-module {
          // margin-top: 0.7rem;
          color: $primary;
          cursor: pointer;
          width: 11rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .lamb-module-icon {
          text-align: center;
          margin: auto;
        }
      }
    }
    ul li.lamb-first-li::before {
      border: none;
    }
    ul li::before {
      content: '';
      display: block;
      width: 60px;
      height: 0;
      border-top: 1px solid;
      margin-top: 30px;
      position: absolute;
      top: 1em;
      left: 0;
    }
  }

  .tree-indicator {
    margin-right: 5px;
    cursor: pointer;
  }
  /* tslint:disable-next-line:no-duplicate-selectors */
  .treeview li, div.clase-fixed {
    .card {
      min-width: 18rem;
      color: rgb(214, 175, 175);
      // font-family: arial, verdana, tahoma;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      font-size: 11px;
      display: inline-block;
      box-shadow: 0 10px 11px var(--color-primary-400); /*------------*/
      // -transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;

      &:hover {
        background: #f5eedb;
        color: rgb(126, 129, 84);
        + ul {
          li {
            .card {
              background: #f5eedb;
              color: rgb(126, 129, 84);
            }
            &::after, &::before {
              // border-color: #94a0b4;
            }
          }
          &::before, ul::before {
            // border-color: #94a0b4;
          }
        }
      }
      .card-img-left {
        height: 3rem;
        // height: 4rem;
        &:hover {
            cursor: pointer;
        }
      }
      span {
        display: block;
      }
    //   .lamb-button-menu {
    //     position: absolute;
    //     right: 0.3rem;
    //     top: 0.3rem;
    //     padding: 0.1rem 0.7rem;
    //     border-radius: 50%;
    //     cursor: pointer;
    //     span {
    //       display: inherit;
    //     }
    //     &:hover, :active, :focus {
    //         background-color: $primary;
    //     }
    //   }
    }
  }


.lamb-menu-options {
  list-style-type: none;
  padding: 0 !important;
  margin: 0.8rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1px;
  font-weight: bold;

  li {
      cursor: pointer;
      padding: 0.2rem 2rem;
      height: 2rem;
      &:hover, :active {
          background-color: rgb(197, 176, 137);
      }
      a {
          vertical-align: middle;
          .menu-icon {
              font-size: 1.2rem;
              width: 50px;
              color: black;
              margin-right: 0.4rem;
              vertical-align: middle;
          }
          span {
              color: rgb(223, 178, 178);
              text-decoration: none;
              vertical-align: middle;
              font-weight: bold;
          }
      }
  }
}
nb-list nb-list-item:hover {
    background: var(--color-primary-500);
    color: white;
    cursor: pointer;
}
