<nb-card class="m-0 h-100 border-0" style="border-radius: 15px;" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Vinculando cuenta zoom, espere por favor .....">
    <nb-card-header>
        <div class="d-flex">
            <nb-icon icon="video-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
            <strong style="padding-top: 7px;">VALIDAR ZOOM</strong>
         </div>
    </nb-card-header>
    <nb-card-body *ngIf="valida">
        <div class="text-center">
            <strong style="color: brown; font-size: 25px;">La vinculación no se proceso.</strong><br><br>
            <button nbButton size="small" status="primary" (click)="backs()">Salir</button>
        </div>
    </nb-card-body>
</nb-card>