<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
  <nb-card-header>
    <div *ngIf="datos">
      <h3 style="font-size: 16px; font-weight: bold; color: #414141" class="m-0">
        {{ datos?.nombres + ' ' + datos?.apellido_paterno + ' ' + ' ' + datos?.apellido_materno }}
      </h3>
      <small style="font-size: 12px; font-weight: bold; color: #575756">{{ datos?.codigo }}</small>
    </div>
    <div *ngIf="!datos">DOCUMENTOS DEL ALUMNO</div>
  </nb-card-header>
  <nb-card-body>
    <div class="d-flex justify-content-between align-items-center">
      <div *ngIf="filesTipo">
        <app-list-view-files
          [arrayFiles]="filesTipo || []"
          [typeView]="'VIEW'"
          [showText]="false"
          (fileValue)="fileValues($event)"
        ></app-list-view-files>
      </div>
      <div *ngIf="filesTipo2" class="d-flex flex-column align-items-center">
        <app-list-view-files
          [arrayFiles]="filesTipo2 || []"
          [typeView]="'VIEW'"
          [showText]="false"
          (fileValue)="fileValues($event)"
        ></app-list-view-files>
        <small style="font-weight: bold" class="text-center">Documento de respuesta</small>
      </div>
    </div>
    <br />
    <div *ngIf="datosFile">
      <app-ngx-view-files-google [valueFile]="datosFile" (loadingsFiles)="loadingsFiles($event)" [directGogle]="director">
      </app-ngx-view-files-google>
    </div>
    <div *ngIf="datosUrl">
      <app-video-player [videoFormat]="datosUrl?.ext" [url]="datosUrl?.url" (loadingsFiles)="loadingsFiles($event)"> </app-video-player>
    </div>
  </nb-card-body>
</nb-card>
