<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
  <nb-card-header>
    <div *ngIf="datos">
      <h3 style="font-size: 16px; font-weight: bold; color: #414141;" class="m-0">{{datos?.nombres + ' ' + datos?.apellido_paterno + ' ' + ' ' +datos?.apellido_materno}}</h3>
      <small style="font-size: 12px; font-weight: bold; color: #575756;">{{datos?.codigo}}</small>
    </div>
    <div *ngIf="!datos">
      DOCUMENTOS DEL ALUMNO
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <app-list-view-files [arrayFiles]="pending?.student_pending?.pending_files || []" [typeView]="'VIEW'" (fileValue)="fileValues($event)"></app-list-view-files>
    </div><br>
    <div *ngIf="datosFile">
      <app-ngx-view-files-google [valueFile]="datosFile" (loadingsFiles)="loadingsFiles($event)"></app-ngx-view-files-google>
    </div>
    <div *ngIf="datosUrl">
      <app-video-player [pending]="datosUrl" (loadingsFiles)="loadingsFiles($event)"></app-video-player>
    </div>
  </nb-card-body>
</nb-card>
