<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
  <nb-card-header>
    DOCUMENTOS DEL ALUMNO
  </nb-card-header>
  <nb-card-body>
    <div>
      <app-list-view-files [arrayFiles]="pending?.student_pending?.pending_files || []" [typeView]="'VIEW'" (fileValue)="fileValues($event)"></app-list-view-files>
    </div><br>
    <div *ngIf="datosFile">
      <app-ngx-view-files-google [valueFile]="datosFile" (loadingsFiles)="loadingsFiles($event)"></app-ngx-view-files-google>
    </div>
  </nb-card-body>
</nb-card>
