<nb-card class="border-0"
         id="print-section"
         style="border-radius: 5px; "
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="small">
  <nb-card-header >
    <div class="d-flex justify-content-end" style="padding: 0 3%">
      <nb-icon icon="file-text" class="iconNB"></nb-icon>
     <button printSectionId="print-section"
             class="buttonPrint"
             [useExistingCss]="true"
             [printStyle]="
             {'.iconNB' : {'display': 'none !important'},
             '.title': {'color': '#014776 !important'},
             '.subTitle': {'color': '#014776 !important'},
             '.estado':{'color': '#FFAA00 !important'}}"
             ngxPrint
             >
       <nb-icon type="button" icon="printer" class="iconNB"></nb-icon>
     </button>
    </div>
    <div class="d-flex flex-column" style="padding: 0 4%" id="print">
      <div class="d-flex justify-content-between" style="text-align: right;padding-bottom: 50px">
        <div style="text-align: left">
          <small class="title">REPORTE DE EVALUACIONES</small><br>
          <small class="description label" style="font-style: italic;">Actividades de evaluación realizadas en el ciclo vigente en Lamb Leearnig.</small><br>
          <small class="description" style="color: #692040">(*las notas finales se visualizaran en Lamb académico)</small>
        </div>
        <div class="align-items-end">
          <small class="subTitle">Nombre de la Facultad</small>
          <div class="d-flex flex-column">
            <small class="parrafo mb-0 label">{{profile?.person?.programa_estudio}}</small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
          <div >
            <small class="parrafo label">DATOS DEL ESTUDIANTE</small><br>
            <small class="subTitle mb-0">{{profile?.user?.person?.nombres_completos}}</small><br>
            <small class="parrafo label">{{profile?.user?.email}}</small><br>
            <small class="parrafo label">{{profile?.user?.person?.codigo}} Ciclo II Grupo único</small>
          </div>
          <div style="text-align: right">
            <small class="parrafo label">REPORTE DE EVALUACIONES</small><br>
            <small class="subTitle ">#12345678</small><br>
            <small class="parrafo label">{{nowDate| date:"d 'de' MMMM 'del' y"}}</small>
          </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body >
    <br>
    <div style="margin: 0 3%;"  class="d-flex flex-column divClss">
      <div style="margin: 5px 0; padding: 25px 13px; cursor: pointer"
           class="d-flex justify-content-between animations"
           (click)="openNotas(item)" *ngFor="let item of notas">
        <div class="">
          <small class="subTitle">{{item.nombre}} - ciclo: {{item.ciclo}} - grupo: {{item.grupo}}</small><br>
          <small class="parrafo label">{{item.persons_teacher_nombre}}</small>
        </div>
        <div class="text-center">
          <small class="parrafo label">Promedio</small><br>
          <small class="subTitle">18</small>
        </div>
      </div>
     <!--<hr style="margin: 30px -25px">-->
     </div>

   </nb-card-body>
 </nb-card>
