<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                ORDENAR ELEMENTOS
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div *ngFor="let item of arrayElementos; let i = index" >
            <div class="row">
                <div class="col-md-2 text-center" style="align-items: center;">
                    <button nbButton size="tiny" status="primary" (click)="shift(i - 1, i)">
                        <nb-icon icon="arrowhead-up-outline"></nb-icon></button>&nbsp;
                    <button nbButton size="tiny" status="primary" (click)="shift(i, i + 1)">
                        <nb-icon icon="arrowhead-down-outline"></nb-icon></button>
                </div>
                <div class="col-md-10">
                    <nb-card class="hoveres">
                        <nb-card-header style="padding: 5px; font-size: 10px;">
                             {{i+1}}:&nbsp; {{item.tipo}} - {{item.titulo}}
                        </nb-card-header>
                        <nb-card-body style="padding: 5px; font-size: 10px;">
                            {{item.descripcion}}
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
           
        </div>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
        <button nbButton size="small" status="primary" (click)="saveOrden()">Guardar</button>
    </nb-card-footer>
</nb-card>