<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
         xmlns="http://www.w3.org/1999/html">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'NEW' ? 'NUEVA CATEGORIA': 'EDITAR SEMESTRE'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center" >
    <form [formGroup]="FormCategories">
      <div class="p-4">
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Nombre:</label>
          <div class="col-md-9">
            <input
              nbInput
              fullWidth
              formControlName="nombre"
              fieldSize="small"
              placeholder="Ingrese nombre"
            />
          </div>
        </div>
        <br>
        <div class="row">
        <label class="label col-md-3 d-flex align-items-center">Tabla:</label>
        <div class="col-md-9">
          <input
            nbInput
            fullWidth
            formControlName="tabla"
            fieldSize="small"
            placeholder="Ingrese nombre de la tabla donde se lista esta categorias"
          />
        </div>
      </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Descripción:</label>
          <div class="col-md-9">
            <textarea nbInput fullWidth
                      formControlName="descripcion"
                      fieldSize="small"
                      placeholder="Ingrese descripción"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Estado:</label>
          <div class="col-md-9">
            <div class="d-flex justify-start">
              <nb-toggle formControlName="estado"></nb-toggle>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="save()"
      [disabled] = "FormCategories.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
