<nb-card accent="primary" class="scrollModal"[nbSpinner]="loading" nbSpinnerStatus="primary"
  nbSpinnerSize="large" nbSpinnerMessage="Procesando información" [ngStyle]="has_rubric ? { width: '1624px' } : { width: '1324px'}">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{element?.tipo}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body style="background: #f5f5f5;">
    <form [formGroup]="formHeader">
    <div class="row">
      <div class="p-1" [ngClass]="has_rubric ? 'col-md-2' : 'col-md-3'">
        <nb-card size="giant">
          <nb-card-header>
            Estudiantes <br>
            <div >
              <nb-tabset (changeTab)="changeTabSet($event)">
                <nb-tab tabTitle="Todos" tabId="ALL">
                </nb-tab>
                <nb-tab tabIcon="checkmark-outline" badgeText="{{(headStudent?.total_entregados - headStudent?.total_revisados )}}"
                badgeStatus="basic" badgePosition="bottom right" tabTitle="Sin calificar" tabId="SC">
                </nb-tab>
                <nb-tab tabIcon="done-all-outline" badgeText="{{headStudent?.total_revisados}}"
                badgeStatus="success" badgePosition="bottom right" tabTitle="Calificados" tabId="C">
                </nb-tab>
                <nb-tab tabIcon="close-circle-outline" badgeText="{{(headStudent?.total_pendientes - headStudent?.total_entregados )}}"
                badgeStatus="danger" badgePosition="bottom right" tabTitle="Sin entregar" tabId="SE">
                </nb-tab>
               </nb-tabset>
            </div>
            <div style="padding-top: 0px;">
              <input type="text" placeholder="Buscar alumno" fieldSize="small" nbInput fullWidth  [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}">
            </div>
          </nb-card-header>
          <nb-card-body  class="p-2">

            <nb-list>
              <nb-list-item *ngFor="let item of listAlumns | FilterPipe: queryString:searchableList as hola; let i = index"
              class="p-1 d-flex align-items-center justify-content-between" (click)="selectedStudent(item)"
              [ngStyle]="{'cursor': 'pointer', 'background': item?.checked ? item?.background : '', 'color': item?.checked ? item?.color : '', 'font-size': '10px'}">
                <div>
                  {{i + 1}} &nbsp;&nbsp;{{item?.nombres + ' ' + item?.apellido_paterno + ' ' + ' ' +item?.apellido_materno}}
                </div>
                <div>
                  {{item?.nota}}
                  <nb-icon *ngIf="item?.realizo === '0'" icon="close-circle-outline" status="danger"
                  nbTooltip="Pendiénte" nbTooltipPlacement="top" nbTooltipStatus="danger"></nb-icon>
                  <nb-icon *ngIf="item?.realizo === '1' && item?.calificado === '0'" icon="checkmark-outline" status="basic"
                  nbTooltip="Sin calificar" nbTooltipPlacement="top" nbTooltipStatus="basic"></nb-icon>
                  <nb-icon *ngIf="item?.realizo === '1' && item?.calificado === '1'" icon="done-all-outline" status="success"
                  nbTooltip="Calificado" nbTooltipPlacement="top" nbTooltipStatus="success"></nb-icon>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="p-1" [ngClass]="has_rubric ? 'col-md-6' : 'col-md-7'">
        <nb-card>
          <nb-card-header class="p-1">
            <span *ngIf="element?.type_element?.codigo === 'EVAL' && pending?.student_pending">
              <nb-badge [text]="pending?.student_pending?.realizo === '1' ? 'Finalizado' : 'En proceso'" [status]="pending?.student_pending?.realizo === '1' ? 'success' : 'warning'" position="top right"></nb-badge>
            </span>

            <div>
              <div class="row">
                <div class="col-md-6">
                  <span style="font-size: 12px; text-align: justify;">
                    {{element?.titulo}}
                  </span>
                </div>
                <div class="col-md-6">
                <nb-radio-group class="row" formControlName="ver_trabajo">
                  <nb-radio value="S" class="col-md-6">Ver contenido</nb-radio>
                  <nb-radio value="N" class="col-md-6">Ocultar contenido</nb-radio>
                </nb-radio-group>
                </div>
              </div>

              <div *ngIf="formHeader.value.ver_trabajo === 'S'">
                <p  style="text-align: justify; font-size: 11px;">{{element?.descripcion}}</p>

                <div class="row" style="font-size: 11px;" *ngIf="infor && element?.type_element?.codigo === 'EVAL'">
                  <br>
                  <div class="col-md-10" *ngIf="infor">
                      <strong>Duración:</strong> {{infor?.duracion}} minutos <br>
                      <strong>Tiempo de interación:</strong> {{infor?.segundos}} <br>
                      <strong>Preguntas:</strong> {{infor?.preguntas_respondidas || 0}} / {{infor?.total_questions || 0}}
                  </div>
                  <div class="col-md-2 text-center" *ngIf="infor">
                      <span *ngIf="infor?.m_nota === 'SI'">Puntos <br> <strong style="font-size: 20px;">{{infor?.nota}}</strong></span><br>
                      <!-- *ngIf="['Docente'].includes(datos?.rol?.name);" -->
                  </div>
              </div>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body style="background: #a0b9c4; max-height: 75vh !important;" >
            <div *ngIf="element?.type_element?.codigo === 'TRAB'">
              <app-c-works [pending]="pending" [datos]="datosStudent"
              [director]="directore"></app-c-works>
            </div>
            <div *ngIf="element?.type_element?.codigo === 'FOR'" >
              <app-c-forums
              [pending]="pending"
              [element]="element"
              [datos]="datosStudent"
              [userInfo]="userInfo"
              [listResponses]="listResponses"
              ></app-c-forums>
            </div>
            <div *ngIf="element?.type_element?.codigo === 'EVAL'" >
              <br>
              <app-v-exam-views
              [pending_id]="pending?.student_pending?.id"
              [person_id]="pending?.student_pending?.persons_student_id"
              [rol]="rol?.name"
              (informacion)="infoQuestion($event)"
              (loadingsQuestion)="loadings($event)"
              ></app-v-exam-views>
            </div>
            <!-- {{formDate.value.fechaHoraValid}} - {{timeActual}} -->
          <div *ngIf="formDate.value.codigo === 'SE' && pending && pending?.student_pending && timeActual && (formDate.value.fechaHoraValid < timeActual)">

            <nb-card status="primary">
              <nb-card-header>
                OTROS DATOS
              </nb-card-header>
              <nb-card-body>
                <label class="label">¿ Desea extender la fecha para el participante ?</label>
                <br><br>
                <form [formGroup]="formDate">
                  <div class="row" *ngIf="pending?.student_pending?.justifications?.length>0">
                    <label class="label col-md-3">Justificaiones:</label>
                    <div class="label col-md-9">
                      <nb-select  placeholder="Seleccione una justificación" size="small" formControlName="id_justification" fullWidth (selectedChange)="changeJustification($event)">
                      <nb-option *ngFor="let itemss of pending?.student_pending?.justifications; let i = index" [value]="itemss.id">{{ itemss.justification }}</nb-option>
                    </nb-select>
                    </div>
                  </div>
                  <br *ngIf="pending?.student_pending?.justifications?.length>0">
                  <div class="row">
                    <label class="label col-md-3">Fecha y hora fin:</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <nb-form-field>
                                    <input type="text" nbInput placeholder="Fecha fin" fullWidth formControlName="fecha_fin"
                                        [nbDatepicker]="fechaFin" fieldSize="small"/>
                                    <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                                        pack="eva"></nb-icon>
                                    <nb-datepicker #fechaFin format="dd/MM/yyyy" >
                                    </nb-datepicker>
                                    <control-messages [control]="formDate.get('fecha_fin')">
                                    </control-messages>
                                </nb-form-field>
                            </div>
                            <div class="col-md-6">
                                <nb-form-field >
                                    <input nbInput placeholder="Hora Termino" [nbTimepicker]="horaTem" type="text" formControlName="hora_fin"/>
                                    <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
                                    <nb-timepicker #horaTem></nb-timepicker>
                                    </nb-form-field>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="row" *ngIf="pending?.student_pending?.justifications?.length>0">
                    <label class="label col-md-3">Respuesta:</label>
                    <div class="col-md-9">
                        <textarea nbInput fullWidth formControlName="respuesta"></textarea>
                        <control-messages [control]="formDate.get('respuesta')"></control-messages>
                    </div>
                </div>
                  <br>
                  <div style="text-align: right;" *ngIf="pending?.student_pending?.justifications?.length>0">
                    <button nbButton size="small" status="danger" (click)="saveResponse('rechazado')"  [disabled]="formDate.invalid">Rechazar</button>&nbsp;&nbsp;
                    <button nbButton size="small" status="primary" (click)="saveResponse('aceptado')" [disabled]="formDate.invalid">Guardar</button>
                  </div>
                  <div style="text-align: right;" *ngIf="pending?.student_pending?.justifications?.length<=0">
                    <button nbButton size="small" status="primary" (click)="savePendingActulizar()" [disabled]="formDate.invalid">Actualizar</button>
                  </div>
                </form>
              </nb-card-body>
            </nb-card>
          </div>

          </nb-card-body>
          <nb-card-footer style="font-size: 10px;" *ngIf="element?.type_element?.codigo === 'EVAL'">
            Leyenda: <br>
            <strong>Rpt. estudiante: </strong>&nbsp;&nbsp;<span style="color: rgb(36, 151, 21);">Texto</span> <nb-icon  style="color: rgb(36, 151, 21);" icon="checkmark-outline"></nb-icon>&nbsp;&nbsp;|&nbsp;&nbsp;
            <strong>Rpt. docente: </strong>&nbsp;&nbsp;<span >Texto</span> <nb-icon  style="color: rgb(36, 151, 21);" icon="checkmark-outline"></nb-icon>&nbsp;&nbsp;|&nbsp;&nbsp;
            <strong>Rpt. correcta: </strong>&nbsp;&nbsp;<span style="color: rgb(36, 151, 21);">Texto</span><nb-icon  style="color: rgb(36, 151, 21);" icon="done-all-outline"></nb-icon>&nbsp;&nbsp;|&nbsp;&nbsp;
            <strong>Rpt. incorrecta: </strong>&nbsp;&nbsp;<span style="color: red;">Texto</span> <nb-icon  style="color: red;" icon="close-outline"></nb-icon>&nbsp;&nbsp;
        </nb-card-footer>
        </nb-card>
      </div>
      <div class="p-1" [ngClass]="has_rubric ? 'col-md-4' : 'col-md-2'">
        <nb-card>
          <nb-card-header>
            Ingresar nota
          </nb-card-header>
          <nb-card-body class="p-2">
            <form [formGroup]="formHeader">
              <div>
                <label class="label">Comentario</label><br>
                <textarea nbInput fullWidth placeholder="Ingrese un comentario" formControlName="comentario"></textarea>
                <control-messages [control]="formHeader.get('comentario')"></control-messages>
              </div>
              <div *ngIf="!has_rubric">
                <label class="label">Nota</label><br>
                <input type="number" maxlength="2" nbInput fullWidth placeholder="Ingrese una nota" formControlName="nota">
                <control-messages [control]="formHeader.get('nota')"></control-messages>
              </div> <br>
              <div *ngIf="has_rubric">
                <label class="label">Rubrica: {{ rubrica?.nombre }}</label><br>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr style="font-size: 12px;">
                      <th style="width: 100px; max-width: 200px;">Crit/Nivel</th>
                      <th *ngFor="let nivel of rubrica?.criterios[0]?.niveles"></th>
                      <!-- <th *ngFor="let nivel of rubrica?.criterios[0]?.niveles" class="text-center align-middle">{{ nivel?.titulo }}</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let crit of rubrica?.criterios; let i = index" style="font-size: 11px;">
                      <td class="align-middle">{{ crit?.titulo }}</td>
                      <td *ngFor="let rub of crit?.niveles; let j = index" class="text-center align-middle"  style="width: 30px;">
                        <button nbButton class="py-1 px-2" [ngStyle]="rubricColors(rub, j)" (click)="selectedPoint(rub)">{{ rub?.rubricas?.puntuacion }}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <input type="number" maxlength="2" nbInput fullWidth placeholder="Nota" formControlName="nota" [readonly]="true">
                <control-messages [control]="formHeader.get('nota')"></control-messages>
              </div>
              <div class="text-center">
                <button *ngIf="has_rubric" nbButton size="small" status="primary" [disabled]="formHeader.invalid" fullWidth (click)="sendCalification()">Calificar</button>
                <button *ngIf="!has_rubric" nbButton size="small" status="primary" [disabled]="formHeader.invalid" fullWidth (click)="calificarWork()">Calificar</button>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </form>
    </nb-card-body>
    </nb-card>
