<div class="table-responsive">
  <table class="table table-sm">
    <tbody>
      <tr *ngFor="let item of relationList; let i = index;">
        <!-- <td style="width: 38px;" class="text-center">
          <button nbButton size="tiny" status="info" outline nbTooltip="Subir alternativa" nbTooltipStatus="info"
            (click)="shift(i - 1, i)">
            <nb-icon icon="arrowhead-up-outline"></nb-icon>
          </button>&nbsp;
          <button nbButton size="tiny" status="info" outline nbTooltip="Bajar alternativa" nbTooltipStatus="info"
            (click)="shift(i, i + 1)">
            <nb-icon icon="arrowhead-down-outline"></nb-icon>
          </button>
        </td> -->
        <td style="width: 120px;">
          <input type="text" fullWidth placeholder="Opción {{ abecedario[i] | titlecase }}" nbInput fieldSize="small"
            [(ngModel)]="item.relacion">
        </td>
        <td style="width: 75px;">
          <lamb-prepare-file-pro [paramsInfo]="{
                      key_file: keyFile,
                      directory: directorio,
                      type: 'put',
                      tabla: 'pendings',
                      tipo: 'DOCUMENTO_TRABAJO'}" [numFiles]="6" (filterValueChange)="valueFile($event, item)"
            [isDisabled]="false" [viewFile]="'UNIQUE'" [typeFile]="'img'" [fullWidth]="true">
          </lamb-prepare-file-pro>
          <div *ngIf="item?.base64">
            <br>
            <div style="text-align: right; cursor: pointer;">
              <nb-icon icon="close-circle-outline" status="danger" (click)="deleteItemFile(item)"></nb-icon>
            </div>
            <div>
              <img src="{{ item?.base64 }}" style="width: 100%; height: 100%;max-height: 150px;margin: 0 auto;" alt="">
            </div>
          </div>
        </td>
        <td style="width: 120px;">
          <input type="text" fullWidth placeholder="Opción {{ abecedario[i] | titlecase }}1" nbInput fieldSize="small"
            [(ngModel)]="item.resp">
        </td>
        <td style="width: 75px;">
          <lamb-prepare-file-pro [paramsInfo]="{
                      key_file: keyFile,
                      directory: directorio,
                      type: 'put',
                      tabla: 'pendings',
                      tipo: 'DOCUMENTO_TRABAJO'}" [numFiles]="6" (filterValueChange)="valueFileResp($event, item)"
            [isDisabled]="false" [viewFile]="'UNIQUE'" [typeFile]="'img'" [fullWidth]="true">
          </lamb-prepare-file-pro>
          <div *ngIf="item?.resp_imagen_base64">
            <br>
            <div style="text-align: right; cursor: pointer;">
              <nb-icon icon="close-circle-outline" status="danger" (click)="deleteSecondItemFIle(item)"></nb-icon>
            </div>
            <div>
              <img src="{{ item?.resp_imagen_base64 }}"
                style="width: 100%; height: 100%;max-height: 150px;margin: 0 auto;" alt="">
            </div>
          </div>
        </td>
        <td style="width: 55px;">
          <input type="number" fullWidth placeholder="Puntos" nbInput fieldSize="small" [(ngModel)]="item.puntos">
        </td>
        <td style="width: 1px;" class="text-center">
          <button nbButton size="small" status="danger" outline (click)="deleteOption(i, item)">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <button nbButton ghost size="small" status="info" (click)="pushedObject()">
                Añadir otra opción
              </button>
            </div>
            <div>
              <button nbButton size="small" status="basic" (click)="cancel()"
                *ngIf="relationList?.length>0">Cancelar</button>&nbsp;&nbsp;
              <button nbButton size="small" status="primary" (click)="saveQuestion()"
                [disabled]="validButom">Guardar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>