<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
    nbSpinnerMessage="Procesando información">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                SECCIÓN
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formHeader">
            <div>
              <label class="label">Título de la sección</label>
              <input class="w-100" type="text" nbInput fullWidth placeholder="Ingresa título" formControlName="titulo"/>
              <control-messages [control]="formHeader.get('titulo')"></control-messages>
            </div>
            <br>
            <div>
                <label class="label">Descripción</label>
                <textarea class="w-100" type="text" nbInput fullWidth placeholder="Ingresa descripción" formControlName="descripcion"></textarea>
                <control-messages [control]="formHeader.get('descripcion')"></control-messages>
              </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="text-center">
        <button nbButton size="tiny" status="primary" (click)="saveSection()" [disabled]="formHeader.invalid">Guardar</button>
    </nb-card-footer>
</nb-card>