<div class="d-flex align-items-center">
  <div class="ms-2">
    <app-ng-dynamic-breadcrumb
      bgColor="#fff"
      fontColor="#969696"
      symbol="&rang;"
      lastLinkColor="#A76575"
      fontSize="15px"
    ></app-ng-dynamic-breadcrumb>
  </div>
  <div class="ms-auto d-none d-xxl-block">
    <!-- <nb-select
      (selectedChange)="selecionar($event)"
      selected="0"
      status="primary"
      class="me-2"
    > -->
    <!-- <nb-option>
        rol - pendiente
      </nb-option>
    </nb-select> -->
    <nb-select [formControl]="seme" status="primary">
      <nb-option
        *ngFor="let semestre of semestres; let i = index"
        [value]="semestre.id"
        >Semestre - {{ semestre.nombre }}</nb-option
      >
    </nb-select>
  </div>
</div>
