<nb-card *ngIf="elem">
  <div *ngFor="let el of elem; let i = index">
    <ul class="p-0 m-0">
      <li class="ps-4 d-flex justify-content-between">
        <div>
          <h5>{{ i + 1 }}. {{ el.titulo }}</h5>
          <p>{{ el.descripcion }}</p>
        </div>
        <!-- <div class="d-flex"> -->
        <nb-button-group
          class="d-flex align-items-center justify-content-end p-0"
        >
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="people-outline" class="fs-4"></nb-icon>
          </button>
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="eye-outline" class="fs-4"></nb-icon>
          </button>
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="edit-2-outline" class="fs-4"></nb-icon>
          </button>
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="trash-2-outline" class="fs-4"></nb-icon>
          </button>
        </nb-button-group>
        <!-- </div> -->
      </li>
    </ul>
  </div>
</nb-card>
