nb-icon {
  cursor: pointer;
}

// .cardd:hover {
//   background-color: var(--color-primary-500);
// }

li {
  list-style: none;
}

.sesion-title {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  margin: 0;
  color: var(--color-primary-500);
}

.sesion-description {
  font-size: 12px;
  padding: 0px 0px 5px 15px;
  margin: 0;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-element {
  border-radius: 0;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .list-element {
    margin-left: 0;
  }
}

.list:hover {
  // background-color: red;
}
nb-icon {
  cursor: pointer;
}

nb-badge {
  padding: 2px 3.2px 2px 3.2px;
}

.element-nombre {
  font-size: 10px;
  // line-height: 25%;
  // cursor: pointer;
}

td {
  // background-color: red;
  cursor: pointer;
  border: none;
}

.play-icon {
  color: #6dcb96;
  border-radius: 5px;

  &:hover {
    background-color: #6dcb96;
    color: #fff;
  }
}

.butonsInfo {
  font-size: 10px;
  // cursor: not-allowed !important;
  pointer-events: none;
}
.fecha{
  background-color: var(--color-primary-50);
  height: 100%;
  width: 80px;
  position: absolute;
  left: 0;
  top: 0
}
.orden{
  //background-color: var(--header-background-color);
  margin-left: 3px ;
  padding: 5px 10px 5px 15px;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  //border: 1px solid #A32B3A;
  color: var(--color-danger-600);
}
