.list_group{
  padding: 5px;
  .list_item{
    list-style: none;
    font-size: 13px;
    position: relative;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;

  }
  .list_item:hover {
    border-left: 4px solid #014776;
    font-weight: bold;
    color: #014776;
  }
}
.hover_class_active{
  border-left: 4px solid #014776;
  font-weight: bold;
  color: #014776;
}
