<nb-card class="h-100 border-0" style="border-radius: 15px" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="edit-2-outline" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px">MIS ELEMENTOS DE EVALUACIÓN</strong>
    </div>
    <hr />
    <div class="row" [formGroup]="formHeader" [nbSpinner]="loadingFilters" nbSpinnerStatus="primary" nbSpinnerSize="small">
      <div class="col-md-4">
        <label class="label">Curso</label>
        <nb-select placeholder="Curso" size="small" status="primary" formControlName="id_curso" fullWidth (selectedChange)="selectedCourse($event)">
          <nb-option value="">Todos</nb-option>
          <nb-option *ngFor="let curso of cursos" [value]="curso?.id">
            {{ curso?.nombre | titlecase }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-md-3">
        <label class="label">Tipo Elemento</label>
        <nb-select placeholder="Tipo Elemento" size="small" status="primary" formControlName="id_tipo_elemento" fullWidth (selectedChange)="selectedElement($event)">
          <nb-option value="">Todos</nb-option>
          <nb-option *ngFor="let elemento of tipo_elementos" [value]="elemento?.id">
            {{ elemento?.nombre | titlecase }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-md-3">
        <label class="label">Estado</label>
        <nb-select placeholder="Estado" size="small" status="primary" fullWidth formControlName="id_estado">
          <nb-option value="">Todos</nb-option>
          <nb-option *ngFor="let estado of estados" [value]="estado.value">{{ estado.nombre }}</nb-option>
        </nb-select>
      </div>
      <div class="col-md-2">
        <label class="label" style="visibility: hidden">Filtrar</label><br />
        <button nbButton fullWidth size="small" status="warning" (click)="refresh()"><nb-icon icon="funnel"></nb-icon>Filtrar</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0">
    <div class="table-responsive">
      <table class="table table-sm mb-0">
        <thead>
        <tr style="font-size: 14px" class="fw-bold text-center">
          <th style="width: 50px">ICONO</th>
          <th>NOMBRE ACTIVIDAD</th>
          <th>DESCRIPCIÓN</th>
          <th style="width: 150px">PER./GRUP.</th>
          <th style="width: 200px">FINALIZA</th>
          <th style="width: 185px">FECHA DE ENTREGA</th>
          <th style="width: 150px">RE-APERTURA</th>
          <th style="width: 100px">VISTO</th>
          <th style="width: 100px">NOTA</th>
          <th style="width: 100px">ACCIÓN</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of pendings" style="font-size: 11px" class="text-center align-middle">
          <td class="p-0" [ngStyle]="iconStyle(element)">
            <div class="d-flex align-items-center justify-content-center" style="height: 60px">
              <nb-icon style="color: #fff; font-size: 20px" icon="{{ element?.icono }}"></nb-icon>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column text-start" style="width: 250px; word-break: break-all">
              <span class="fw-bold" style="font-size: 10px; text-transform: uppercase;">{{ element?.titulo }}</span>
              <span style="font-size: 10px">{{ element?.curso }}</span>
              <span style="font-size: 10px"><strong>ciclo:</strong>  {{element.ciclo}}</span>
              <span style="font-size: 10px"><strong>grupo:</strong>  {{element.grupo}}</span>
            </div>
          </td>
          <td class="text-start" > <div style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">{{ element?.descripcion }}</div></td>
          <td>
            <nb-icon icon="{{ element?.grupal === '1' ? 'people-outline' : 'person-outline' }}"></nb-icon>
            {{ element?.grupal === '1' ? 'Grupal' : 'Personal' }}
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center">
              <div class="d-flex flex-column text-start">
                <span>{{ element?.fecha_fin | date: 'dd/MM/yyyy, h:mm a' }}</span>
                <span *ngIf="element?.dias >= 0 && element?.fecha_entrega===null" class="fw-bold">Faltan {{element?.dias}} días</span>
                <span *ngIf="element?.dias < 0 && element?.fecha_entrega===null" class="fw-bold" style="color: brown;">Pasaron {{element?.dias * -1}} días</span>
              </div>
              <!--<div class="status-end ms-3"></div>-->
            </div>
          </td>
          <td>
            <div *ngIf="element?.fecha_entrega; else noEntregado">
              {{ element?.fecha_entrega | date: 'dd/MM/yyyy, h:mm a' }}
            </div>
            <ng-template #noEntregado>
              <span style="color: red" class="fw-bold">{{ 'No entregó' | uppercase }}</span>
            </ng-template>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center" *ngIf="element?.fecha_entrega===null">
              <button *ngIf="element?.reapertura"
                      nbButton
                      ghost
                      size="small"
                      status="primary"
                      (click)="solicitar(element)">
                <nb-icon icon="clock-outline"></nb-icon>Solicitar</button>
              <span *ngIf="element.total_justification !== 0" style="color: #A52A8A"> Justificación enviada</span>
              <button *ngIf="!element?.reapertura && element.total_justification === 0" nbButton ghost size="small"><nb-icon icon="clock-outline"></nb-icon>Activo</button>
            </div>
          </td>
          <td>
            <nb-icon *ngIf="element?.fecha_visto && element?.fecha_entrega===null" style="color: #47da82" icon="checkmark-circle-2-outline"></nb-icon>
            <nb-icon *ngIf="!element?.fecha_visto && element?.fecha_entrega===null" icon="checkmark-circle-2-outline"></nb-icon>
            <nb-icon *ngIf="element?.fecha_visto && element?.fecha_entrega" style="color: #47da82" icon="done-all-outline"></nb-icon>
          </td>
          <td>
            {{ element.nota }}
          </td>
          <td>
            <nb-icon icon="eye-outline" status="warning" style="cursor: pointer" (click)="navigate(element)"></nb-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between align-items-center p-2">
      <div></div>
      <ngb-pagination
        [collectionSize]="pagination?.sizeListData"
        [(page)]="pagination.page"
        [maxSize]="20"
        [disabled]="pagination?.isDisabledPage"
        [pageSize]="pagination?.sizePage"
        class="d-flex justify-content-center"
        size="sm"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      >
      </ngb-pagination>
      <div class="">
        <nb-form-field [formGroup]="formHeader">
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select size="small" status="primary" formControlName="id_per_page" fullWidth>
            <nb-option *ngFor="let per of pagesCount" [value]="per" (click)="selectedPerPage(per)">{{ per }}</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
