<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'UPDATE' ? 'ACTUALIZAR' : 'NUEVO'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center" >
    <form [formGroup]="FormTypeAlternatives">
      <div class="p-4">
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Código:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              class="codigo"
              maxlength="4"
              fullWidth
              formControlName="codigo"
              fieldSize="small"
              placeholder="Ingrese código"
            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Nombre:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="nombre"
              fieldSize="small"
              placeholder="Ingrese nombre"
            />
          </div>
        </div>
        <br>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="saveTypeAlternatives()"
      [disabled] = "FormTypeAlternatives.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
