<nb-card
  accent="primary"
  class="scrollModal"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage="Procesando información"
>
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px">
    <div class="d-flex align-items-center justify-content-between">
      <h4>Silabus - {{ prog?.nombre }}</h4>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-sm table-striped">
      <thead>
        <tr style="font-size: 14px" class="fw-bold text-center">
          <th style="width: 250px">Titulo</th>
          <th>Nombre del Tema</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let silabu of items" style="font-size: 12px" class="align-middle">
          <td>{{ silabu?.titulo | titlecase }}</td>
          <td>{{ silabu?.tema }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex align-items-center justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="pagination?.collectionSize"
        [(page)]="pagination.page"
        [pageSize]="pagination?.pageSize"
        (pageChange)="refreshItems()"
      >
      </ngb-pagination>
      <nb-form-field [formGroup]="formHeader">
        <nb-icon nbPrefix icon="list-outline"></nb-icon>
        <nb-select size="small" status="primary" formControlName="id_per_page" fullWidth>
          <nb-option *ngFor="let per of pagesCount" [value]="per" (click)="selectedPerPage(per)">{{ per }}</nb-option>
        </nb-select>
      </nb-form-field>
      <!-- <select class="form-select" [(ngModel)]="pagination.pageSize" (ngModelChange)="refreshItems()" size="small">
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
        <option [ngValue]="100">100 items per page</option>
      </select> -->
    </div>
  </nb-card-footer>
</nb-card>
