<nb-card class="m-0 h-100 border-0" style="border-radius: 15px" [nbSpinner]="loading" nbSpinnerStatus="primary"
    nbSpinnerSize="small">
    <nb-card-header>
        <div class="d-flex">
            <nb-icon icon="settings" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
            <strong style="padding-top: 7px">CONFIGURACIONES</strong>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset (changeTab)="tabChange($event)">
            <nb-tab tabTitle="GLOBAL" responsive tabId="global">
                <div style="text-align: right">
                    <button nbButton status="primary" size="small" (click)="openModal('global', '', 'NEW')"><nb-icon icon="plus"></nb-icon>Crear</button>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr style="font-size: 12px">
                                <th style="width: 1px">#</th>
                                <th>Nombre</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th colspan="2" style="width: 1px">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of configs; let i = index" style="font-size: 11px">
                                <td>{{i+1}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.valor}}</td>
                                <td>{{item.tipo}}</td>
                                <td style="width: 1px"><button nbButton size="tiny" status="info" (click)="openModal(item.tipo, item, 'UPDATE')"><nb-icon icon="edit"></nb-icon></button></td>
                                <td style="width: 1px"><button nbButton size="tiny" status="danger" (click)="deleteConfig(item)"><nb-icon icon="trash"></nb-icon></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-tab>
            <nb-tab tabTitle="PERSONAL" responsive tabId="personal">
                <div style="text-align: right">
                    <button nbButton status="primary" size="small" (click)="openModal('personal', '', 'NEW')"><nb-icon icon="plus"></nb-icon>Crear</button>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr style="font-size: 12px">
                                <th style="width: 1px">#</th>
                                <th>Nombre</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th colspan="2" style="width: 1px">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of configs; let i = index" style="font-size: 11px">
                                <td>{{i+1}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.valor}}</td>
                                <td>{{item.tipo}}</td>
                                <td style="width: 1px"><button nbButton size="tiny" status="info" (click)="openModal(item.tipo, item, 'UPDATE')"><nb-icon icon="edit"></nb-icon></button></td>
                                <td style="width: 1px"><button nbButton size="tiny" status="danger" (click)="deleteConfig(item)"><nb-icon icon="trash"></nb-icon></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-tab>
            <nb-tab tabTitle="ÁREA" responsive tabId="area">
                <div style="text-align: right">
                    <button nbButton status="primary" size="small" (click)="openModal('area', '', 'NEW')"><nb-icon icon="plus"></nb-icon>Crear</button>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr style="font-size: 12px">
                                <th style="width: 1px">#</th>
                                <th>Nombre</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th colspan="2" style="width: 1px">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of configs; let i = index" style="font-size: 11px">
                                <td>{{i+1}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.valor}}</td>
                                <td>{{item.tipo}}</td>
                                <td style="width: 1px"><button nbButton size="tiny" status="info" (click)="openModal(item.tipo, item, 'UPDATE')"><nb-icon icon="edit"></nb-icon></button></td>
                                <td style="width: 1px"><button nbButton size="tiny" status="danger" (click)="deleteConfig(item)"><nb-icon icon="trash"></nb-icon></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-tab>
           </nb-tabset>
    </nb-card-body>
</nb-card>