<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
         nbSpinnerMessage="Procesando información">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        CURSOS POR CUENTA ZOOM
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <label class="label">Programa estudio: </label>&nbsp;&nbsp;<strong style="font-size: 12px;">{{item?.programa_estudio_nombre}}</strong>
      <div class="ms-auto"></div>
      <div class="d-flex justify-content-between align-items-center ms-auto">
        <div class="d-flex justify-content-between align-items-center">
          <button nbButton size="small" status="primary"  nbTooltip="Sincronizar salas zoom" nbTooltipStatus="success" style="margin-right: 4px" (click)="synCanvas()">Sincronizar grabaciones en canva</button>
        </div>

      </div>

    </div>
    <label class="label">Ciclo: </label>&nbsp;&nbsp;<strong style="font-size: 12px;">{{item?.ciclo}}</strong><br>
    <label class="label">Grupo: </label>&nbsp;&nbsp;<strong style="font-size: 12px;">{{item?.grupo}}</strong>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngFor="let item of listCourseZoom">
      <nb-accordion style="margin-bottom: 15px;">
        <nb-accordion-item>
          <nb-accordion-item-header [ngStyle]="{'background-color': item.color_error}">
            <div class="d-flex justify-content-between align-items-center">
              <nb-icon icon="pricetags-outline" style="margin-right: 10px"></nb-icon>
              <label>{{item.nombre}}</label>
              <button style="position: absolute; right: 38px" nbButton status="primary" size="tiny" (click)="synCanvasCourse(item)">Sincronizar</button>
            </div>

          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                <tr style="font-size: 12px;">
                  <th>Id carga docente</th>
                  <th>url</th>
                  <th>Id_canva</th>
                  <th>Recording start</th>
                  <th class="text-center">Estado</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let record of item.records; let i = index" style="font-size: 10px; vertical-align: middle;" [ngStyle]="{'background-color': record.id_canva === null? '#EEC7A1': ''}">
                  <td>{{record.id_carga_curso_docente}}</td>
                  <td>{{item.play_url}}</td>
                  <td>{{item.id_canva}}</td>
                  <td>{{item.recording_start}}</td>
                  <td class="text-center">
                    <nb-icon [nbTooltip]="item.id_canva? 'Sincronizado con canva': 'Falta sincronizar'" [icon]="item.id_canva? 'checkmark-circle-2-outline': 'close-circle-outline'"
                             [status]="item.id_canva? 'success': 'danger'"></nb-icon>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex align-items-center justify-content-center flex-wrap">
      <div class="text-center d-flex align-items-center justify-content-center">
        <strong class="text-leyend">El curso no esta en canvas</strong>
        <div class="circle" style="background: #EEC7A1"></div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center">
        <strong class="text-leyend">EL modulo no esta en Canvas</strong>
        <div class="circle" style="background: #FBF7B8"></div>
      </div>
      <div class="text-center d-flex align-items-center justify-content-center">
        <strong class="text-leyend">El curso y modulo no están en canva </strong>
        <div class="circle" style="background: #F6DADE"></div>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
