<nb-layout withScroll [windowMode]="false">
  <nb-layout-column class="d-flex align-items-center justify-content-center">
    <nb-card class="col-md-10 col-lg-8 col-xl-6 col-12" status="primary">
      <nb-card-body class="d-flex align-items-center">
        <div class="row">
          <div class="col-md col-12 d-flex justify-content-center align-items-center">
            <h1>EXÁMEN SORPRESA :D</h1>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>