<nb-layout withScroll [windowMode]="false">
  <nb-layout-column class="d-flex align-items-center justify-content-center p-0 h-100">
    <div class="row header m-0">
      <div class="col-md-4 d-flex align-items-center">
        <div class="count d-md-block d-none d-md-flex" style="gap: 5px">
          <span class="time hour">01</span>
          <span class="time minute">00</span>
          <span class="time second">00</span>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="questions-header">
          <span>Nombre del exámen</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>Preguntas ( 5/10 )</span>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="buttons d-md-block d-none ms-auto d-md-flex flex-md-wrap" style="gap: 10px">
          <button nbButton status="danger" size="small">Act. Preguntas</button>
          <button nbButton status="success" size="small">Terminar</button>
        </div>
      </div>
    </div>
    <div class="settings-button" (click)="collapse()" [ngStyle]="{ right: collapsed ? '50%' : '0' }">
      <nb-icon icon="settings-2-outline"></nb-icon>
    </div>
    <div class="settings" *ngIf="collapsed">
      <div class="settings-container">
        <nb-card class="m-0">
          <nb-card-body class="d-flex flex-column px-lg-4 py-lg-4 px-xl-5 py-xl-4">
            <h5 class="fw-bold">Secciones</h5>
            <button class="mb-2" nbButton outline status="info">Sección 1</button>
            <button class="mb-2" nbButton outline status="info">Sección 2</button>
            <h5 class="fw-bold mt-5">Preguntas sin responder</h5>
            <button class="mb-2" nbButton outline status="success">Pregunta 1</button>
            <button class="mb-2" nbButton outline status="success">Pregunta 2</button>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum assumenda nisi officiis ipsum perspiciatis?
            Accusantium illo vero saepe expedita quibusdam? Praesentium dolorem harum fuga doloremque consequatur natus
            iusto molestiae. Inventore enim dolorum animi cupiditate illo minima esse error, possimus, necessitatibus
            voluptate in debitis saepe doloremque suscipit tenetur, hic impedit facere facilis dolorem nemo consequatur
            voluptatem? Repellendus ad maiores obcaecati dignissimos consequuntur voluptas, vero recusandae officia illo
            inventore consequatur ipsam error culpa, voluptates dolore expedita ipsa voluptatem! Minima quasi alias
            expedita, ex ullam consequatur quam sunt autem consectetur, accusantium aut mollitia nostrum, laborum
            itaque. Provident, voluptate. Sed ipsam repellendus, enim, perspiciatis deleniti aperiam molestias aut
            nihil, unde reprehenderit eum provident alias velit molestiae. Laboriosam, eos? Alias laudantium quos magnam
            officia nemo maxime doloremque. Vitae ipsam maxime et blanditiis suscipit, sapiente eius? Enim libero
            nostrum nobis. Similique, optio qui temporibus tempore ullam minus ab sit tenetur quod, nihil nisi dolorum
            cumque debitis. Cum vero commodi nemo eius voluptatum. Reprehenderit, aperiam cum quam porro quaerat vero
            blanditiis iure labore et ipsa sunt facere alias molestias expedita nesciunt veniam quo nisi consectetur.
            Quas harum vel corporis debitis ex fugiat maxime placeat omnis dolores optio, distinctio odio tempora, ad
            ducimus. Sint amet quisquam mollitia maiores a facilis voluptate provident, natus magni inventore sit sequi
            magnam ab laudantium voluptates asperiores quod? Eius provident itaque unde in quaerat architecto
            perspiciatis ad recusandae impedit. Quis, pariatur non unde aut ratione assumenda provident aliquid
            molestiae! Quos laboriosam ducimus rerum reprehenderit. Dolorum, architecto. Corporis veniam illo, mollitia
            accusamus architecto molestias quidem quae harum error vel officiis enim libero quis commodi. Labore non
            fuga natus praesentium quam! Doloremque deserunt quia optio delectus tenetur eligendi eum alias? Enim, non
            consequuntur? Eveniet, perspiciatis natus aliquid quaerat vero deleniti fugit maiores accusantium dolor
            dolorum quod recusandae eligendi dolores in reiciendis deserunt nesciunt sequi ut temporibus impedit
            veritatis et qui. Consequatur odio amet doloribus dolore sit. Vel at doloribus molestias pariatur impedit
            asperiores vero, omnis earum aliquam eos fuga nihil excepturi, numquam officiis et. Repellendus culpa beatae
            dolor blanditiis quos illum officia necessitatibus nemo iste dignissimos. Minus modi quasi beatae ab impedit
            quas accusamus doloremque omnis dignissimos sed voluptates, veniam a est soluta quo aperiam illo. Amet minus
            aperiam distinctio? Libero sint hic maxime nam facilis ea praesentium officia, tempora omnis ad doloribus.
            Doloremque cumque ullam quas porro ea, aut voluptatibus voluptates temporibus, eaque unde aliquam repellat
            velit magnam eos. Consequuntur quisquam ut dolore delectus fuga sunt quod qui impedit! Voluptatem odio
            incidunt, ad ex hic architecto dolorem exercitationem necessitatibus quam laboriosam, modi amet assumenda
            asperiores quod blanditiis labore ut tempore deserunt illum, reprehenderit a laudantium dolor excepturi!
            Provident optio rerum aut excepturi autem corrupti, eius animi ratione minima possimus reprehenderit
            doloremque dolorem repudiandae consequatur ea dicta esse sequi, error delectus ducimus dolore ipsam?
            Provident eius sapiente voluptatum numquam, ducimus, magni nisi in, placeat corrupti quos id ipsum cum.
            Ducimus, necessitatibus atque. Hic eius optio, cupiditate, impedit amet dolorum repellat sunt eos possimus
            corrupti architecto sit illum velit eaque! Commodi doloribus dignissimos ullam eligendi officiis architecto!
            Ut assumenda quia obcaecati dolor reprehenderit molestias ad expedita aliquid modi est hic quod libero
            consequuntur vel pariatur earum doloremque consequatur nesciunt a, at alias cumque repellendus numquam!
            Praesentium dignissimos accusamus cum exercitationem eaque tempora architecto perferendis ab consectetur,
            eum labore repellat, vero quidem veritatis a quas ipsa ut quo ex doloremque earum nemo repellendus voluptate
            numquam? Magni adipisci tempore commodi eius perspiciatis ad nisi sapiente vitae? Beatae nulla alias earum
            esse ipsa vitae repellendus provident fuga nostrum iusto. Tenetur recusandae quaerat placeat eaque
            blanditiis. Officia nam doloremque aut! Tempore minus dolores veritatis minima voluptatum et cupiditate
            magnam, non beatae fugiat laboriosam voluptate velit. Perspiciatis corporis similique magni odit vitae
            iusto, velit repudiandae quo ipsam sint fuga praesentium eius modi aperiam exercitationem itaque commodi
            delectus sapiente beatae doloribus quod possimus nobis quas suscipit. Molestias facilis non minima enim
            autem dolor ipsum, a unde voluptatibus porro, nulla, tempore dolorum. Eveniet debitis alias mollitia commodi
            eum possimus itaque, quis, ad non error iure vitae autem! Commodi eum illum laborum odio fugit minus atque,
            qui est exercitationem neque hic cumque culpa eos unde voluptate nihil, voluptas ipsa. Repudiandae tempore
            nulla cum non quibusdam doloribus error quia, odit esse quod porro explicabo placeat obcaecati animi ipsam
            ut et dolor libero harum consectetur. Natus ex adipisci laudantium quo, dolores repudiandae iure, aliquid
            iste illum, voluptates eius itaque molestiae tenetur vero in debitis dolore ab minus eum eos rerum unde!
            Ducimus esse quos alias magnam neque reprehenderit, veniam qui ipsum dolore eos perferendis accusantium
            nostrum vitae nesciunt nihil quo. Ipsa, saepe quia. Ab molestias quos, nemo quibusdam porro, corporis
            laudantium voluptates dolor et ducimus placeat asperiores eum molestiae dolore enim, fugiat sint quasi ipsum
            a. Perferendis sit laboriosam quae dolor nisi numquam ut ad ea praesentium officiis. Dolores magnam alias,
            numquam officiis, ea sequi, totam nesciunt veritatis perspiciatis nostrum vitae nulla modi ad. Dolorem
            beatae tempora distinctio omnis quibusdam exercitationem quasi porro adipisci molestiae eius! Ea corrupti
            necessitatibus sequi est nam nisi aliquam ratione adipisci ab eum, quae impedit odit? Enim, quos quo!
            Explicabo provident nam facere. Tempora maxime rem nobis sint culpa cupiditate quas, soluta ratione
            perspiciatis amet eum saepe provident earum voluptas iure tempore delectus fugiat. Illum inventore non
            commodi quaerat obcaecati! Optio facere, sed illum voluptate voluptas odio beatae ipsam quae velit porro
            omnis quo quos tempora! Quae molestias numquam officia, porro dignissimos accusantium aperiam cumque eum
            laborum repudiandae maxime voluptatum natus pariatur architecto eos rerum dolorum corrupti inventore?
            Maiores, voluptates illum excepturi amet accusamus quisquam id ipsum velit dolorum repudiandae cumque
            explicabo fugiat corrupti aspernatur aliquam sint nisi laboriosam optio vitae, totam odit eligendi nihil
            reiciendis. Sapiente cum accusamus molestias, vero laboriosam odio perspiciatis nemo! Iste quisquam
            perspiciatis dicta officiis vitae, quo distinctio facere dolore suscipit saepe nihil eos aliquam soluta
            illum, obcaecati doloribus. Corporis, nisi? Dicta hic dolores et inventore praesentium excepturi sint
            dolorum perferendis iure incidunt libero voluptatem maxime minus optio recusandae ullam, alias itaque natus
            molestias eveniet maiores? Architecto animi molestias voluptatibus deleniti accusantium enim ratione qui
            voluptates.
            <p>Hola</p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <nb-card class="exam-card border-0">
      <nb-card-body class="p-0">
        <div class="questions py-md-4">
          <div class="section-container">
            <h3 class="fw-bold px-4 py-3 m-0">Sección 1</h3>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>1. ¿Sabías que hay animales que perciben el sonido a través de la piel,
              como el topo dorado del Desierto del Sahara? Así que se podría decir que sus sentidos del tacto y del oído están “fusionados”.
              ¿Que ya conocías esa información? Pues…¡Prueba suerte y demuestra cuánto sabes con el resto de preguntas!.</p>
            <div>
              <app-v-est-unique-option [alternativas]="texts"></app-v-est-unique-option>
            </div>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>
              1. If you use this site regularly and would like to help keep the site on the Internet, please consider
              donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum
              is appreciated - click here to donate using PayPal. Thank you for your support.</p>
            <div>
              <app-v-est-multi-option [alternativas]="images"></app-v-est-multi-option>
            </div>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>1. ¿Qué especie es la más pequeña de entre todos los cérvidos?</p>
            <div class="image-container w-100 d-flex justify-content-center mb-4">
              <img
                src="https://cdn.pixabay.com/photo/2018/05/03/22/34/lion-3372720_1280.jpg"
                alt=""
                style="max-width: 100%; height: 100%; max-height: 375px; margin: 0 auto"
              />
              <!-- <img src="https://dearsam.com/img/600/744/resize/m/a/male-lion-50x70_d8c47.jpg" alt=""
                style="max-width: 100%; height: 100%; max-height: 375px; margin: 0 auto;"> -->
            </div>
            <div>
              <app-v-est-unique-option [alternativas]="textImg"></app-v-est-unique-option>
            </div>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>
              1. If you use this site regularly and would like to help keep the site on the Internet, please consider
              donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum
              is appreciated - click here to donate using PayPal. Thank you for your support.
            </p>
            <div class="video-container w-100 mb-4">
              <app-video-player
                [videoFormat]="'YouTube'"
                [url]="'https://www.youtube.com/watch?v=vgLco8K7Ki4'"
                (loadingsFiles)="loadingsFiles($event)"
              ></app-video-player>
            </div>
            <div>
              <app-v-est-unique-option [alternativas]="images"></app-v-est-unique-option>
            </div>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>
              1. If you use this site regularly and would like to help keep the site on the Internet, please consider
              donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum
              is appreciated - click here to donate using PayPal. Thank you for your support.</p>
            <div>
              <app-v-est-multi-option [alternativas]="texts"></app-v-est-multi-option>
            </div>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>1. If you use this site regularly and would like to help keep the site on the Internet, please consider
              donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum
              is appreciated - click here to donate using PayPal. Thank you for your support.</p>
            <div>
              <app-v-est-closed></app-v-est-closed>
            </div>
          </div>
          <div class="question-container p-4 p-lg-5">
            <p>1. If you use this site regularly and would like to help keep the site on the Internet, please consider
              donating a small sum to help pay for the hosting and bandwidth bill. There is no minimum donation, any sum
              is appreciated - click here to donate using PayPal. Thank you for your support.</p>
            <div>
              <app-v-est-open></app-v-est-open>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <div class="movil-buttons d-md-none d-block">
      <div class="buttons d-flex justify-content-end" style="gap: 20px">
        <button nbButton status="danger" size="small">Act. Preguntas</button>
        <button nbButton status="success" size="small">Terminar</button>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
