.exam-card {
  width: 100%;
  min-height: 100vh;
  max-width: 768px;
  margin-top: 74px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px){
  .exam-card {
    margin-top: 50px;
  }

  nb-card {
    margin-top: 70px;
    margin-bottom: 20px;
  };
}

nb-layout-column {
  position: relative;
}

.header {
  padding: 15px 20px;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.time {
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
}

.hour {
  background-color: #8DD7CF;
  border: 2px solid #1AAE9F;
}

.minute {
  background-color: #B2ACFA;
  border: 2px solid #7165F6;
}

.second {
  background-color: #F3C19D;
  border: 2px solid #E8833A;
}

.questions span {
  color: #293845;
  font-size: 16px;
  font-weight: bold;
}

.settings {
  position: fixed;
  top: 74px;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: yellow;
  z-index: 999;

  &-button {
    position: fixed;
    top: 50%;
    cursor: pointer;
    z-index: 9999;

    nb-icon {
      color: #D3455B;
      height: 30px;
      width: 30px;
    }
  }

  nb-card {
    height: 100%;
    border-radius: 0;
  }

  &-container {
    height: 100%;
  }
}

@media screen and (max-width: 768px){
  .settings {
    top: 50px;
  }
}