<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="globe-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Areas</strong>
    </div>
  </nb-card-header>

  <nb-card-body class="pb-0 d-flex flex-column">
    <form [formGroup]="formHeader">
      <div class="row">
        <div class="col-sm-9">
          <label class="label">Buscar nombre</label>
          <input type="text" nbInput fullWidth fieldSize="small" placeholder="Buscar...." formControlName="nombre"
                 (keyup)="keyNombre($event)">
        </div>
        <div class="col-sm-3">
          <label class="label" style="visibility: hidden;">Filtrar</label><br>
          <button nbButton size="small" status="warning" (click)="refresh()" class="m-1"
                  [disabled]="formHeader.controls['nombre'].value === '' ">
            <nb-icon icon="funnel"></nb-icon>
            Filtrar
          </button>
          <button
            class="ms-auto m-1"
            nbButton
            (click)="open('', 'NEW')"
            status="primary"
            nbTooltip="Nuevo tipo elemento"
            size="small">
            <nb-icon icon="plus"></nb-icon>
            Crear
          </button>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>Nombre</th>
          <th>Sigla</th>
          <th>area_id</th>
          <th>Id areas</th>
          <th>Id padre</th>
          <th>codigo</th>
          <th>estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 10px; vertical-align: middle;" *ngFor="let item of areasData">
          <td>{{item.nombre}}</td>
          <td>{{item.sigla}}</td>
          <td>{{item.area_id}}</td>
          <td>{{item.id_areas}}</td>
          <td>{{item.id_padre}}</td>
          <td>{{item.codigo}}</td>
          <td>{{item.estado}}</td>

          <td class="text-center" style="width: 1px; vertical-align: middle;">
            <div class="d-flex align-items-center justify-content-center">
              <button nbButton size="tiny" status="info" (click)="open(item, 'UPDATE')">
                <nb-icon icon="edit" style="font-size: 25px; cursor: pointer;"></nb-icon>
              </button>
              <button nbButton size="tiny" status="danger" (click)="delete(item)">
                <nb-icon icon="trash" style="font-size: 25px; cursor: pointer;"></nb-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between align-items-center p-2">
      <div style="color: brown; font-weight: bold;">Total: {{pagination.sizeListData}}</div>
      <ngb-pagination [collectionSize]="pagination?.sizeListData" [(page)]="pagination.page" [maxSize]="20"
                      [disabled]="pagination?.isDisabledPage" [pageSize]="pagination?.sizePage"
                      class="d-flex justify-content-center" size="sm" [boundaryLinks]="true"
                      (pageChange)="loadPage($event)">
      </ngb-pagination>
      <div>
        <nb-form-field>
          <nb-icon nbPrefix icon="list-outline"></nb-icon>
          <nb-select placeholder="Paginación" status="success" size="tiny" fullWidth
                     [(selected)]="selectedItem" (selectedChange)="sizeTable($event)">
            <nb-option *ngFor="let per of pagesCount" [value]="per">Paginar de {{per}} en {{per}}</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
