<div style="position: relative">
  <nb-badge
    text="{{ element.realizo }}-{{ element.count }}"
    class="rounded-circle"
    status="basic"
    position="top start"
  ></nb-badge>

  <nb-icon
    class="me-2 mt-3"
    (click)="clickedIndex = 1"
    [ngStyle]="
      clickedIndex === 1
        ? elementStyleActive(element)
        : elementStyle() && hoveredIndex === 1
        ? elementStyleHover(element)
        : elementStyle()
    "
    (mouseenter)="hoveredIndex = 1"
    (mouseleave)="hoveredIndex = null"
    (click)="selectedElement(element)"
    [icon]="element.icono"
  >
  </nb-icon>
</div>
