<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="droplet-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Tipos de Elementos</strong>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <button
      class="ms-auto"
      nbButton
      (click)="openTypeElement('', 'NEW')"
      status="primary"
      nbTooltip="Nuevo tipo elemento"
      size="small">
      <nb-icon icon="plus"></nb-icon>Crear</button>

    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>Código</th>
          <th>Nombre</th>
          <th>Background</th>
          <th>Color active</th>
          <th>Color border</th>
          <th>Color hover</th>
          <th>Icono</th>
          <th>Tamaño del icono</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr  style="font-size: 10px; vertical-align: middle;" *ngFor="let item of typeElementsData">
          <td>{{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.background}}<div class="color-border" [ngStyle]="{'background-color': item.background}"></div></td>
          <td>{{item.color_active}}<div class="color-border" [ngStyle]="{'background-color': item.color_active}"></div></td>
          <td>{{item.color_border}}<div class="color-border" [ngStyle]="{'background-color': item.color_border}"></div></td>
          <td>{{item.color_hover}}<div class="color-border" [ngStyle]="{'background-color': item.color_hover}"></div></td>
          <td><nb-icon [icon]="item.icono"></nb-icon></td>
          <td>{{item.icono_font_size ? item.icono_font_size + 'px': ''}}</td>
          <td class="text-center" style="width: 1px; vertical-align: middle;">
            <div class="d-flex align-items-center justify-content-center">
            <button nbButton size="tiny" status="info" (click)="openTypeElement(item, 'UPDATE')">
              <nb-icon  icon="edit" style="font-size: 25px; cursor: pointer;" ></nb-icon>
            </button>
              <button nbButton size="tiny" status="danger" (click)="deleteTypeElement(item)">
                <nb-icon  icon="trash" style="font-size: 25px; cursor: pointer;" ></nb-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
