.instructions {

  &-container {
    border: none;
    box-shadow: 0px 3px 10px #0000000D;
  }

  &-title {
    color: #414141;
    font-size: 16px;
    font-weight: bold;
  }

  &-description {
    font-size: 14px;
    color: #898989;
  }
}
