<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">

<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<nb-card class="instructions-container" style="margin-left: 20px; margin-right: 20px;" *ngFor="let item of listTutoria">
  <nb-card-body class="px-4 py-3">
    <div class="d-flex align-items-center">
      <div class="instructions">
        <h4 class="instructions-title">{{item.titulo  | uppercase}}</h4>
        <small class="label instructions-description">{{item.fecha_inicio | date: 'MMMM d, y, h:mm:ss a' | titlecase}} / {{item.fecha_fin |date: 'MMMM d, y, h:mm:ss a' | titlecase}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <app-video-player  [videoFormat]="'YouTube'" [url]="item.url_video"
                           (loadingsFiles)="loadingsFiles($event)"></app-video-player>
      </div>
      <div class="col-xl-4" style="margin-top: 30px">
        <div>
          <small style="white-space: pre-line" [innerHTML]="item.consulta"></small><br>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex align-items-center flex-wrap">
      <app-react-comment [item]= "item"
                         [type_rating] = "1"
                         (loadingsForm) = loadingsForm($event)
                         [userInfo] = "userInfo"></app-react-comment>
      <div style="margin-right: 10px"><button nbButton status="primary" size="tiny" outline (click)="showComment(item)"><nb-icon icon="eye-off" *ngIf="item.checked"></nb-icon> {{item.checked? 'Ocultar respuestas': 'Responder'}}</button></div>
      <div style="margin-right: 5px"><small class="label instructions-description">Número de respuestas ({{item.count_answers}})</small></div>
    </div>
    <br>
    <div *ngIf="item.answer !== null && !item.vermas && !item.checked ">
      <div class="d-flex flex-column container-img ms-1" style="margin-right: 5px;">
        <img [src]="'https://st.depositphotos.com/2101611/4338/v/600/depositphotos_43381243-stock-illustration-male-avatar-profile-picture.jpg'" alt="">
      </div>
      <div class="d-flex justify-content-between align-items-center animations" >
        <div class="d-flex flex-column flex-grow-1">
          <div class="d-flex justify-content-between align-items-center">
            <p style="font-size: 14px; font-weight: bold;" class="comment-name m-0">{{item.answer.persons_nombre}} <label class="label" style="font-size: 11px;">&nbsp;&nbsp;&nbsp;&nbsp;Fecha {{formatDate(item?.answer.created_at)}}</label> </p>
           <!-- <div class="d-flex">
              <button style="margin-right: 5px" nbButton status="primary" size="tiny"><nb-icon icon="edit"></nb-icon></button>
              <button nbButton status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button>
            </div>-->
          </div>
          <p style="font-size: 12px; text-align: justify;">{{item.answer.respuesta}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="item.vermas || item.checked">
      <app-answers-questions [profile] = "profile" [visibilidad] = "item.vermas" [asnwerQuestions] = "item" [emmitComment] = "item.checked" [code] = "'ANSWER'"></app-answers-questions>
    </div>
  </nb-card-body>

</nb-card>
<div style="background-color: #FFFFFF" class="row mx-4 my-3" *ngIf="listElections.length > 0 && profile?.person?.id === userInfo?.user?.person.id && rolSemestre?.rol?.name === 'Estudiante'">
  <h1 style="text-align: center; font-size: 20px; border-bottom: 1px solid #E4E9F2" >ELECCIONES 2022</h1>
  <div class="col-md-6"  *ngFor="let item of listElections"
       >
    <nb-card status="primary" >
      <nb-card-header>{{item.titulo}}</nb-card-header>
      <nb-card-body>
        <div>
          <div>
            <div (click)="viewImage(item)" class="table-responsive img_style" [innerHTML]="item.consulta">
            </div>

            <app-react-comment *ngIf="validateConfigurationElection()" style="text-align: center" [item]= "item"
                               (valueEmmit)="valueEmmit($event)"
                               [type] ="'election'"
                               [color] = "'primary'"
                               [size] = "'large'"
                               [icon] = "'checkmark'"
                               [type_rating] = "5"
                               (loadingsForm) = loadingsForm($event)
                               [userInfo] = "userInfo">
            </app-react-comment>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
  <div style="background-color: #FFFFFF" class="row mx-4 my-3" *ngIf="listTeachers.length > 0 && profile?.person?.id === userInfo?.user?.person.id && rolSemestre?.rol?.name === 'Docente' && validateConfigurationElection()">
    <h1 style="text-align: left; font-size: 16px; border-bottom: 1px solid #E4E9F2; background-color: #185580; color: #FFFFFF" >ELECCIONES DOCENTE, ORGANOS DE GOBIERNO Y ORGANOS ADMINISTRATIVOS</h1>
    <div class="col-md-6" *ngFor="let item of listTeachers">
      <nb-card status="primary" >
        <nb-card-body>
          <div class="d-flex justify-content-between flex-wrap">
            <span> <strong>{{item.apellido_paterno}} {{item.apellido_materno}} {{item.nombres}}</strong> </span>
            <small class="label">{{item.nombre}}</small>
          </div>
          <small style="font-size: 11.4px;; font-weight: bold;color: #F1BCBF;">
            {{item.categoria_docente | titlecase}}</small>
          <br>
          <app-elections-teachers *ngIf="validateConfigurationElection()" [teacherItem] = "item"
                                  [codigo_cp] = "this.codigo_CP"
                                  [dataTeacher] = "listTeachers"
                                  (valueEmmit)="valueEmmitDocente($event)"
                                  [userInfo] = "userInfo"
                                  (loadingsForm) = loadingsForm($event)></app-elections-teachers>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>


