<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<nb-card class="instructions-container" style="margin-left: 20px; margin-right: 20px;" *ngFor="let item of listInquiries">
  <nb-card-body class="px-4 py-3">
    <div class="d-flex align-items-center">
      <div class="instructions">
        <h4 class="instructions-title">{{item.titulo  | uppercase}}</h4>
        <small class="label instructions-description">{{item.fecha_inicio | date: 'MMMM d, y, h:mm:ss a' | titlecase}} / {{item.fecha_fin |date: 'MMMM d, y, h:mm:ss a' | titlecase}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <app-video-player  [videoFormat]="'YouTube'" [url]="item.url_video"
                           (loadingsFiles)="loadingsFiles($event)"></app-video-player>
      </div>
      <div class="col-xl-4" style="margin-top: 30px">
        <div>
          <small style="white-space: pre-line">1. {{item.consulta}} </small><br>
        </div>
        <br>
        <div class="d-flex align-items-center flex-wrap">
          <div style="margin-right: 5px"><button nbButton status="success" size="tiny" outline >+</button></div>
          <div style="margin-right: 5px"><button nbButton status="success" size="tiny" outline >Ver respuestas ({{item.count_answers}})</button></div>
          <div><button nbButton status="primary" size="tiny" outline >Responder</button></div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <app-answers-questions [profile] = "profile"></app-answers-questions>
    </div>
  </nb-card-body>
</nb-card>

