<nb-card
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage="Preparando información"
>
  <nb-card-body>
    <div class="row container p-0 m-0">
      <div class="col-4 menu-container p-4 pe-0">
        <p class="fw-bold menu-title pe-2" style="font-size: 12px">
          ¿ Que recurso o actividad deseas añadir al curso?
        </p>
        <app-menu-elements
          (onSelect)="selectedElement($event)"
          (loadingsMenu)="loadingsMenu($event)"
        ></app-menu-elements>
      </div>
      <div class="col-8 p-3">
        <div class="col px-0">
          <div class="d-flex align-items-center">
            <nb-icon
              [icon]="element?.icono"
              [ngStyle]="{ color: element?.background }"
              class="fs-1 me-2"
            ></nb-icon>
            <div class="">
              <p class="fw-bold fs-6 mb-0">{{ element?.nombre }}</p>
              <small>Completa los datos a continuación</small>
            </div>
          </div>
        </div>

        <div
          class="form mt-4 px-5"
          *ngIf="['TRABAJO'].includes(element?.nombre)"
        >
          <app-works
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-works>
        </div>

        <div class="form mt-4 px-5" *ngIf="['FORO'].includes(element?.nombre)">
          <app-forus
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-forus>
        </div>

        <div
          class="form mt-4 px-5"
          *ngIf="['ENLACE'].includes(element?.nombre)"
        >
          <app-enlace-external
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-enlace-external>
        </div>

        <div
          class="form mt-4 px-5"
          *ngIf="['VIDEO CONFERENCIA'].includes(element?.nombre)"
        >
          <app-vidio-conference
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-vidio-conference>
        </div>

        <div
          class="form mt-4 px-5"
          *ngIf="['EVALUACION'].includes(element?.nombre)"
        >
          <app-evaluations
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-evaluations>
        </div>

        <div
          class="form mt-4 px-5"
          *ngIf="['DOCUMENTO'].includes(element?.nombre)"
        >
          <app-documents
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-documents>
        </div>

        <div class="form mt-4 px-5" *ngIf="['VIDEO'].includes(element?.nombre)">
          <app-vidio
            (saveCloseValue)="saveValue($event)"
            (loadingsForm)="loadingsForm($event)"
            [topics]="topics"
            [unidad]="unidad"
            [curso]="curso"
            [item]="item"
            [code]="code"
            [valueMenu]="element"
          ></app-vidio>
        </div>

        <div  class="form mt-4 px-5" *ngIf="['CARPETA'].includes(element?.nombre)">
          <app-carpeta (saveCloseValue)="saveValue($event)" (loadingsForm)="loadingsForm($event)"
          [topics]="topics"
          [unidad]="unidad"
          [curso]="curso"
          [item]="item"
          [code]="code"
          [valueMenu]="element"></app-carpeta>
        </div>

        <!-- <div class="row">
          <div class="col px-0">
            <div class="d-flex align-items-center">
              <nb-icon icon="attach-outline" class="fs-1 me-2"></nb-icon>
              <div class="">
                <p class="fw-bold fs-6 mb-0">Trabajo</p>
                <small>Completa los datos a continuacion</small>
              </div>
            </div>
          </div>
          <div class="form mt-4 px-5">
            <label for="title">Titulo</label>
            <input
              class="w-100"
              type="text"
              nbInput
              fullWidth
              status="basic"
              placeholder="Ingresa un titulo"
              id="title"
            />
            <label for="description" class="mt-2">Descripcion</label>
            <textarea
              nbInput
              fullWidth
              placeholder="Input"
              id="description"
            ></textarea>
            <label class="form-label mt-2" for="customFile"
              >Adjuntar documento</label
            >
            <div>
              <lamb-prepare-file-pro
              [paramsInfo]="{id: '111', codigo: '201410594', directory: 'plantillas/upeu', type: 'put', tabla: 'elements'}"
              [numFiles]="1"
               (filterValueChange)="valueFile($event)"
               ></lamb-prepare-file-pro>
            </div>

            <div class="inicio">
              <p for="initial-date" class="d-block mt-2 mb-0">
                Fecha y hora de Inicio
              </p>
              <div class="d-flex">
                <input
                  class="date-input"
                  nbInput
                  placeholder="Fecha Inicio"
                  [nbDatepicker]="dateTimePicker"
                />
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <input
                  class="hour-input ms-auto"
                  nbInput
                  placeholder="Hora Inicio"
                  [nbTimepicker]="timepicker"
                  type="text"
                />
                <nb-timepicker #timepicker></nb-timepicker>
              </div>
            </div>
            <div class="termino">
              <p for="initial-date" class="d-block mt-2 mb-0">
                Fecha y hora de Termino
              </p>
              <div class="d-flex">
                <input
                  class="date-input"
                  nbInput
                  placeholder="Fecha Termino"
                  [nbDatepicker]="dateTimePicker"
                />
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <input
                  class="hour-input ms-auto"
                  nbInput
                  placeholder="Hora Termino"
                  [nbTimepicker]="timepicker"
                  type="text"
                />
                <nb-timepicker #timepicker></nb-timepicker>
              </div>
            </div>
            <div class="gracia">
              <p for="initial-date" class="d-block mt-2 mb-0">
                Fecha y hora de Gracia
              </p>
              <div class="d-flex">
                <input
                  class="date-input"
                  nbInput
                  placeholder="Fecha de Gracia"
                  [nbDatepicker]="dateTimePicker"
                />
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <input
                  class="hour-input ms-auto"
                  nbInput
                  placeholder="Hora de Gracia"
                  [nbTimepicker]="timepicker"
                  type="text"
                />
                <nb-timepicker #timepicker></nb-timepicker>
              </div>
            </div>
            <nb-toggle status="basic" class="my-3 d-block"
              >Contiene rubrica</nb-toggle
            >
            <nb-select placeholder="Seleccionar rubrica" class="d-block mb-4">
              <nb-option value="1">Option 1</nb-option>
              <nb-option value="2">Option 2</nb-option>
              <nb-option value="3">Option 3</nb-option>
              <nb-option value="4">Option 4</nb-option>
            </nb-select>
            <label for="secuencia">Secuencia de apredizaje</label>
            <input
              type="text"
              nbInput
              fullWidth
              status="basic"
              placeholder=""
              id="secuencia"
              class="mb-3"
            />
            <div class="buttons d-flex justify-content-end">
              <button nbButton outline status="primary" class="me-2" (click)="closeModal()">
                Cancelar
              </button>
              <button nbButton status="primary">Añadir actividad</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
