<div class="content">
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
  <div class="d-flex flex-column card" >
    <small class="titulo">Tienes un trabajo nuevo</small>
    <small><strong style="color: var(--color-primary-500)">Nombre del curso</strong>,docente, fecha de entrega</small>
    <div class="ms-auto">
      <small>Hace 24 horas</small>
    </div>
  </div>
</div>

