nb-sidebar.expanded :host{
  .user-imagen{
    height: -webkit-fill-available;
    border-radius: 50%;
    border: 0.2rem solid #bebe3a;
  }
  .text2 small::before{
    content: 'Compañeros';
  }
}
nb-sidebar.compacted :host {
  .user-imagen{
    margin-left: -0.6rem;
    height: -webkit-fill-available;
    border-radius: 50%;
    border: 0.2rem solid #bebe3a;
  }
  .text2 small::before{
    content: 'C';
    padding: 1rem;
  }
  hr{
    display: none;
  }
  nb-list-item{
    padding: 0;
  }
  div.user-container>.info-container{
    display: none !important;
  }
}
