<div class="text2 d-flex justify-content-between align-items-center">
  <hr style="width: 60px; background-color: var(--color-primary-400)">
  <small></small>
  <hr style="width: 60px; background-color: var(--color-primary-400)">
</div>
<div>
  <div>
    <nb-list>
      <nb-list-item style="background-color: #FFFFFF; border-radius: 10px; margin: 3px 0; padding: 10px">
        <div class="d-flex justify-content-between align-items-center">
          <img [src]="'/assets/student.jpg'" width="40px" alt="" class="user-imagen">
          <div class="flex-grow-1 list-text" style="margin-left:10px">
            <div class="d-flex flex-column align-items-baseline">
              <small>Uziel Carpio</small>
              <small class="label">14 septiembre 2022</small>
            </div>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </div>
</div>
