<div class="p-4" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
  nbSpinnerMessage="Procesando información">
  <div class="d-flex align-items-center">
    <div class="ms-2">
      <div class="d-flex align-items-center">
        <nb-icon style="width: 62px; height: 52px; color: #b37987" icon="book-open-outline"></nb-icon>
        <p class="d-flex flex-column mb-0">
          <span class="mb-2" style="font-size: 28px; font-weight: bold">{{'MIS_ASIGNATURAS' | translate}}</span>
          <span style="font-size: 14px">2021-1 INGENIERÍA DE SISTEMAS</span>
        </p>
      </div>
    </div>
    <div class="ms-auto d-none d-xxl-block p-3">
      <nb-icon [status]="form.value.tipo === '1' ? 'primary' : 'basic'" style="cursor: pointer; font-size: 24px;"
        icon="list-outline" (click)="cambioTypo('1')"></nb-icon>
      <nb-icon [status]="form.value.tipo === '2' ? 'primary' : 'basic'" style="cursor: pointer; font-size: 24px"
        icon="grid-outline" (click)="cambioTypo('2')"></nb-icon>
    </div>
  </div>
  <hr />

  <!-- cursos en tipo lista -->
  <div class="container-fluid">
    <div class="col-12" *ngIf="form.value.tipo == '1'">
      <div class="col-12">
        <div *ngIf="theRolSemestre?.rol?.name=== 'Docente'">
          <nb-card class="car-list mb-2" *ngFor="let curso of cursosDocente; let i = index" (click)="navigate(curso)">
            <div class="d-flex align-items-center flex-wrap">
              <div class="">
                <img src="assets/books.jpg" class="img-fluid" alt="" style="height: 68px;; width: 120px;" />
              </div>
              <div class="ms-4">
                <h6 class="course-name m-0">{{ curso.nombre }}</h6>
                <p class="course-teacher m-0">
                  {{ curso.persons_teacher_nombre }}
                  <small class="course-description">Ciclo - {{ curso.ciclo }} -
                    {{ curso.programa_estudio_nombre }}</small>
                </p>
              </div>
              <div class="ms-auto">
                <ul class="d-flex justify-content-evenly p-0 mb-2">
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="people-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="checkmark-square-2-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="checkmark-circle-2-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="video-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                </ul>
                <div style="width: 100%">
                  <nb-progress-bar size="tiny" [value]="40" status="warning"></nb-progress-bar>
                </div>
              </div>
              <div class="" style="margin-left: 100px;">
                <img src="assets/play-list.png" class="img-fluid" alt="" style="height: 68px; width: 68px;" />
              </div>
            </div>
          </nb-card>
        </div>
        <div *ngIf="theRolSemestre?.rol?.name === 'Estudiante'">
          <nb-card class="car-list mb-2" *ngFor="let curso of cursosEstudiante; let i = index" (click)="navigate(curso)">
            <div class="d-flex align-items-center flex-wrap">
              <div class="">
                <img src="assets/books.jpg" class="img-fluid" alt="" style="height: 68px;; width: 120px;" />
              </div>
              <div class="ms-4">
                <h6 class="course-name m-0">{{ curso.course_nombre }}</h6>
                <p class="course-teacher m-0">
                  {{ curso.person_teacher_nombre }}
                  <small class="course-description">Ciclo - {{ curso.ciclo }} -
                    {{ curso.programa_estudio_nombre }}</small>
                </p>
              </div>
              <div class="ms-auto">
                <ul class="d-flex justify-content-evenly p-0 mb-2">
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="people-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="checkmark-square-2-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="checkmark-circle-2-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                  <li class="mx-3">
                    <nb-icon class="text-muted" icon="video-outline"></nb-icon>
                    <p class="icon-text">1</p>
                  </li>
                </ul>
                <div style="width: 100%">
                  <nb-progress-bar size="tiny" [value]="40" status="warning"></nb-progress-bar>
                </div>
              </div>
              <div class="" style="margin-left: 100px;">
                <img src="assets/play-list.png" class="img-fluid" alt="" style="height: 68px; width: 68px;" />
              </div>
            </div>
          </nb-card>
        </div>
      </div>
    </div>

    <!-- cursos en tipo card -->

    <div class="row" *ngIf="form.value.tipo == '2'">
      <div class="col-12">
        <div *ngIf="theRolSemestre?.rol?.name === 'Docente'" class="row">
          <nb-card *ngFor="let curso of cursosDocente; let i = index" (click)="navigate(curso)"
            class="curso-card col-md-2">
            <div class="contenedor">
              <img src="assets/books.jpg" class="card-img-top" alt="..." />
              <!-- <div class="texto-encima">Hola</div> -->
              <div class="centrado"><button nbButton >Hoalsasaas</button></div>
            </div>
            <div class="card-body">
              <h6 class="course-name mb-0">{{ curso.nombre }}</h6>
              <p class="course-teacher mb-0">{{ curso.persons_teacher_nombre }}</p>
              <p class="course-description mb-0">
                Ciclo - {{ curso.ciclo }} - {{ curso.programa_estudio_nombre }}
              </p>
            </div>
            <div>
              <nb-progress-bar size="tiny" [value]="40" status="warning"></nb-progress-bar>
            </div>
            <ul class="d-flex justify-content-evenly p-0 my-2">
              <li class="">
                <nb-icon class="text-muted" icon="people-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="checkmark-square-2-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="checkmark-circle-2-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="video-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
            </ul>
          </nb-card>
        </div>
        <div *ngIf="theRolSemestre?.rol?.name === 'Estudiante'" class="row">
          <nb-card *ngFor="let curso of cursosEstudiante; let i = index" (click)="navigate(curso)"
            class="curso-card col-md-2">
            <img src="assets/books.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="course-name mb-0">{{ curso.course_nombre }}</h6>
              <p class="course-teacher mb-0">{{ curso.person_teacher_nombre }}</p>
              <p class="course-description mb-0">
                Ciclo - {{ curso.ciclo }} - {{ curso.programa_estudio_nombre }}
              </p>
            </div>
            <div>
              <nb-progress-bar size="tiny" [value]="40" status="warning"></nb-progress-bar>
            </div>
            <ul class="d-flex justify-content-evenly p-0 my-2">
              <li class="">
                <nb-icon class="text-muted" icon="people-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="checkmark-square-2-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="checkmark-circle-2-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
              <li class="">
                <nb-icon class="text-muted" icon="video-outline"></nb-icon>
                <p class="icon-text">1</p>
              </li>
            </ul>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
