<div>
  <app-card-list-course></app-card-list-course>
</div>
<div class="row">
  <div class="col-md-6">
    <app-c-multi-option></app-c-multi-option>
  </div>
  <div class="col-md-6">
    <app-c-unique-option></app-c-unique-option>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-c-true-false></app-c-true-false>
  </div>
  <div class="col-md-6">
    <app-c-open></app-c-open>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-c-closed></app-c-closed>
  </div>
  <div class="col-md-6">
  </div>
</div>
