<div class="hoveres" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" style="min-height: 200px;">
    <nb-card *ngFor="let item of justificatiosn" class="cardA" (click)="openRespuesta(item)">
        <nb-card-header>
            <div class=" d-flex align-items-center justify-content-between">
                <strong>{{item.element_nombre}}</strong>
                <span class="badge primarys">{{item?.estado_justification}}</span>
            </div>
        </nb-card-header>
        <nb-card-body>
            <p>
                {{item.justification}}
            </p>
            <label class="label" style="font-size: 9px;">
                Creado hace {{countdown(item?.created_at)}}
            </label>
        </nb-card-body>
        <nb-card-footer style="padding-top: 3px;
        padding-bottom: 3px;">
        
            <p style="text-align: right;">{{item?.persons_student_nombre}}</p>
            
        </nb-card-footer>
    </nb-card>
</div>