<div class="row" >
  <div class="col-md-6 col-xxl-6" *ngFor="let item of data">
    <nb-accordion class="mb-3">
      <nb-accordion-item [collapsed]="item.active">
        <nb-accordion-item-header>
          {{item.name}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <thead>
              <tr style="font-size: 12px">
                <th>Nombre</th>
                <th>Color</th>
                <th>Codigo</th>
                <th>Delegado</th>
                <th>Act</th>
              </tr>
              </thead>
              <tbody *ngIf="item.equipos.length > 0; else emptyContent">
              <tr *ngFor="let eq of item.equipos" style="font-size: 12px">
                <td>{{eq.name}}</td>
                <td>{{eq.color_info}}</td>
                <td>{{eq.codigo}}</td>
                <td>{{eq.delegado}}</td>
                <td><div class="d-flex align-items-center justify-content-center">
                  <button *ngIf="eq.info_id" nbButton size="tiny" status="info" (click)="openInfo(eq, 'UPDATE')">
                    <nb-icon  icon="edit" style="font-size: 25px; cursor: pointer;" ></nb-icon>
                  </button>
                  <button *ngIf="!eq.info_id" nbButton size="tiny" status="success" (click)="openInfo(eq, 'NEW')">
                    <nb-icon  icon="plus-outline" style="font-size: 25px; cursor: pointer;" ></nb-icon>
                  </button>
                  <button *ngIf="!eq.info_id" nbButton size="tiny" status="danger" (click)="delete(eq)">
                    <nb-icon  icon="trash-2-outline" style="font-size: 25px; cursor: pointer;" ></nb-icon>
                  </button>
                </div></td>
              </tr>
              </tbody>
              <ng-template #emptyContent>
                <tbody>
                <tr style="font-size: 12px">
                  <td colspan="3" class="text-center text-muted">Aún no hay registros</td>
                </tr>
                </tbody>
              </ng-template>
            </table>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
