@import 'src/app/core/themes'; // esta hoja de estilo es global para todo el proyecto.
@include nb-install-component() {

::ng-deep .topScrollModal { /// scroll modal segun el tamaño de la pantalla
  // margin-right: 5rem;
  max-width: 80vw;
  width: 70vw;
  max-height: 85vh;
  // height: 80vw;
}

}
