<!-- <nb-card>
  <nb-card-body>
    <div class="row container p-0 m-0">
      <div class="col-12 menu-container p-4">
        <small class="fw-bold menu-title text-white">Que recurso o actividad deseas añadir al curso?</small>
     
      </div>
    </div>
  </nb-card-body>
</nb-card> -->


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body" style="width: 100%;">
          This is some text within a card body. 
        </div>
      </div>
    </div>
  </div>
</div>



