<ul class="p-0">
  <li
    class="p-2"
    [style]="elementStyleActive(element)"
    *ngFor="let element of elements; let i = index"
    (click)="selectedElement(element)"
    (click)="clickedIndex = i"
    [ngStyle]="
      clickedIndex === i
        ? elementStyleActive(element)
        : elementStyle() && hoveredIndex === i
        ? elementStyleHover(element)
        : elementStyle()
    "
    (mouseenter)="hoveredIndex = i"
    (mouseleave)="hoveredIndex = null"
  >
    <nb-icon class="me-2" [icon]="element.icono"></nb-icon>
    {{ element.nombre | titlecase }}
  </li>
</ul>
