<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small" class="h-100">
  <button  nbButton status="basic" (click)="getSilabu()" fullWidth>Ver Silabo</button>
  <hr>
  <button fullWidth *ngIf="rolSemestre?.rol?.name !== 'Estudiante'" nbButton (click)="notesWorks('ASIG')" status="primary">
    Registro de notas
  </button>
  <!--<hr>
  <button *ngIf="!activateChat" fullWidth nbButton status="success" (click)="stateChat()">
    Mostrar chat
  </button>
  <button *ngIf="activateChat" fullWidth nbButton status="success" (click)="stateChat2()">
    Ocultar chat
  </button>-->
</div>

