<nb-card class="border-0"
         style="border-radius: 15px"
         id="print-note"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="small">
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <div>
        <strong style="padding-top: 7px; font-size: 15px">{{code == 'ASIG'? item.nombre: item.nombre_curso}}</strong>
        <p><strong style="padding-top: 7px;font-size: 12px">Nombre del docente:</strong></p>
      </div>
      <div>
        <button printSectionId="print-note"
                class="buttonPrint"
                [useExistingCss]="true"
                ngxPrint
                [printStyle]="
             {'.iconNB' : {'display': 'none !important'}}"
        >
          <nb-icon type="button" icon="printer" class="iconNB"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>Código</th>
          <th>Nombres</th>
          <th *ngFor="let elements of data.elementos">{{elements.titulo}}</th>
          <th *ngIf="code == 'ASIG'">Promedio</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 10px; vertical-align: middle;" *ngFor="let students of data.estudiantes; let i = index ">
          <td>{{students.codigo}}</td>
          <td>{{students.nombres_completos}}</td>
            <td *ngFor="let nota of data.notas; let i = index ">{{nota.nota}}</td>
          <td *ngIf="code == 'ASIG'"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
