<nb-card class="border-0"
         style="border-radius: 15px"
         id="print-note"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="small">
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <div>
        <strong style="padding-top: 7px; font-size: 15px">{{code == 'ASIG'? item.nombre: item.nombre_curso}}</strong>
        <p><strong style="padding-top: 7px;font-size: 12px">Nombre del docente:</strong></p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div style="margin-bottom: 30px;">
          <label>Filtrar</label>
          <nb-select
            placeholder=""
            size="small"
            status="primary"
            fullWidth
            [formControl]="selectOrigin"
          >
            <nb-option *ngFor="let item of origin" [value]="item.value" (click)="selectE(item)"
            >{{ item?.nombre }}
            </nb-option>
          </nb-select>
        </div>
        <div>
          <button printSectionId="print-note"
                  class="buttonPrint"
                  [useExistingCss]="true"
                  ngxPrint
                  [printStyle]="
             {'.iconNB' : {'display': 'none !important'}}"
          >
            <nb-icon type="button" icon="printer" class="iconNB"></nb-icon>
          </button>
          <img width="30px" style="cursor: pointer" (click)="exportExel()" src="./assets/excel-logo.png" alt="excel">
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <div class="table-responsive">
      <table class="table table-sm" id="excel-table">
        <thead>
        <tr style="font-size: 10px;">
          <th style="width: 15px">#</th>
          <th style="width: 50px">Código</th>
          <th style="min-width: 200px">Nombres</th>
          <th  class="text-center" *ngFor="let elements of data.elementos"><div nbTooltip [nbTooltipIcon]="elements.icono" nbTooltipPlacement="top" nbTooltipStatus="basic">{{elements.titulo}}</div> </th>
          <th class="text-center" *ngIf="code == 'ASIG'">Promedio</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 10px; vertical-align: middle;" *ngFor="let students of data.registro; let i = index ">
          <td>{{i+1}}</td>
          <td>{{students.codigo}}</td>
          <td>{{students.nombres_completos}}</td>
          <ng-container *ngFor="let nota of students.notas; let i = index ">
            <td class="text-center" *ngIf="nota !== null">{{nota}}</td>
          </ng-container>
          <td class="text-center" *ngIf="code == 'ASIG'"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
