<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="small">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="bookmark-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Tipo Docentes</strong>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <button
      class="ms-auto color"
      nbButton
      (click)="openTypeTeacher('', 'NEW')"
      status="primary"
      nbTooltip="Nuevo Semestre">
      <nb-icon icon="plus"></nb-icon>Crear</button>

    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>Código</th>
          <th>Nombre</th>
          <th>Accion</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr  style="font-size: 10px; vertical-align: middle;" *ngFor="let item of typeTeacherData">
          <td>{{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.accion}}</td>
          <td class="text-center" style="width: 1px; vertical-align: middle;">
            <nb-icon  icon="edit" status="primary" style="font-size: 25px; cursor: pointer;" (click)="openTypeTeacher(item, 'UPDATE')"></nb-icon>
            <nb-icon  icon="trash-2-outline" status="danger" style="font-size: 25px; cursor: pointer;" (click)="deleteTypeTeacher(item)"></nb-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
