
button {
  margin-bottom: 10px;
}

nb-card {
  border-radius: 20px;
  border: none;
  opacity: 0.9;
}

nb-card-body {
  padding: 80px 50px;
  min-height: 450px;
}

a {
  text-decoration: none;
}