<nb-card class="m-0 h-100 border-0" style="border-radius: 15px;" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="film" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">GRABACIONES</strong>
    </div>
    <hr>
    <form [formGroup]="formHeader">
      <div class="row">
        <div class="col-md-3">
          <label class="label">Cursos</label>
          <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="curso_id">
            <nb-option *ngFor="let item of items" [value]="item.id">{{item.nombre}} - {{item.ciclo}} - {{item.grupo}} <br> {{item.programa_estudio_nombre}}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-2 ms-auto">
              <label class="label" style="visibility: hidden;">Listar grabaciones</label><br>
              <button nbButton fullWidth size="small" status="warning" (click)="listarGrabaciones()" [disabled]="formHeader.value.curso_id == ''"><nb-icon icon="funnel"></nb-icon>Listar grabaciones</button>
        </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px">
          <th><nb-icon icon="file-outline"></nb-icon></th>
          <th>Record id</th>
          <th>Fecha</th>
          <th>Curso</th>
          <th>Sesión</th>
          <th>Titulo</th>
          <th>Tamaño</th>
          <th>Tipo</th>
          <th>Duración</th>
          <th class="text-center" style="width: 1px" colspan="5">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 11px; vertical-align: middle" *ngFor="let item of grabacionesData">
          <td><nb-icon icon="play-circle-outline" status="primary"></nb-icon></td>
          <td>{{item.record_id}}</td>
          <td>{{item.recording_start| date: 'medium'}}</td>
          <td>{{item.course_nombre}}</td>
          <td>{{item.topic}}</td>
          <td>{{item.titulo}}</td>
          <td>{{item.sizeRecord}}</td>
          <td>{{item.file_type}}</td>
          <td><strong>{{item.duration_re}}</strong></td>
          <!--<td class="text-center" style="width: 1px; vertical-align: middle;" *ngIf="rolSemestre.rol.name === 'Estudiante' ||rolSemestre.rol.name === 'Docente'">
            <a [href]="item.download_url" target="_blank">
            <button nbButton size="tiny"
                    status="primary"
                    nbTooltip="Ver">
              <nb-icon icon="download"></nb-icon>
              Descargar
            </button>
            </a>
          </td>-->
          <td class="text-center" style="width: 1px; vertical-align: middle;" *ngIf="rolSemestre.rol.name === 'Estudiante' || rolSemestre.rol.name === 'Docente' || rolSemestre.rol.name === 'Admin'">
            <a [href]="item.play_url" target="_blank">
            <button nbButton size="tiny"
                    status="warning"
                    nbTooltip="Enlace externo">
              <nb-icon icon="external-link-outline"></nb-icon>
            </button>
            </a>
          </td>
          <td class="text-center" style="width: 1px; vertical-align: middle;" *ngIf="(rolSemestre.rol.name === 'Estudiante' || rolSemestre.rol.name === 'Docente' || rolSemestre.rol.name === 'Admin')&& item.download_url">
            <a [href]="item.download_url" target="">
              <button nbButton size="tiny"
                      status="info"
                      nbTooltip="Descargar grabación">
                <nb-icon icon="download"></nb-icon>
              </button>
            </a>
          </td>
          <td class="text-center" style="width: 1px; vertical-align: middle;" *ngIf="rolSemestre.rol.name !== 'Estudiante' && item.element_id!==0">
            <button  nbButton
                     size="tiny"
                     status="primary"
                     (click)="updateSession(item,'EDITAR')">
              <nb-icon icon="edit"></nb-icon>
            </button>
          </td>
          <td class="text-center" style="width: 1px; vertical-align: middle;" *ngIf="rolSemestre.rol.name !== 'Estudiante' && item.element_id==0">
            <button nbButton size="tiny" status="danger"
                    nbTooltip="Eliminar">
              <nb-icon icon="trash"></nb-icon>
            </button>
          </td>
          <td class="text-center" style="width: 1px; vertical-align: middle;" *ngIf="rolSemestre.rol.name !== 'Estudiante' && item.element_id==0">
            <button nbButton
                    size="tiny"
                    status="primary"
                    (click)="addSession(item,'CREAR')">
              <nb-icon icon="plus"></nb-icon>
              Agregar a sesión
            </button>
          </td>


        </tr>
        </tbody>
      </table>

    </div>
  </nb-card-body>
</nb-card>
