<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
         nbSpinnerMessage="Procesando información">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{items?.id_canva?.name_programa_estudio}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0">
    <div class="table-responsive">

      <table class="table table-sm mb-0">
        <thead>
        <tr style="font-size: 14px" class="fw-bold text-center">
          <th>Elementos</th>
          <th>Importados</th>
          <th>Falta importar</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of SyncCanva" style="font-size: 11px" class="text-center align-middle">
          <td>{{item.name}}</td>
          <td>{{item.importado}}</td>
          <td>{{item.fImportar}}</td>
          <td>
            <button nbButton size="tiny" status="success" (click)="syncCanvas(item)">Sincronizar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button class="ms-2" nbButton size="small" status="primary">Guardar</button>
  </nb-card-footer>
</nb-card>
