<nb-card routerLink="../courses/course">
  <nb-card-header>
    <p class="text-muted">Imagen del curso</p>
  </nb-card-header>
  <nb-card-body>
    <h6>Matemática Básica</h6>
    <p>C202101-0001 - Juan Soria</p>
    <small>Ciclo 1 - Arquitectura</small>
  </nb-card-body>
  <nb-card-footer>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <nb-icon class="text-muted" icon="people-outline"></nb-icon> 1
      </li>
      <li class="list-group-item">
        <nb-icon class="text-muted" icon="checkmark-square-2-outline"></nb-icon>
        5
      </li>
      <li class="list-group-item">
        <nb-icon class="text-muted" icon="message-circle-outline"></nb-icon> 2
      </li>
      <li class="list-group-item">
        <nb-icon class="text-muted" icon="checkmark-circle-2-outline"></nb-icon>
        4
      </li>
      <li class="list-group-item">
        <nb-icon class="text-muted" icon="video-outline"></nb-icon> 6
      </li>
    </ul>
  </nb-card-footer>
</nb-card>
