<form [formGroup]="formHeader" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small">
  <div>
    <label class="label">Título</label>
    <input
      class="w-100"
      type="text"
      nbInput
      fieldSize="small"
      fullWidth
      placeholder="Ingresa un título"
      formControlName="titulo"
    />
    <control-messages [control]="formHeader.get('titulo')"></control-messages>
  </div>
  <div style="padding-top: 4px">
    <label class="label">Descripción</label>
    <textarea
      class="w-100"
      type="text"
      nbInput
      fullWidth
      placeholder="Ingresa una descripción"
      formControlName="descripcion"
    ></textarea>
    <control-messages [control]="formHeader.get('descripcion')"></control-messages>
  </div>
  <div style="padding-top: 4px">
    <label class="label">Documento ayuda</label>
    <div>
      <lamb-prepare-file-pro
        [paramsInfo]="{
          key_file: key_file,
          directory: getDirectoy(),
          id_carga_curso_docente_array: getIdCargaCursoDocenteArr(),
          type: 'put',
          tabla: 'elements',
          tipo: 'DOCUMENTO_AYUDA'
        }"
        [numFiles]="6"
        (filterValueChange)="valueFile($event)"
        [listArrayFile]="formHeader.value.files || []"
      >
      </lamb-prepare-file-pro>
      <!--<lamb-ngx-prepare-file
        [paramsInfo]="{
          key_file: key_file,
          directory: getDirectoy(),
          id_carga_curso_docente_array: getIdCargaCursoDocenteArr(),
          type: 'put',
          tabla: 'elements',
          tipo: 'DOCUMENTO_AYUDA'
        }"
        [numFiles]="6"
        (filterValueChange)="valueFile($event)"
        [listArrayFile]="formHeader.value.files || []">

      </lamb-ngx-prepare-file>-->
    </div>
  </div>
  <!-- {{formHeader.value | json}} -->
  <div style="padding-top: 4px">
    <label class="label">Fecha y hora de inicio</label>
    <div class="d-flex">
      <nb-form-field class="date-input">
        <input
          nbInput
          placeholder="Fecha Inicio"
          fullWidth
          [nbDatepicker]="fechaInicio"
          fieldSize="small"
          formControlName="fecha_inicio"
        />
        <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
        <nb-datepicker #fechaInicio format="dd/MM/yyyy" [min]="min"></nb-datepicker>
        <control-messages [control]="formHeader.get('fecha_inicio')"></control-messages>
      </nb-form-field>
      <nb-form-field class="hour-input ms-auto">
        <input
          nbInput
          placeholder="Hora Inicio"
          [nbTimepicker]="horaInicio"
          type="text"
          fieldSize="small"
          formControlName="hora_inicio"
        />
        <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
        <nb-timepicker #horaInicio></nb-timepicker>
      </nb-form-field>
    </div>
  </div>
  <div style="padding-top: 4px">
    <label class="label">Fecha y hora de término</label>
    <fieldset [disabled]="!formHeader.value.fecha_inicio || (code == 'UPDATE' && item.total_entregados !== 0)">
      <div class="d-flex">
        <nb-form-field class="date-input">
          <input
            nbInput
            placeholder="Fecha Termino"
            fullWidth
            [nbDatepicker]="fechaTermino"
            fieldSize="small"
            formControlName="fecha_fin"
          />
          <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
          <nb-datepicker #fechaTermino format="dd/MM/yyyy" [min]="formHeader.value.fecha_inicio"></nb-datepicker>
          <control-messages [control]="formHeader.get('fecha_fin')"></control-messages>
          <span *ngIf="code == 'UPDATE' && item.total_entregados !== 0" style="font-size: 11px; color: var(--color-warning-500)">*Usted no puede extender la fecha fin porque ya se adjuntaron documentos (extender fecha de gracia)</span>
        </nb-form-field>
        <nb-form-field class="hour-input ms-auto">
          <input
            nbInput
            placeholder="Hora Termino"
            [nbTimepicker]="horaFin"
            type="text"
            fieldSize="small"
            formControlName="hora_fin"
          />
          <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
          <nb-timepicker #horaFin></nb-timepicker>
        </nb-form-field>
      </div>
    </fieldset>
  </div>
  <div style="padding-top: 4px">
    <label class="label">Fecha y hora de gracia</label>
    <fieldset [disabled]="!formHeader.value.fecha_fin ">
      <div class="d-flex">
        <nb-form-field class="date-input">
          <input
            nbInput
            placeholder="Fecha de Gracia"
            fullWidth
            [nbDatepicker]="fechaGracia"
            fieldSize="small"
            formControlName="fecha_gracia"
          />
          <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
          <nb-datepicker #fechaGracia format="dd/MM/yyyy" [min]="formHeader.value.fecha_fin"></nb-datepicker>
          <control-messages [control]="formHeader.get('fecha_gracia')"></control-messages>
          <span *ngIf="validarFechaGracia == true" style="font-size: 11px; color: brown">*La fecha fin no puede ser mayor a la fecha de gracia </span>
        </nb-form-field>
        <nb-form-field class="hour-input ms-auto">
          <input
            nbInput
            placeholder="Hora de Gracia"
            [nbTimepicker]="horaGracia"
            type="text"
            fieldSize="small"
            formControlName="hora_gracia"
          />
          <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
          <nb-timepicker #horaGracia></nb-timepicker>
        </nb-form-field>
      </div>
    </fieldset>
  </div>
  <div style="padding-top: 4px" class="row">
    <!-- <label class="label" >Fecha y hora de gracia</label> -->
    <div disabled class="col-md-6">
      <!-- <nb-toggle  status="basic" formControlName="grupal"> ¿Es grupal?</nb-toggle>-->
      <control-messages [control]="formHeader.get('grupal')"></control-messages>
    </div>
    <div class="col-md-6">
      <nb-toggle status="basic" formControlName="rubrica">Contiene rúbrica</nb-toggle>
      <control-messages [control]="formHeader.get('rubrica')"></control-messages>
    </div>
    <nb-select
      *ngIf="formHeader.get('rubrica').value"
      placeholder="Seleccionar rúbrica"
      fullWidth
      formControlName="rubricas_guia_id"
    >
      <nb-option *ngFor="let rubrica of rubrics" [value]="rubrica?.id" (click)="selectedRubrica(rubrica)">{{
        rubrica.titulo
      }}</nb-option>
    </nb-select>
    <control-messages [control]="formHeader.get('rubricas_guia_id')"></control-messages>
  </div>
  <!-- <div style="padding-top: 4px;">
    <label class="label">Secuencia de aprendizaje</label>
    <input class="w-100" type="text" nbInput fullWidth status="basic" placeholder="Ingresa un secuencia"
    [status]="(formHeader.hasError('required', ['secuencia_aprendizaje'])) === true ? 'primary' : 'basic'" formControlName="secuencia_aprendizaje"/>
    <control-messages [control]="formHeader.get('secuencia')"></control-messages>
  </div> -->
  <div style="padding-top: 4px">
    <label class="label">
      <nb-icon
        *ngIf="options === 'N'"
        style="cursor: pointer; font-size: 25px"
        status="primary"
        icon="arrow-ios-downward-outline"
        (click)="moreOptions('N')"
      ></nb-icon>
      <nb-icon
        *ngIf="options === 'S'"
        style="cursor: pointer; font-size: 25px"
        status="primary"
        icon="arrow-ios-upward-outline"
        (click)="moreOptions('S')"
      ></nb-icon>
      {{ options === 'N' ? 'Mostrar' : 'Ocultar' }} opciones avanzadas</label
    >

    <div *ngIf="options === 'S'">
      <app-more-options
        [tipo]="formHeader.value.tipo"
        (formsValues)="formsValues($event)"
        [code]="code"
        [setValues]="settValuesMore"
      ></app-more-options>
    </div>
  </div>
  <br />
  <div class="buttons d-flex justify-content-end">
    <button nbButton outline status="primary" class="me-2" (click)="closeModal()">Cancelar</button>
    <button nbButton status="primary" [disabled]="validCampos" (click)="saveInformtion()">
      {{ code === 'NEW' ? 'Añadir' : 'Modificar' }} actividad
    </button>
  </div>
</form>
