::ng-deep .form-inline label {   //para darle estilo al al contenido  del ngx-tree 
    font-size: 14px !important;
    color: var(--color-primary-900) !important;
}
    
    
::ng-deep .btn-outline-light {  // para darle estilo cajon al ngx-tree 
    color: var(--text-hint-color) !important;
    border: 1px solid var(--input-basic-border-color) !important;
    background-color: var(--input-basic-background-color) !important;
    text-align: center !important;
}
::ng-deep .dropdown-menu.show {
    width: 100% !important;
}
// ::ng-deep nb-select.ng-invalid{
//     border-left: 3px solid #e74c3c !important;
//   }
//   ::ng-deep input.ng-invalid {
//     border-left: 3px solid #e74c3c !important;
//   }
//   ::ng-deep textarea.ng-invalid{
//     border-left: 3px solid #e74c3c !important;
//   }