<form [formGroup]="formHeader">
  <div>
    <label class="label">Título</label>
    <input class="w-100" type="text" nbInput fullWidth placeholder="Ingresa un título" fieldSize="small" formControlName="titulo"/>
    <control-messages [control]="formHeader.get('titulo')"></control-messages>
  </div>
  <div style="padding-top: 4px;">
    <label class="label">Descripción</label>
    <textarea class="w-100" type="text" nbInput fullWidth placeholder="Ingresa una descripción" formControlName="descripcion"></textarea>
    <control-messages [control]="formHeader.get('descripcion')"></control-messages>
  </div>
  <div style="padding-top: 4px;">
    <label class="label">Pregunta para el foro</label>
    <textarea class="w-100" type="text" nbInput fullWidth placeholder="Ingresa una intervención inicial" formControlName="pregunta"></textarea>
    <control-messages [control]="formHeader.get('pregunta')"></control-messages>
  </div>

  <!-- {{formHeader.value | json}} -->
  <div style="padding-top: 4px;">
    <label class="label">Fecha y hora de inicio</label>
    <div class="d-flex">
      <nb-form-field  class="date-input">
      <input nbInput placeholder="Fecha Inicio" fullWidth [nbDatepicker]="fechaInicio" fieldSize="small" formControlName="fecha_inicio"/>
      <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
      <nb-datepicker #fechaInicio format="dd/MM/yyyy" [min]="min"></nb-datepicker>
      <control-messages [control]="formHeader.get('fecha_inicio')"></control-messages>
      </nb-form-field>
      <nb-form-field class="hour-input ms-auto">
      <input nbInput placeholder="Hora Inicio" [nbTimepicker]="horaInicio" type="text" fieldSize="small" formControlName="hora_inicio"/>
      <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
      <nb-timepicker #horaInicio></nb-timepicker>
      </nb-form-field>
    </div>
  </div>
  <div style="padding-top: 4px;">
    <label class="label">Fecha y hora de término</label>
    <fieldset [disabled]="!formHeader.value.fecha_inicio">
    <div class="d-flex">
      <nb-form-field  class="date-input">
      <input nbInput placeholder="Fecha Termino" fullWidth [nbDatepicker]="fechaTermino" fieldSize="small" formControlName="fecha_fin"/>
      <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
      <nb-datepicker #fechaTermino format="dd/MM/yyyy" [min]="formHeader.value.fecha_inicio"></nb-datepicker>
      <control-messages [control]="formHeader.get('fecha_fin')"></control-messages>
      </nb-form-field>
      <nb-form-field class="hour-input ms-auto">
      <input nbInput placeholder="Hora Termino" [nbTimepicker]="horaFin" type="text" fieldSize="small" formControlName="hora_fin"/>
      <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
      <nb-timepicker #horaFin></nb-timepicker>
      </nb-form-field>
    </div>
  </fieldset>
  </div>
  <div style="padding-top: 4px;">
    <label class="label">Fecha y hora de gracia</label>
    <fieldset [disabled]="!formHeader.value.fecha_fin">
    <div class="d-flex">
      <nb-form-field  class="date-input">
      <input nbInput placeholder="Fecha de Gracia" fullWidth [nbDatepicker]="fechaGracia" fieldSize="small" formControlName="fecha_gracia"/>
      <nb-icon nbSuffix icon="calendar" status="primary" size="small" pack="eva"></nb-icon>
      <nb-datepicker #fechaGracia format="dd/MM/yyyy" [min]="formHeader.value.fecha_fin"></nb-datepicker>
      <control-messages [control]="formHeader.get('fecha_gracia')"></control-messages>
      </nb-form-field>
      <nb-form-field class="hour-input ms-auto">
      <input nbInput placeholder="Hora de Gracia" [nbTimepicker]="horaGracia" type="text" fieldSize="small" formControlName="hora_gracia"/>
      <nb-icon nbSuffix icon="clock-outline" status="primary" size="small" pack="eva"></nb-icon>
      <nb-timepicker #horaGracia></nb-timepicker>
      </nb-form-field>
    </div>
  </fieldset>
  </div>
  <div style="padding-top: 4px;">
    <div class="row">
      <div class="col-md-6">
        <nb-toggle status="basic" class="my-3 d-block" formControlName="ver_respuestas">Mostrar respuestas</nb-toggle>
      </div>
      <div class="col-md-6">
        <nb-toggle status="basic" class="my-3 d-block" formControlName="permitir_comentarios">Permitir comentarios</nb-toggle>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nb-toggle status="basic" class="my-3 d-block" formControlName="autocalificable" (change)="valueAuthentofi()">autocalificable</nb-toggle>
      </div>
      <div class="col-md-6">
        <nb-toggle status="basic" class="my-3 d-block" formControlName="editor">Texto enriquecido</nb-toggle>
      </div>
    </div>
  </div>
  <div style="padding-top: 4px;" *ngIf="formHeader.value.autocalificable">
    <label class="label">Nota sugerida</label>
    <input class="w-100" type="number" nbInput fullWidth placeholder="Nota" formControlName="nota"/>
    <control-messages [control]="formHeader.get('nota')"></control-messages>
  </div>

  <div style="padding-top: 4px;">
    <label class="label">
      <nb-icon *ngIf="options === 'N'" style="cursor: pointer; font-size: 25px;" status="primary" icon="arrow-ios-downward-outline" (click)="moreOptions('N')"></nb-icon>
      <nb-icon *ngIf="options === 'S'" style="cursor: pointer; font-size: 25px;" status="primary" icon="arrow-ios-upward-outline" (click)="moreOptions('S')"></nb-icon>
      {{options === 'N' ? 'Mostrar' : 'Ocultar'}} opciones avanzadas</label>

      <div *ngIf="options === 'S'">

        <app-more-options [tipo]="formHeader.value.tipo" (formsValues)="formsValues($event)"  [code]="code" [setValues]="settValuesMore"></app-more-options>
      </div>
  </div>
  <br>
  <div class="buttons d-flex justify-content-end">
    <button nbButton outline status="primary" class="me-2" (click)="closeModal()">
      Cancelar
    </button>
    <button nbButton status="primary" [disabled]="validCampos" (click)="saveInformtion()">{{code === 'NEW' ? 'Añadir' : 'Modificar'}} actividad</button>
  </div>
</form>
