<nb-card class="m-0 h-100 border-0" style="border-radius: 15px;" [nbSpinner]="loading">
    <nb-card-header>
        <div class="d-flex">
            <nb-icon icon="book-open-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
            <strong style="padding-top: 7px;">CURSOS</strong>
         </div>
       <hr>
       <form [formGroup]="formHeader">
        <div class="row">
            <!-- <div class="col-md-6"></div> -->
            <div class="col-md-2">
                <label class="label">Semestre</label>
                <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="semester">
                    <!-- <nb-option value="">Todos</nb-option> -->
                    <nb-option *ngFor="let item of semestrers" [value]="item.id">{{item.nombre}}</nb-option>
                </nb-select>
            </div>
            <div class="col-md-3">
                <label class="label">Programa estudio</label>
                <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="programa_estudio_id">
                    <nb-option value="">Todos</nb-option>
                    <nb-option *ngFor="let item of litProgramStudy" [value]="item.id">{{item.name_programa_estudio}}</nb-option>
                </nb-select>
            </div>
            <div class="col-md-2">
                <label class="label">Ciclo</label>
                <nb-select fullWidth size="small" formControlName="ciclo">
                    <nb-option value="">Todos</nb-option>
                    <nb-option *ngFor="let item of ciclos" [value]="item.ciclo">{{item.ciclo}}</nb-option>
                </nb-select>
            </div>
            <div class="col-md-2">
                <label class="label">Nombre curso</label>
                <input type="text" nbInput fullWidth fieldSize="small" placeholder="Ingrese nombre" formControlName="nombre" (keyup)="keyNombre($event)">
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" style="visibility: hidden;">Filtrar</label><br>
                                <button nbButton fullWidth size="small" status="warning" (click)="refresh()"><nb-icon icon="funnel"></nb-icon>Filtrar</button>
                    </div>
                    <div class="col-md-6">
                        <label class="label" style="visibility: hidden;">Crear</label><br>
                                <button nbButton fullWidth size="small" status="primary" (click)="openCoursesFree('', 'NEW')" [disabled]="!formHeader.value.semester"><nb-icon icon="plus"></nb-icon>Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr style="font-size: 12px;">
                        <th>Id carga docente</th>
                        <th>Programa estudio</th>
                        <th>Nombre</th>
                        <th>Docente</th>
                        <th>Ciclo</th>
                        <th>Cod. anfitrión</th>
                        <th>Zoom</th>
                        <th style="width: 1px;"><nb-icon icon="people"></nb-icon></th>
                        <th class="text-center" style="width: 1px;" colspan="4">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listCourseZoom; let i = index" style="font-size: 10px; vertical-align: middle;">
                        <td>{{item.id_carga_curso_docente}}</td>
                        <td>{{item.programa_estudio_nombre}}</td>
                        <td>{{item.nombre}}</td>
                        <td><img [src]="item.persons_teacher_foto" alt="" height="20px" width="20px" style="border-radius: 3rem;">&nbsp; {{item.persons_teacher_nombre}}</td>
                        <td>{{item.ciclo}}</td>
                        <td>{{item.meeting_id}}</td>
                        <td style="color: brown;">{{item.join_url}}</td>
                        <td style="color: brown; font-size: 14px; font-weight: bold;" class="text-center">{{item?.matriculados}}</td>
                        <td class="text-center" style="width: 1px; vertical-align: middle;">
                            <nb-icon *ngIf="item?.id_zoom_meetings" icon="video-outline" status="primary" style="font-size: 25px; cursor: pointer;" (click)="openConfig(item)"></nb-icon>
                        </td>
                        <td class="text-center" style="width: 1px;">
                            <button nbButton size="tiny" status="basic" (click)="openMatricula(item)">Matricular</button>
                        </td>
                        <td class="text-center" style="width: 1px;">
                          <button nbButton size="tiny" status="primary" (click)="openUnitSession(item)"><nb-icon icon="plus"></nb-icon>Unidades</button>
                        </td>
                        <td class="text-center" style="width: 1px;">
                            <button nbButton size="tiny" status="info" (click)="openCoursesFree(item, 'UPDATE')"><nb-icon icon="edit"></nb-icon></button>
                        </td>
                        <td class="text-center" style="width: 1px;">
                            <button nbButton size="tiny" status="danger" *ngIf="item.matriculados === 0" (click)="deleteCurso(item)"><nb-icon icon="trash"></nb-icon></button>
                        </td>
                        <!-- <td class="text-center">
                            <nb-icon icon="list-outline" status="primary" style="font-size: 25px; cursor: pointer;"></nb-icon> <br>
                            Unidades
                        </td>
                        <td class="text-center">
                            <nb-icon icon="tv-outline" status="warning" style="font-size: 25px; cursor: pointer;"></nb-icon> <br>
                            Portada
                        </td> -->
                        <!-- <td class="text-center">
                            <nb-icon icon="edit-outline" status="info" style="font-size: 25px; cursor: pointer;"></nb-icon> <br>
                            Editar
                        </td>
                        <td class="text-center">
                            <nb-icon icon="trash-outline" status="danger" style="font-size: 25px; cursor: pointer;"></nb-icon> <br>
                            Eliminar
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex justify-content-between align-items-center p-2">
            <div style="color: brown; font-weight: bold;">Total: {{pagination.sizeListData}}</div>
            <ngb-pagination [collectionSize]="pagination?.sizeListData" [(page)]="pagination.page" [maxSize]="20"
                [disabled]="pagination?.isDisabledPage" [pageSize]="pagination?.sizePage"
                class="d-flex justify-content-center" size="sm" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
            <div>
                <nb-form-field>
                    <nb-icon nbPrefix icon="list-outline"></nb-icon>
                        <nb-select placeholder="Paginación" status="success" size="tiny" fullWidth
                        [(selected)]="selectedItem" (selectedChange)="sizeTable($event)">
                        <nb-option *ngFor="let per of pagesCount" [value]="per">Paginar de {{per}} en {{per}}</nb-option>
                        </nb-select>
            </nb-form-field>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
