<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'NEW' ? 'NUEVO': 'ACTUALIZAR'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center" >
    <form [formGroup]="FormSemestre">
      <div class="p-4">
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Código:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="codigo"
              fieldSize="small"
              placeholder=""

            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Nombre:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="nombre"
              fieldSize="small"
              placeholder="Ingrese nombre"
            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Descripción:</label>
          <div class="col-md-9">
            <input
              type="text"
              nbInput
              fullWidth
              formControlName="descripcion"
              fieldSize="small"
              placeholder="Ingrese descripción"
            />
          </div>
        </div>
        <br>
        <div class="row">
          <label class="label col-md-3 d-flex align-items-center">Vigente:</label>
          <div class="col-md-9">
            <div class="d-flex justify-start">
              <nb-toggle formControlName="vigente"></nb-toggle>
            </div>
          </div>
        </div>
      </div>
    </form>


  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="saveSemester()"
      [disabled] = "FormSemestre.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
