<div>
    <!-- <div class="table-responsive">
      <table class="table table-sm text-center">
        <thead>
          <tr>
            <th style="width: 10px;">Programado</th>
            <th style="width: 10px;">Gozado</th>
            <th style="width: 10px;">Pendiente</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 10px; background: #c06171; color: white;">1</td>
            <td style="width: 10px; background: #6c1a3f; color: white;">2</td>
            <th style="width: 10px;">3</th>
          </tr>
        </tbody>
      </table>
    </div> -->
  <div style="height: 200px !important;">
  <circle-progress 
  [percent]="1 * 100 / 100"
  [radius]="100"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="10"
  [outerStrokeColor]="'#6c1a3f'"
  [innerStrokeColor]="'#c06171'"
  [animation]="true"
  [animationDuration]="300"
  [maxPercent]="100"
  [startFromZero]="true"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  title="2022-2"
  subtitle="Periodos"
  subtitleColor="black"
  [titleFontSize]="'25'"
  [responsive]="true"
  ></circle-progress>
</div>
</div>
