<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="droplet-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Encuentros</strong>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <form [formGroup]="formHeader">
      <div class="row" style="padding: 0px">
        <div class="col-md-4">
          <label class="label">Campeonatos</label>
          <nb-select fullWidth size="small" placeholder="Selecciona Campeonatos" formControlName="campeonato">
            <nb-option *ngFor="let camp of campeonatos" [value]="camp"
                       (click)="selectCampeonato(camp)">{{camp.name}}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-4 mb-2 mb-md-0">
          <label class="label">Diciplinas</label>
          <nb-select
            placeholder="Diciplinas"
            size="small"
            status="primary"
            fullWidth
            formControlName="diciplina">
            <nb-option *ngFor="let item of disciplinasData" [value]="item.id">
              {{item.name}}
            </nb-option>
          </nb-select>
        </div>
        <div class="col-md-2 ms-auto">
          <label class="label" style="visibility: hidden">Filtrar</label>
          <button [disabled]="!formHeader.value.campeonato" nbButton size="small" fullWidth status="warning"
                  (click)="filter()">Filtrar
          </button>
        </div>
        <div class="col-md-2 ms-auto">
          <label class="label" style="visibility: hidden">new</label>
          <button nbButton size="small" fullWidth status="primary" (click)="nuevoEncuentro()">Crear</button>
        </div>
      </div>
    </form>
    <hr class="label">
    <div>
          <form [formGroup]="formBody" *ngIf="mostrar_div">
            <div class="row" style="padding: 0px">
              <div class="col-md-4">
                <label class="label">Fecha</label>
                <nb-form-field>
                  <input type="text" nbInput placeholder="Fecha" fullWidth
                         [nbDatepicker]="fecha" fieldSize="small" formControlName="fecha"/>
                  <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                           pack="eva"></nb-icon>
                  <nb-datepicker #fecha format="dd/MM/yyyy">
                  </nb-datepicker>
                </nb-form-field>
              </div>
              <div class="col-md-4 mb-2 mb-md-0">
                <label class="label">HORA</label>
                <nb-form-field>
                  <input type="text" nbInput placeholder="Hora" fullWidth
                         [nbTimepicker]="hora" fieldSize="small" formControlName="hora"/>
                  <nb-icon nbSuffix icon="calendar" status="primary" size="small"
                           pack="eva"></nb-icon>
                  <nb-timepicker #hora></nb-timepicker>
                </nb-form-field>
              </div>
              <div class="col-md-4 mb-2 mb-md-0">
                <label class="label">Lugar</label>
                <nb-form-field>
                  <input type="text" nbInput placeholder="Lugar" fullWidthfieldSize="small" formControlName="lugar"/>
                </nb-form-field>
              </div>
              <div class="col-md-2">
                <label class="label" style="visibility: hidden">Actualizar</label>
                <button [disabled]="!formHeader.value.campeonato" nbButton size="small" fullWidth status="warning"
                        (click)="saveEncuentro()">Actualizar
                </button>
              </div>
            </div>
          </form>
    </div>
    <br>
    <div class="text-center d-flex align-items-center justify-content-center">
      <strong class="text-leyend">EN CURSO</strong>
      <div class="circle" style="background: rgba(78,157,36,0.25)"></div>
      <strong class="text-leyend">FINALIZADO</strong>
      <div class="circle" style="background: rgba(250,96,96,0.28)"></div>
    </div>
    <div class="d-flex justify-content-between flex-wrap">
      <nb-card style="width: 32%" accent="primary" *ngFor="let item of Datas, let j = index">
        <nb-card-header>
          <small style="font-size: 10px"><strong>Categoria: </strong>  {{item.categoria_name}}</small><br>
          <small style="font-size: 10px"><strong>Disciplina: </strong> {{item.disciplina_name}}</small>
        </nb-card-header>
        <nb-card-body>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
              <tr style="font-size: 12px;">
                <th style="width: 1px;"></th>
                <th>Local</th>
                <th>Visita</th>
                <th>Lugar</th>
                <th>Etapa</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let enc of item.encuentros; let i = index"
                  [ngStyle]="{'font-size': '10px ','vertical-align': 'middle','background-color':enc.estado_encuentro=='encurso'?'#4E9D243F':enc.estado_encuentro=='finalizado'?'#FA606047':'#ffffff'}"
              >
                <td>
                  <nb-checkbox *ngIf="enc.estado_encuentro === 'pendiente'" [checked]="enc.seleccionado"
                               (checkedChange)="onCheckboxChange($event, j, i)" ></nb-checkbox>
                  <nb-icon *ngIf="enc.estado_encuentro === 'finalizado'"
                           icon="activity" status="primary" style="font-size: 25px;" (click)="barras(enc,'UPDATE')"></nb-icon>&nbsp;&nbsp;
                </td>
                <td (click)="encuentro(enc,'UPDATE')">
                  <span *ngIf="enc.local" [ngStyle]="{'color':enc.local_color}">{{enc.local}}</span>
                  <span *ngIf="!enc.local" [ngStyle]="{'color':enc.local_color}">{{enc.local_name}}</span>
                  <span *ngIf="enc.estado_encuentro !== 'pendiente'">({{enc.score_equipo}})</span>
                </td>
                <td (click)="encuentro(enc,'UPDATE')">
                  <span *ngIf="enc.visitante" [ngStyle]="{'color':enc.rival_color}">{{enc.visitante}}</span>
                  <span *ngIf="!enc.visitante" [ngStyle]="{'color':enc.rival_color}">{{enc.rival_name}}</span>
                  <span *ngIf="enc.estado_encuentro !== 'pendiente'">({{enc.score_rival}})</span>
                </td>
                <td (click)="encuentro(enc,'UPDATE')">{{enc.lugar}}
                  <br>
                  <span style="font-style: italic;font-size: 8px;">
                    {{enc.fecha | date: 'MMMM d, y': 'UTC'}} {{enc.hora}}
                  </span></td>
                <td (click)="encuentro(enc,'UPDATE')">
                  {{enc.etapa}}
                  <span *ngIf="enc.estado_encuentro === 'finalizado' && enc.empate === 1 && enc.etapa !== 'grupos'"> PENALES </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-card-body>
</nb-card>
