.color-border{
  width: 35px;
  height: 10px;
  border: 1px solid #000
}
.input-group{
  flex-wrap: nowrap !important;
}
.circle{
  padding: 8px;
}
.text-leyend{
  font-size: 11.4px;
  padding: 0 10px;
}
