/*.scrollModal {
  max-width: 95vw;
  max-height: 95vh;
  width: 700px;
}
ngx-file-drop.ngx-file-drop__content{
  display: flex !important;
  flex-direction: column !important;
}
.browseBtnClassName{
  display: flex !important;
  flex-direction: column !important;
}*/
