<div class="d-flex flex-column" style="max-width: 80px;">
  <button nbButton ghost size="small" class="d-flex flex-column" (click)="changeValueCheck(quizz)">
    <nb-icon class="m-0 mb-2" icon="plus-outline" style="height: 24px; width: 24px;"></nb-icon>
    <span class="text-center">Añadir</span>
  </button>
  <button nbButton ghost size="small" class="d-flex flex-column" (click)="changeValueCheck(quizz)">
    <nb-icon class="m-0 mb-2" icon="npm-outline" style="height: 24px; width: 24px;"></nb-icon>
    <span class="text-center" style="line-height: 1.5;">Añadir<br>sección</span>
  </button>
</div>