<div class="container m-0 p-0">
  <!-- <div class="work work-remember m-4" *ngIf="!tiempo_vencido">
    <p>Hola {{ userInfo.name }}!,</p><span>Recuerda que tu Trabajo: {{ element?.titulo }} está por vencer en {{
      daysLeft |
      i18nPlural:daysMap }} {{ hoursLeft | i18nPlural:hoursMap }} {{ minutesLeft | i18nPlural:minutesMap }} {{
      secondsLeft | i18nPlural:secondsMap }}</span>
  </div>
  <div class="work work-expired m-4" *ngIf="tiempo_vencido">
    <span>
      <p>Hola {{ userInfo.name }}!</p>, Lo sentimos tu Trabajo: {{ element?.titulo }} acaba de caducar hace {{
      expiredDays |
      i18nPlural:daysMap }} {{ expiredHours | i18nPlural:hoursMap }} {{ expiredMinutes | i18nPlural:minutesMap }} {{
      expiredSeconds | i18nPlural:secondsMap }}
    </span>
    <div class="ms-auto d-flex align-items-center">
      <button class="d-flex align-items-center mx-3 py-1 work-expired-button">
        <nb-icon class="me-2" icon="info"></nb-icon>
        <span>Solicitar apertura</span>
      </button>
      <nb-icon class="work-expired-close" icon="close-outline"></nb-icon>
    </div>
  </div>
  <div class="work work-evaluated m-4">
    <p>Hola {{ userInfo.name }}!,</p><span>Tu Trabajo: {{ element?.titulo }} fué calificado hace 4 días</span>
  </div>  -->
  <nb-card class="instructions-container m-4">
    <nb-card-body class="px-4 py-5">
      <div class="row">
        <div class="instructions col-md-10">
          <h4 class="instructions-title">{{ element?.titulo }}</h4>
          <p class="instructions-description" style="text-align: justify;">{{ element?.descripcion }}</p>
        </div>
        <div class="col-md-2">
          <div style="cursor: pointer;" class="calification ms-auto" *ngIf="rolSemestre?.rol?.name === 'Docente'" (click)="calificar(element)">
            <nb-icon icon="edit"></nb-icon>&nbsp;&nbsp;Calificar
          </div>
          <div class="calification ms-auto" *ngIf="rolSemestre?.rol?.name === 'Estudiante'">
            Aún No tiene Calificación
          </div>
          <div class="calification calification-evaluated" *ngIf="rolSemestre?.rol?.name === 'Estudiante'">
            <p>15</p>
            <span>Calificación</span>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center">
        <button nbButton class="my-4">
          <nb-icon icon="download-outline"></nb-icon>Descargar Tarea
        </button>
      </div> -->
      <div>
        <br>
        <h4 class="attached-files-title">Archivos de apoyo</h4>
        <app-list-view-files [arrayFiles]="element?.element_files || []"></app-list-view-files>
      </div>
      <!-- <div>
        <div class="d-flex">
          <h4 class="rubrica-title me-2">Rubrica</h4>
          <span class="rubrica-title-desc">(Criterios de evaluación)</span>
        </div>
        <app-rubricas></app-rubricas>
      </div> -->
      <div class="mt-4">
        <div class="d-flex">
          <h4 class="send-work-title">Entrega de trabajo</h4>
          <nb-icon [status]="form.value.tipo === '1' ? 'primary' : 'basic'" class="send-work-icon"
            icon="cloud-upload-outline" (click)="cambioTypo('1')"></nb-icon>
          <nb-icon [status]="form.value.tipo === '2' ? 'primary' : 'basic'" class="send-work-icon"
            icon="external-link-outline" (click)="cambioTypo('2')"></nb-icon>
        </div>
        <div *ngIf="form.value.tipo == '1'">
          <lamb-prepare-file-pro>
          </lamb-prepare-file-pro>
        </div>
        <div *ngIf="form.value.tipo == '2'">
          <nb-card>
            <nb-card-body class="send-work-link d-flex">
              <input type="text" nbInput fullWidth shape="rectangle" placeholder="Ingrese una url válida por favor">
              <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
                <nb-option value="0">YouTube</nb-option>
                <nb-option value="1">SoundCloud</nb-option>
                <nb-option value="2">Vimeo</nb-option>
                <nb-option value="3">Referencia</nb-option>
              </nb-select>
              <button nbButton status="primary">Guardar enlace <nb-icon icon="external-link-outline"></nb-icon>
              </button>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
