<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
  <div class="container m-0">
    <div class="row">
      <div class="col-9 p-0">
        <div class="d-flex align-items-center p-4">
          <!-- <nb-icon [icon]="element?.type_element?.icono" ></nb-icon> -->
          <nb-icon class="me-1" [ngStyle]="{ color: '#246C75', width: '56px', height: '48px' }" icon="list-outline">
          </nb-icon>
          <div>
            <h1 class="element-title">Trabajo 01</h1>
            <p class="element-title-description">Capacidades Comunicativas I - 2021-1 - INGENIERÍA DE SISTEMAS - CICLO 1
              - Campus Lima</p>
          </div>
        </div>
        <div [ngStyle]="{ height: '5px', 'background-color': '#458188'}"></div>
        <div class="work work-remember m-4">
          <p>Hola Howard!,</p><span>Recuerda que tu Trabajo 01 está por vencer en 2 días</span>
        </div>
        <div class="work work-expired m-4">
          <p>Hola Howard!,</p><span>Lo sentimos tu Trabajo 01 acaba de caducar hace 1 minuto</span>
          <div class="ms-auto d-flex align-items-center">
            <button class="d-flex align-items-center me-5 px-3 py-1 work-expired-button">
              <nb-icon class="me-2" icon="info"></nb-icon>
              <span>Solicitar apertura</span>
            </button>
            <nb-icon class="work-expired-close" icon="close-outline"></nb-icon>
          </div>
        </div>
        <div class="work work-evaluated m-4">
          <p>Hola Howard!,</p><span>Tu Trabajo 01 fué calificado hace 4 días</span>
        </div>
        <nb-card class="instructions-container m-4">
          <nb-card-body class="px-4 py-5">
            <div class="d-flex">
              <div class="instructions">
                <h4 class="instructions-title">Instrucciones</h4>
                <p class="instructions-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                  nonumy eirmod tempor invidunt ut labore
                  et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                  rebum.
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore
                  et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                  rebum.
                </p>
                <p class="instructions-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                  nonumy eirmod tempor invidunt ut labore
                  et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                  rebum.
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore
                  et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                  rebum.
                </p>
              </div>

              <div class="calification">
                Aún No tiene Calificación
              </div>
              <div class="calification calification-evaluated">
                <p>15</p>
                <span>Calificación</span>
              </div>
            </div>
            <button nbButton class="my-4"><nb-icon icon="download-outline"></nb-icon>Descargar Tarea</button>
            <div class="d-flex">
              <h4 class="rubrica-title me-2">Rubrica</h4>
              <span class="rubrica-title-desc">(Criterios de evaluación)</span>
            </div>
            <div class="mt-4">
              <div class="d-flex">
                <h4 class="send-work-title">Entrega de trabajo</h4>
                <nb-icon class="send-work-icon" icon="cloud-upload-outline"></nb-icon>
                <nb-icon class="send-work-icon" icon="external-link-outline"></nb-icon>
              </div>
              <div>
                <lamb-prepare-file-pro>
                </lamb-prepare-file-pro>
              </div>
              <div>
                <nb-card>
                  <nb-card-body class="send-work-link d-flex">
                    <input type="text" nbInput fullWidth shape="rectangle" placeholder="Ingrese una url válida por favor">
                    <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
                      <nb-option value="0">YouTube</nb-option>
                      <nb-option value="1">SoundCloud</nb-option>
                      <nb-option value="2">Vimeo</nb-option>
                      <nb-option value="3">Referencia</nb-option>
                    </nb-select>
                    <button nbButton status="primary">Guardar enlace <nb-icon icon="external-link-outline"></nb-icon></button>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
            <div class="d-flex">
              <h4 class="attached-files-title">Archivos adjuntos</h4>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-3">
        menu de elementos :v
      </div>
    </div>
  </div>
</div>