<script src="resultados-home.component.ts"></script>
<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="droplet-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Resultados</strong>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <form [formGroup]="formHeader">
      <div class="row" style="padding: 0px">
        <div class="col-md-3">
          <label class="label">Campeonatos</label>
          <nb-select fullWidth size="small" placeholder="Selecciona Campeonatos" formControlName="campeonato">
            <nb-option *ngFor="let camp of campeonatos" [value]="camp"
                       (click)="selectCampeonato(camp)">{{camp.name}}</nb-option>
          </nb-select>
        </div>
        <div class="col-md-3 mb-2 mb-md-0">
          <label class="label">Diciplinas</label>
          <nb-select
            placeholder="Diciplinas"
            size="small"
            status="primary"
            fullWidth
            formControlName="diciplina">
            <nb-option *ngFor="let item of disciplinasData" [value]="item.id">
              {{item.name}}
            </nb-option>
          </nb-select>
        </div>
        <div class="col-md-2 mb-2 mb-md-0">
          <label class="label">Categorias</label>
          <nb-select
            placeholder="Categorias"
            size="small"
            status="primary"
            fullWidth
            formControlName="categoria">
            <nb-option [value]="''">Todos</nb-option>
            <nb-option *ngFor="let cat of categoriasData" [value]="cat.id" (click)="selectCat(cat.id)">
              {{cat.name}}
            </nb-option>
          </nb-select>
        </div>
        <div class="col-md-2 ms-auto">
          <label class="label" style="visibility: hidden">Filtrar</label>
          <button [disabled]="!formHeader.value.campeonato" nbButton size="small" fullWidth status="warning"
                  (click)="filter()">Filtrar
          </button>
        </div>
        <div class="col-md-2 ms-auto">
          <label class="label" style="visibility: hidden">new</label>
          <button nbButton size="small" fullWidth status="primary" (click)="nuevoEncuentro()">Crear</button>
        </div>
      </div>
    </form>
    <br>
    <hr class="label" *ngIf="etapasDatas.length>0">
    <div class="d-flex justify-content-between flex-wrap" *ngIf="etapasDatas.length>0">
      <nb-card [ngStyle]="{'width': etapasDatas.length===0?'50%':'100%'}" accent="primary"
               *ngFor="let etapa of etapasDatas, let e = index">
        <nb-card-header>
          <strong style="font-size: 13px">{{etapa.nombre}}</strong><br>
        </nb-card-header>
        <nb-card-body>
          <div class="d-flex justify-content-between flex-wrap" *ngIf="etapasDatas.length>0">
            <nb-card [ngStyle]="{'width':'50%'}" accent="primary"
                     *ngFor="let encuentro of etapa.encuentros, let ec = index">
              <nb-card-header>
                <strong style="font-size: 13px">LLAVE {{ec+1}} {{encuentro.hora}} {{encuentro.fecha | date: 'MMMM d, y': 'UTC'}}
                  <span *ngIf="encuentro.estado_encuentro==='encurso'" style="color:#1A5848">En curso</span>
                  <span *ngIf="encuentro.estado_encuentro==='pendiente'" style="color:#1f2323">Pendiente</span>
                  <span *ngIf="encuentro.estado_encuentro==='finalizado'" style="color:#bb2929">Finalizado</span></strong><br>
              </nb-card-header>
              <nb-card-body>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                    <tr>
                      <th colspan="7" style="text-align: center;">LOCAL <span *ngIf="encuentro.e_ganador===1" style="color:#1A5848"> Ganador</span></th>
                      <th colspan="7" style="text-align: center;">VISITA <span *ngIf="encuentro.r_ganador===1" style="color:#1A5848"> Ganador</span></th>
                    </tr>
                    <tr style="font-size: 12px;">
                      <th style="width: 1px;">Código</th>
                      <th>Equipo</th>
                      <th title="Punos en contra">Puntos/Goles</th>
                      <th title="Número de penales">Penales</th>
                      <th colspan="2">-</th>
                      <th style="width: 1px;">Código</th>
                      <th>Equipo</th>
                      <th title="Punos en contra">Puntos/Goles</th>
                      <th title="Número de penales">Penales</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{encuentro.upeuequipo_id}}</td>
                      <td>{{encuentro.local}}</td>
                      <td>{{encuentro.score_equipo}}</td>
                      <td>{{encuentro.e_penales}}/{{encuentro.numero_penales}}</td>
                      <td colspan="2">-</td>
                      <td>{{encuentro.upeurival_id}}</td>
                      <td>{{encuentro.visitante}}</td>
                      <td>{{encuentro.score_rival}}</td>
                      <td>{{encuentro.r_penales}}/{{encuentro.numero_penales}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <hr class="label" *ngIf="etapasDatas.length>0">


    <h3 class="label">GRUPOS
      <button nbButton size="small" status="success"
              (click)="filter()">Recargar
      </button>
    </h3>
    <hr class="label">
    <div class="d-flex justify-content-between flex-wrap">
      <nb-card [ngStyle]="{'width': etapasDatas.length===0?'50%':'100%'}" accent="primary"
               *ngFor="let item of Datas, let j = index">
        <nb-card-header>
          <small style="font-size: 10px"><strong>Disciplina: </strong> {{item.disciplina_name}}</small><br>
          <small style="font-size: 10px"><strong>Categoria: </strong>  {{item.categoria_name}}</small><br>
          <small style="font-size: 10px"><strong>GRUPO: </strong> {{item.grupo}}</small>
        </nb-card-header>
        <nb-card-body>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
              <tr style="font-size: 12px;">
                <th style="width: 1px;">Código</th>
                <th>Equipo</th>
                <th title="Partidos Jugados">PJ</th>
                <th title="Partidos Ganados">PG</th>
                <th title="Partidos Perdidos">PP</th>
                <th title="Partidos Empatados">PE</th>
                <th title="Puntos a Favor">PF</th>
                <th title="Punos en contra">PC</th>
                <th title="Diferencia de puntos">DP</th>
                <th title="Número de faltas">NF</th>
                <th title="Tarjetas Rojas">TR</th>
                <th title="Tarjetas Amarillas">TA</th>
                <th title="Puntos">PTS</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let enc of item.equipos; let i = index"
                  [ngStyle]="{'background-color':i==0?'#85C1E9':i==1?'#EAEDED':''}"
              >
                <td>
                  {{enc.upeuequipo_id}}
                </td>
                <td>{{enc.name}}</td>
                <td>{{enc.pj}}</td>
                <td>{{enc.pg}}</td>
                <td>{{enc.pp}}</td>
                <td>{{enc.pe}}</td>
                <td>{{enc.pf}}</td>
                <td>{{enc.pc}}</td>
                <td [ngStyle]="{'color':enc.dp>0?'green':enc.dp<0?'red':''}">{{enc.dp}}</td>
                <td>{{enc.nf}}</td>
                <td>{{enc.tr}}</td>
                <td>{{enc.ta}}</td>
                <td>{{enc.pts}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-card-body>
</nb-card>
