nb-card {
  border-radius: 15px 15px 0px 0px;
}

nb-progress-bar {
  height: 7px;
}
.another-color {
  color: #934054;
  font-size: 12px;
}

.description {
  font-size: 14px;
}


nb-icon {
  cursor: pointer;
}

.cardd:hover {
  background-color: #faf5f6;
}

li {
  list-style: none;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  margin: 0;
  color: #934054;
}

p {
  font-size: 12px;
  padding: 0px 0px 5px 15px;
  margin: 0;
}

.list-element {
  margin-left: 80px;
  padding: 0;
}

nb-badge {
  padding: 2px 3.2px 2px 3.2px;
}

p {

  small {
    font-size: 14px;
  }
}

.description {
  font-size: 14px;
}

