nb-card {
  border-radius: 15px 15px 0px 0px;
}

nb-progress-bar {
  height: 10px;
}
.another-color {
  color: var(--color-primary-500);
  font-size: 12px;
}

.description {
  font-size: 14px;
}

nb-icon {
  cursor: pointer;
}

.cardd:hover {
  background-color: #faf5f6;
}

li {
  list-style: none;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  margin: 0;
  color: var(--color-primary-500);
}

p {
  font-size: 12px;
  padding: 0px 0px 5px 15px;
  margin: 0;
}

.list-element {
  margin-left: 80px;
  padding: 0;
}

nb-badge {
  padding: 2px 3.2px 2px 3.2px;
}

p {
  small {
    font-size: 14px;
  }
}

.description {
  font-size: 14px;
}

.course-description {
  line-height: 18px;
}

.course-accordion-body {
  ::ng-deep .item-body {
    padding: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .course-accordion-body {
    ::ng-deep .item-body {
      padding: 10px !important;
    }
  }
}
nb-accordion nb-accordion-item:hover {
  background: var(--color-warning-100);
}
