<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <div class="row m-0">
    <div class="col-xxl-9 p-0">
      <!-- <div class="col-12 col-sm-9 col-md-6 col-lg-3 col-xl-3"> -->
      <div class="row m-0">
        <div class="col mt-0 p-0" style="height: 350px; overflow: hidden">
          <img src="assets/books.jpg" class="img-fluid" alt="" style="object-fit: cover" />
          <!--<img *ngIf="zoom.cod_category === null && zoom.portada === null" src="assets/books.jpg" class="img-fluid" alt="" style="object-fit: cover" />
          <img *ngIf="zoom.cod_category !== null && zoom.portada === null" src="'assets/{{zoom.cod_category}}.png'" class="img-fluid" alt="" style="object-fit: cover" />
          <img *ngIf="zoom.cod_category === null && zoom.portada !== null" [src]="zoom.portada" class="img-fluid" alt="" style="object-fit: cover" />
          <img *ngIf="zoom.cod_category !== null && zoom.portada !== null" [src]="zoom.portada" class="img-fluid" alt="" style="object-fit: cover" />-->
        </div>
      </div>
      <div style="margin-top: -180px" class="mx-0 mx-md-4">
        <div class="row m-0" style="min-height: 100%">
          <div class="col px-0 px-md-3">
            <div class="row m-0 px-4">
              <h2 class="fs-2 text-white mx-1">{{ curso?.nombre }}</h2>
              <small
                style="
                  background: linear-gradient(to right, var(--text-primary-color), transparent);
                  border-radius: 100px;
                "
                class="text-white px-2 py-0 mx-3"
              >
                {{ curso?.programa_estudio?.nombre }}
              </small>
            </div>
            <div class="row m-0 px-0 px-md-2 mt-3">
              <nb-card class="p-0 m-0 border-0" style="min-height: 50vh">
                <nb-card-body class="p-3">
                  <div class="row">
                    <div class="col-sm-6">
                      <small class="d-flex justify-content-between">
                        <span style="font-size: 12px">Avance del curso</span>
                        <span>{{curso?.resumen?.avance}} %</span>
                      </small>
                      <nb-progress-bar  [value]="curso?.resumen?.avance" [status]="status(curso?.resumen?.avance)"></nb-progress-bar>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-between" style="padding-left: 9px; padding-right: 9px;">
                          <span nbTooltip="Participantes" nbTooltipStatus="warning">
                              <nb-icon style="font-size: 17px;" class="label" icon="people-outline"></nb-icon><br><label class="label" style="font-size: 13px;">{{curso?.matriculados}}</label>
                          </span>
                          <span *ngFor="let tot of curso?.resumen?.totales" [nbTooltip]="tot?.nombre" nbTooltipStatus="warning">
                          <nb-icon style="font-size: 17px;" class="label" [icon]="tot?.icono"></nb-icon><br><label class="label" style="font-size: 13px;">{{tot?.total}}</label>
                          </span>
                          <span  nbTooltip="Total realizado / Total pendíentes" nbTooltipStatus="warning">
                          <nb-icon style="font-size: 17px;" class="label" icon="globe-outline"></nb-icon><br><label class="label" style="font-size: 13px;">{{curso?.resumen?.total_pendientes}}</label>
                          </span>
                        </div>
                    </div>
                  </div>
                  <nb-accordion class="mb-3" *ngFor="let unidad of curso?.units">
                    <nb-accordion-item (click)="changeColapse(unidad)" [ngStyle]="{'background': !unidad.checked? 'var(--color-warning-100)': ''}" [collapsed]="unidad?.checked">
                      <nb-accordion-item-header class="p-2 p-md-3">
                        <div class="p-0 pe-4">
                          <div class="d-flex align-items-center">
                            <div class="p-2">
                              <nb-icon icon="pricetags-outline" class="fs-2"></nb-icon>
                            </div>
                            <div class="ps-2">
                              <h6 class="fs-6 lh-1 fw-bold">
                                Unidad {{ unidad.orden_unidad }}: {{ unidad.nombre | titlecase }}
                              </h6>
                              <!-- <small>{{ unidad.fecha_inicio }} al {{ unidad.fecha_fin }}</small> -->
                              <small *ngIf="unidad.fecha_inicio !== null && unidad.fecha_fin !== null">{{unidad.fecha_inicio| date: 'd MMMM'}} al {{unidad.fecha_fin| date: 'd MMMM, y'}}</small>
                            </div>
                          </div>
                        </div>
                      </nb-accordion-item-header>
                      <nb-accordion-item-body class="course-accordion-body">
                        <div class="d-flex flex-column">
                          <small class="fw-bold another-color">Descripción</small>
                          <small class="description">
                            {{unidad.resultado_unidad}}
                          </small>
                          <small class="fw-bold another-color">Resultado de apredizaje</small>
                          <small class="mb-4 description">
                            {{unidad.resultado_aprendizaje}}
                          </small>
                          <div *ngFor="let sesion of unidad?.topics">
                            <app-sesion
                              [sesion]="sesion"
                              [unidad]="unidad"
                              [curso]="curso"
                              (validaExist)="validaExist()"
                            ></app-sesion>
                          </div>
                        </div>
                      </nb-accordion-item-body>
                      </nb-accordion-item
                    ><br />
                  </nb-accordion>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 p-0">
      <app-navegacion [curso]="curso" [zoom]="zoom" (eventsChange)="eventsChangesss($event)"></app-navegacion>
    </div>
  </div>
</div>
