.scrollModal {
  max-width: 95vw;
  max-height: 95vh;
  width: 1300px;
}
.input-group{
  flex-wrap: nowrap !important;
}
.circle{
  padding: 8px;
}
.text-leyend{
  font-size: 11.4px;
  padding: 10px;
}
