<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        {{code === 'NEW' ? 'NUEVA AREA': 'EDITAR AREA'}}
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center" >
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="FormTypeElements">
            <div class="row">
              <label class="label col-md-3">area_id:</label>
              <div class="col-md-9">
                <input type="text" class="area_id" maxlength="4" placeholder="Area_id" nbInput fieldSize="small" fullWidth formControlName="area_id">
              </div>
            </div>
            <br>
            <div class="row">
              <label class="label col-md-3">Nombre:</label>
              <div class="col-md-9">
                <input type="text" placeholder="Ingrese nombre" nbInput fieldSize="small" fullWidth formControlName="nombre">
              </div>
            </div>
            <div class="row">
              <label class="label col-md-3">Sigla:</label>
              <div class="col-md-9">
                <input type="text" placeholder="Ingrese sigla" nbInput fieldSize="small" fullWidth formControlName="sigla">
              </div>
            </div>
            <div class="row">
              <label class="label col-md-3">id_areas:</label>
              <div class="col-md-9">
                <input type="text" placeholder="Ingrese id areas de lamb" nbInput fieldSize="small" fullWidth formControlName="id_areas">
              </div>
            </div>
            <div class="row">
              <label class="label col-md-3">id_padre:</label>
              <div class="col-md-9">
                <input type="text" placeholder="Ingrese el id del padre del area" nbInput fieldSize="small" fullWidth formControlName="id_padre">
              </div>
            </div>
            <div class="row">
              <label class="label col-md-3">Código:</label>
              <div class="col-md-9">
                <input type="text" placeholder="Ingrese código" nbInput fieldSize="small" fullWidth formControlName="codigo">
              </div>
            </div>
          </form>
        </div>
      </div>
  </nb-card-body>
  <nb-card-footer class="d-flex">
    <button type="button" class="ms-auto" nbButton size="small" (click)="closeModal()">Cancelar</button>
    <button
      type="button"
      class="ms-2"
      nbButton
      size="small"
      status="primary"
      (click)="saveTypeElements()"
      [disabled] = "FormTypeElements.invalid">
      Guardar
    </button>
  </nb-card-footer>
</nb-card>
