<nb-card accent="primary" class="scrollModal" style="width: 950px;" [nbSpinner]="loading" nbSpinnerStatus="primary"
  nbSpinnerSize="large" nbSpinnerMessage="Procesando información">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        Ver archivo
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body style="background: #f5f5f5;">
      <app-ngx-view-files-google [valueFile]="item"  (loadingsFiles)="loadingsFiles($event)"></app-ngx-view-files-google>
    </nb-card-body>
    </nb-card>
