@import "themes";

@import "~@nebular/theme/styles/globals";
@import "~node_modules/bootstrap/scss/bootstrap";

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

.mi-estilo-global {
  background-color: #0f483f;
  color: white;
}

.xng-breadcrumb-trail {
  color: var(--text-primary-color) !important;
}

.xng-breadcrumb-link:hover {
  color: var(--text-primary-color) !important;
  text-decoration: none !important;
}

.select-button {
  color: var(--text-primary-color) !important;
}

.progress-container {
  height: 10px !important;
}

.progress-value {
  background-color: #e39d0d !important;
}

.dialog-limited-height {
  max-height: 90vh;
  max-width: 850px;
}
