@import "themes";

@import "~@nebular/theme/styles/globals";
@import "~node_modules/bootstrap/scss/bootstrap";

@include nb-install() {
  @include nb-theme-global();
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

.select-button {
  color: var(--text-primary-color) !important;
}

.progress-container {
  height: 100% !important;
}

.progress-value {
  background-color: #E39800 !important;
}

.custom-bread-crumb {
  margin-bottom: 0;
}

.ng-star-inserted:hover {
  text-decoration: none !important;
}

.line {
  margin: 0 10px;
}

.cdk-global-scrollblock {
  top: 0 !important;
}