@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';

$nb-enable-css-custom-properties: true; // <-- enable css custom properties

$theme1: (
  header-background-color: color-primary-800,
  header-text-color: color-basic-100,
  header-shadow: none,

  sidebar-background-color: color-primary-800,
  sidebar-text-color: color-primary-800,
  sidebar-shadow: none,

  menu-background-color: color-primary-800,
  menu-text-color: color-basic-100,
  menu-submenu-text-color: color-basic-100,
  menu-group-text-color: color-basic-100,
  menu-item-icon-color: color-basic-100,
  menu-item-divider-color: color-primary-800,
  menu-text-font-weight: 500,
  menu-item-active-text-color: color-primary-300,
  menu-item-active-background-color: color-primary-900,

  color-primary-50: #faf5f6,
  color-primary-100: #F9E1DD,
  color-primary-200: #F4BFBD,
  color-primary-300: #DE9396,
  color-primary-400: #BE6D79,
  color-primary-500: #934054,
  color-primary-600: #7E2E49,
  color-primary-700: #692040,
  color-primary-800: #551436,
  color-primary-900: #460C30,
  color-success-100: #E2F9E3,
  color-success-200: #C7F4CE,
  color-success-300: #A2E0B1,
  color-success-400: #7EC195,
  color-success-500: #529871,
  color-success-600: #3B8262,
  color-success-700: #296D55,
  color-success-800: #1A5848,
  color-success-900: #0F483F,
  color-info-100: #C9FBFA,
  color-info-200: #95F2F7,
  color-info-300: #5ED8E9,
  color-info-400: #36B5D3,
  color-info-500: #0287B6,
  color-info-600: #01699C,
  color-info-700: #014E83,
  color-info-800: #003869,
  color-info-900: #002857,
  color-warning-100: #FDFACC,
  color-warning-200: #FBF59A,
  color-warning-300: #F5EA67,
  color-warning-400: #ECDC41,
  color-warning-500: #E0CA08,
  color-warning-600: #C0AB05,
  color-warning-700: #A18D04,
  color-warning-800: #817002,
  color-warning-900: #6B5C01,
  color-danger-100: #FCE1D3,
  color-danger-200: #F9BEA9,
  color-danger-300: #ED8F7B,
  color-danger-400: #DC6458,
  color-danger-500: #c62828,
  color-danger-600: #AA1D29,
  color-danger-700: #8E1429,
  color-danger-800: #720C27,
  color-danger-900: #5F0725);

$theme2: (
  header-background-color: color-primary-700,
  header-text-color: color-basic-100,
  header-shadow: none,

  sidebar-background-color: color-primary-700,
  sidebar-text-color: color-primary-700,
  sidebar-shadow: none,

  menu-background-color: color-primary-700,
  menu-text-color: color-basic-100,
  menu-submenu-text-color: color-basic-100,
  menu-group-text-color: color-basic-100,
  menu-item-icon-color: color-basic-100,
  menu-item-divider-color: color-primary-700,
  menu-text-font-weight: 500,
  menu-item-active-text-color: color-primary-300,
  menu-item-active-background-color: color-primary-900,

  color-primary-50: #f5f8fa,
  color-primary-100: #C9FAF9,
  color-primary-200: #95F0F5,
  color-primary-300: #5DD3E3,
  color-primary-400: #34ACC8,
  color-primary-500: #037AA4,
  color-primary-600: #025F8D,
  color-primary-700: #014776,
  color-primary-800: #00325F,
  color-primary-900: #00244E,
  color-success-100: #E2F9E3,
  color-success-200: #C7F4CE,
  color-success-300: #A2E0B1,
  color-success-400: #7EC195,
  color-success-500: #529871,
  color-success-600: #3B8262,
  color-success-700: #296D55,
  color-success-800: #1A5848,
  color-success-900: #0F483F,
  color-info-100: #F4F4F3,
  color-info-200: #E9E9E7,
  color-info-300: #BFBFBC,
  color-info-400: #7F7F7D,
  color-info-500: #2B2B2A,
  color-info-600: #24241E,
  color-info-700: #1E1E15,
  color-info-800: #18180D,
  color-info-900: #141408,
  color-warning-100: #FDFACC,
  color-warning-200: #FBF59A,
  color-warning-300: #F5EA67,
  color-warning-400: #ECDC41,
  color-warning-500: #E0CA08,
  color-warning-600: #C0AB05,
  color-warning-700: #A18D04,
  color-warning-800: #817002,
  color-warning-900: #6B5C01,
  color-danger-100: #FCE1D3,
  color-danger-200: #F9BEA9,
  color-danger-300: #ED8F7B,
  color-danger-400: #DC6458,
  color-danger-500: #c62828,
  color-danger-600: #AA1D29,
  color-danger-700: #8E1429,
  color-danger-800: #720C27,
  color-danger-900: #5F0725
);

$nb-themes: nb-register-theme($theme1, theme-1-default, default);
$nb-themes: nb-register-theme($theme1, theme-1-dark, dark);
$nb-themes: nb-register-theme($theme2, theme-2-default, default);
$nb-themes: nb-register-theme($theme2, theme-2-dark, dark);
