.hover_class_active:disabled{
  background-color: #EBFCF6 !important;
  border: 1px solid #00D68F !important;
  color: #00D68F !important;
}
.hover_class_desactive:disabled{
  color: #6a716f !important;
}
