.scrollModal {
    max-width: 95vw;
    max-height: 95vh;
    width: 700px;
  }
  // ::ng-deep nb-select.ng-invalid{
  //   border-left: 3px solid #e74c3c !important;
  // }
  // ::ng-deep input.ng-invalid {
  //   border-left: 3px solid #e74c3c !important;
  // }
  // ::ng-deep textarea.ng-invalid{
  //   border-left: 3px solid #e74c3c !important;
  // }
