<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                <nb-icon [icon]="code === 'NEW' ? 'plus' : 'edit'" status="primary"></nb-icon> {{code === 'NEW' ? 'CREAR' : 'MODIFICAR'}}
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-3 text-center">
                <nb-icon [icon]="formHeader.value.icono ? formHeader.value.icono : defaultIcon" status="primary" style="font-size: 100px;"></nb-icon>
            </div>
            <div class="col-md-9">
                <form [formGroup]="formHeader">
                <div class="row">
                    <label class="label col-md-3">Título:</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Ingrese título" nbInput fieldSize="small" fullWidth formControlName="title">
                        <control-messages [control]="formHeader.get('title')"></control-messages>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="label col-md-3">Roles:</label>
                    <div class="col-md-9">
                        <nb-select multiple placeholder="Roles" fieldSize="small" fullWidth formControlName="rol">
                            <nb-option *ngFor="let item of listRoles" [value]="item.id">{{item.name}}</nb-option>
                          </nb-select>
                          <control-messages [control]="formHeader.get('rol')"></control-messages>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="label col-md-3">Ícono:</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Ingrese ícono" nbInput fieldSize="small" fullWidth formControlName="icono">
                        <control-messages [control]="formHeader.get('icono')"></control-messages>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="label col-md-3">Nivel:</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Ingrese nivel" nbInput fieldSize="small" fullWidth formControlName="nivel"  [readOnly]="true">
                        <control-messages [control]="formHeader.get('nivel')"></control-messages>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="label col-md-3">Url:</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Ingrese url" nbInput fieldSize="small" fullWidth formControlName="url">
                        <control-messages [control]="formHeader.get('url')"></control-messages>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="label col-md-3">Orden:</label>
                    <div class="col-md-9">
                        <input type="number" placeholder="Ingrese orden" nbInput fieldSize="small" fullWidth formControlName="orden">
                        <control-messages [control]="formHeader.get('orden')"></control-messages>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
        <button nbButton size="small" status="primary" [disabled]="formHeader.invalid" (click)="saveMenu()">Guardar</button>
    </nb-card-footer>
</nb-card>