<nb-card class="h-100 border-0"
         style="border-radius: 15px"
         [nbSpinner]="loading"
         nbSpinnerStatus="primary"
         nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="droplet-outline" status="primary" style="font-size: 40px;"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px;">Sedes</strong>
    </div>
  </nb-card-header>
  <nb-card-body class="pb-0 d-flex flex-column">
    <button
      class="ms-auto"
      nbButton
      (click)="open('', 'NEW')"
      status="primary"
      nbTooltip="Nuevo tipo elemento"
      size="small">
      <nb-icon icon="plus"></nb-icon>Crear</button>

    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
        <tr style="font-size: 12px;">
          <th>id_sede</th>
          <th>Código</th>
          <th>Nombre</th>
          <th>url pago visa</th>
          <th>Código pago</th>
          <th>estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr  style="font-size: 10px; vertical-align: middle;" *ngFor="let item of sedesData">
          <td>{{item.id_sede}}</td>
          <td>{{item.codigo}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.url_pago_visa}}</td>
          <td>{{item.codigo_pago}}</td>
          <td>{{item.estado}}</td>
          <td class="text-center" style="width: 1px; vertical-align: middle;">
            <div class="d-flex align-items-center justify-content-center">
            <button nbButton size="tiny" status="info" (click)="open(item, 'UPDATE')">
              <nb-icon  icon="edit" style="font-size: 25px; cursor: pointer;" ></nb-icon>
            </button>
              <button nbButton size="tiny" status="danger" (click)="delete(item)">
                <nb-icon  icon="trash" style="font-size: 25px; cursor: pointer;" ></nb-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
