<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
    nbSpinnerMessage="Procesando información">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                DETALLE
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formHeader">
        <div class="row">
            <label class="label col-md-4">Nombre:</label>
            <div class="col-md-8">
                <input type="text" placeholder="Ingrese nombre" nbInput fullWidth fieldSize="small" formControlName="nombre"
                style="text-transform: uppercase">
                <control-messages [control]="formHeader.get('nombre')"></control-messages>
            </div>
        </div>
        <br>
        <div class="row">
            <label class="label col-md-4">Valor:</label>
            <div class="col-md-8">
                <input type="text" placeholder="Ingrese valor" nbInput fullWidth fieldSize="small" formControlName="valor">
                <control-messages [control]="formHeader.get('valor')"></control-messages>
            </div>
        </div>
        <br>
        <div class="row">
            <label class="label col-md-4">Tipo:</label>
            <div class="col-md-8">
                <!-- <fieldset disabled> -->
                <input type="text" placeholder="Ingrese valor" nbInput fullWidth fieldSize="small" formControlName="tipo"  readonly>
                <control-messages [control]="formHeader.get('tipo')"></control-messages>
            <!-- </fieldset> -->
            </div>
        </div>
        <br>
    </form>
    </nb-card-body>
    <nb-card-footer style="text-align: right">
        <button nbButton size="small" status="primary" (click)="saveConfig()">Guardar</button>
    </nb-card-footer>
</nb-card>