<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
  nbSpinnerMessage="Procesando información">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        CONFIGURAR
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabIcon="question-mark-circle-outline" tabTitle="Preguntas"
        style="padding-left: 0px; padding-right: 0px;">
        <nb-card style="padding-bottom: 0px;">
          <nb-card-body>
            <div class="row">
              <label class="label col-md-2">Título:</label><br>
              <p class="col-md-10" style="font-size: 12px;">{{item?.titulo}}</p>
            </div>
            <div class="row">
              <label class="label col-md-2">Descripción:</label><br>
              <p class="col-md-10" style="font-size: 12px; text-align: justify;">{{item?.descripcion}}</p>
            </div>
          </nb-card-body>
        </nb-card>
        <div style="padding-top: 0px;">
          <app-q-config [item]="item" [userInfo]="userInfo"  (loadings)="loadingsss($event)"></app-q-config>
        </div>
      </nb-tab>
      <nb-tab tabIcon="settings-2-outline" tabTitle="Publicar examen" *ngIf="item?.pendientes_realizados === 0">
        <app-public-config-question [item]="item" [userInfo]="userInfo" (saveValues)="saveValues($event)" (loadings)="loadingsss($event)"></app-public-config-question>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>