.element-title {
  font-size: 24px;
  font-weight: bold;
  color: #575756;
  margin: 0;

  &-description {
    font-size: 12px;
    color: #898989;
    margin: 0;
  }
}

.work {
  display: flex;
  font-size: 16px;
  border-radius: 6px;

  &-remember {
    padding: 10px 15px;
    border: 1px solid #58CE84;

    p {
      color: #2EA361;
      font-weight: bold;
      margin: 0;
      margin-right: 5px;
    }

    span {
      color: #2EA361;
    }
  }

  &-expired {
    align-items: center;
    padding: 5px 10px 5px 15px;
    border: 1px solid #A32B3A;
    background-color: #FDF5F6;

    p {
      color: #A82133;
      font-weight: bold;
      margin: 0;
      margin-right: 5px;
    }

    span {
      color: #A82133;
    }

    &-button {
      background-color: #F4ECEE;
      color: #934054;
      border: 1px solid #B37987;
      border-radius: 6px;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        background-color: #ebdee1;
      }
    }

    &-close {
      cursor: pointer;
      color: #934054;
      width: 28px;
      height: 28px;

      &:hover {
        color: #b66b7d;
      }
    }
  }

  &-evaluated {
    padding: 10px 15px;
    border: 1px solid #4D7BC7;
    background-color: #EFF3F8;

    p {
      color: #3F76CE;
      font-weight: bold;
      margin: 0;
      margin-right: 5px;
    }

    span {
      color: #3F76CE;
    }
  }
}

.instructions {

  &-container {
    border: none;
    box-shadow: 0px 3px 10px #0000000D;
  }

  &-title {
    color: #414141;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &-description {
    font-size: 14px;
    color: #898989;
  }
}

