<!-- drag-and-drop -->
<div [nbSpinner]="loading || loadingQuestion" nbSpinnerStatus="primary" nbSpinnerSize="large" >

<div *ngIf="questions?.length>2 && item?.pendientes_realizados === 0" style="padding-top: 0px; padding-bottom: 8px;">
  <form [formGroup]="formHeader" class=" d-flex align-items-center justify-content-between">
    <div>
    </div>
    <div class="d-flex">
      <div style="padding-bottom: 0px;">
        <button  nbButton size="tiny" status="basic" (click)="reloadList()">Refrescar lista</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <nb-toggle status="primary" formControlName="drag_drop" (checkedChange)="toogleValue($event)">Cambiar orden</nb-toggle> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div *ngIf="formHeader.value.drag_drop" style="padding-bottom: 0px;">
        <button  nbButton size="tiny" status="primary" (click)="changeOrden()">Guardar orden</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="formHeader.value.drag_drop" cdkDropList  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let quiz of dragQuestions; let i = index" cdkDrag>
    <nb-card class="hobered"
        [ngStyle]="{
        'cursor': 'pointer',
        'margin-left': quiz?.nivel === 2 ? '25px' : '',
        'font-size':  quiz?.nivel === 1 ? '18px' : '13px',
        'font-weight':  quiz?.nivel === 1 ? 'bold' : '',
        'border-left': '6px solid #00244e'
        }">
        <nb-card-body>
          <div class="d-flex">
            <div>
              {{i+1}})&nbsp;&nbsp;
            </div>
            <div>
              {{quiz?.titulo || quiz?.pregunta}}
              <span *ngIf="quiz?.nivel === 1" style="font-size: 13px;">
                <br>
                {{quiz?.descripcion}}
              </span>
            </div>
          </div><br>
          <div style="margin-left: 25px;">
            <app-q-view [object]="quiz"></app-q-view>
          </div>
        </nb-card-body>
      </nb-card>
  </div>
</div>

<!-- /////// -->

<div *ngIf="!formHeader.value.drag_drop" style="margin-left: 20px;">

<div  *ngFor="let quiz of questions; let i = index">
  <div class="row m-0">
    <div [class]="quiz?.pluss ? 'col-md-11' : 'col-md-12'">
      <nb-card (click)="changePluss(quiz)"
        [ngStyle]="{
        'cursor': 'pointer',
        'margin-left': quiz?.nivel === 2 ? '25px' : '',
        'font-size':  quiz?.nivel === 1 ? '18px' : '13px',
        'font-weight':  quiz?.nivel === 1 ? 'bold' : '',
        'border-left': '6px solid #00244e'
        }">
        <nb-card-body *ngIf="!quiz?.editValid">
          <div class="d-flex">
            <div>
              {{i+1}})&nbsp;&nbsp;
            </div>
            <div>
              {{quiz?.titulo || quiz?.pregunta}}
              <span *ngIf="quiz?.nivel === 1" style="font-size: 13px;">
                <br>
                {{quiz?.descripcion}}
              </span>
            </div>
          </div><br>

          <div style="margin-left: 25px;">
            <app-q-view [object]="quiz"></app-q-view>
          </div>
        </nb-card-body>
        <nb-card-footer style="text-align: right; padding-top: 1px; padding-bottom: 1px;">
          <div *ngIf="quiz?.nivel === 2 && !quiz?.editValid">
            <button nbButton size="small"  (click)="deleteQuestion($event, quiz)"><nb-icon icon="trash" status="danger"></nb-icon></button>
          </div>
          <div *ngIf="quiz?.nivel === 2 && quiz?.editValid">
            MODIFIFICANDO
          </div>
          <div *ngIf="quiz?.nivel === 1">
            <button nbButton size="small"  (click)="deleteSection($event, quiz)"><nb-icon icon="trash" status="danger"></nb-icon>Eliminar sección</button>
          </div>
        </nb-card-footer>
      </nb-card>

      <nb-card *ngIf="quiz?.checked">
        <nb-card-body>
          <div class="row">
            <div class="col-md-9">
              <form [formGroup]="formHeader">
                <label class="label">Pregunta:</label>
                <textarea nbInput fullWidth style="height: 115px;" formControlName="pregunta"></textarea>
                <control-messages [control]="formHeader.get('pregunta')"></control-messages>
              </form>
            </div>
            <div class="col-md-3">
              <div class="row text-center">
                <div class="col-md-6">
                  <label class="label">Imagen o Audio</label>
                  <lamb-prepare-file-pro [paramsInfo]="{
                    key_file: key_file,
                    directory: directorio,
                    type: 'put',
                    tabla: 'pendings',
                    tipo: 'DOCUMENTO_TRABAJO'}" [numFiles]="6" (filterValueChange)="valueFile($event)"
                    [listArrayFile]="arrayFile" [isDisabled]="false" [viewFile]="'UNIQUE'" [typeFile]="'audio-img'">
                  </lamb-prepare-file-pro>
                </div>
                <div class="col-md-6">
                  <label class="label">Link Youtube</label><br>
                  <button nbButton size="small" status="info" outline fullWidth (click)="openUrlYoutube()"
                    style="padding: 5px;">
                    <img src="https://i.pinimg.com/originals/91/c1/cd/91c1cdeacc84d0a5673bb716549ba366.png"
                      height="20px" alt="">
                  </button>
                </div>
              </div>
              <br>
              <div *ngIf="formHeader?.value?.tipo_adjunto === 'ARCHIVO'" class="text-center">
                <div *ngIf="formHeader?.value?.file?.ext_file !== 'mp3'">
                  <div style="text-align: right; cursor: pointer;">
                    <nb-icon icon="close-circle-outline" status="danger" (click)="deleteFile()"></nb-icon>
                  </div>
                  <div>
                    <img src="{{formHeader?.value?.file?.base64}}"
                      style="width: 100%; height: 100%;max-height: 170px;margin: 0 auto;" alt="">
                  </div>
                </div>
                <div *ngIf="formHeader?.value?.file?.ext_file === 'mp3'">
                  <div style="text-align: right; cursor: pointer;">
                    <nb-icon icon="close-circle-outline" status="danger" (click)="deleteFile()"></nb-icon>
                  </div>
                  <div style="padding-top: 0px;">
                    <app-video-player [url]="formHeader?.value?.file?.base64" [videoFormat]="'Audio'">
                    </app-video-player>
                  </div>
                </div>
              </div>
              <div *ngIf="formHeader?.value?.tipo_adjunto === 'URL'">
                <div style="text-align: right; cursor: pointer;">
                  <nb-icon icon="close-circle-outline" status="danger" (click)="deleteLink()"></nb-icon>
                </div>
                <div>
                  <app-video-player [url]="formHeader?.value?.url_externa" [videoFormat]="'Youtube'"></app-video-player>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <form [formGroup]="formHeader">
              <label class="label">Orden</label><br>
              <input type="number" nbInput fieldSize="tiny" style="width: 100px;" formControlName="orden" class="text-center">
              </form>
            </div>
            <div>
              <div class="d-flex">
                <div *ngFor="let opts of optionsType" style="padding-left: 3px; padding-right: 3px;">
                  <button nbButton size="tiny"
                    [ngStyle]="{'background': opts.checked ? opts.color : '', 'color': opts.checked ? 'white' : ''}"
                    (click)="changeButtom(opts)" [disabled]="formHeader.invalid" nbTooltip="{{opts.nombre}}"
                    nbTooltipPlacement="top" nbTooltipStatus="primary">
                    <nb-icon [icon]="opts.icon"></nb-icon> {{opts.nombre}}
                  </button>
                </div>
              </div>
            </div>
            <div></div>
          </div>

          <strong *ngIf="formHeader?.value?.type_alternative?.nombre">
            <br>
            {{formHeader?.value?.type_alternative?.nombre}}
            <hr>
          </strong>
          <ng-container class="container">
            <div *ngIf="['07'].includes(formHeader?.value?.type_alternative?.codigo)">

              <app-c-multi-option [headParams]="formHeader.value" [itemQuiz]="quiz" (loadings)="changeLoadings($event)"
                (changeSuccess)="changeSuccess($event)" [item]="item"></app-c-multi-option>

            </div>

            <div *ngIf="['01'].includes(formHeader?.value?.type_alternative?.codigo)">

              <app-c-unique-option [headParams]="formHeader.value" [itemQuiz]="quiz" (loadings)="changeLoadings($event)"
              (changeSuccess)="changeSuccess($event)"></app-c-unique-option>

            </div>

            <div *ngIf="['05'].includes(formHeader?.value?.type_alternative?.codigo)">

              <app-c-relation [headParams]="formHeader.value" [itemQuiz]="quiz" (loadings)="changeLoadings($event)"
                (changeSuccess)="changeSuccess($event)">
              </app-c-relation>

            </div>

            <div *ngIf="['02'].includes(formHeader?.value?.type_alternative?.codigo)">

              <app-c-true-false [headParams]="formHeader.value" [itemQuiz]="quiz" (loadings)="changeLoadings($event)"
              (changeSuccess)="changeSuccess($event)"></app-c-true-false>

            </div>

            <div *ngIf="['03'].includes(formHeader?.value?.type_alternative?.codigo)">

              <app-c-open [headParams]="formHeader.value" [itemQuiz]="quiz" (loadings)="changeLoadings($event)"
              (changeSuccess)="changeSuccess($event)"></app-c-open>

            </div>

            <div *ngIf="['04'].includes(formHeader?.value?.type_alternative?.codigo)">

              <app-c-closed [headParams]="formHeader.value" [itemQuiz]="quiz" (loadings)="changeLoadings($event)"
              (changeSuccess)="changeSuccess($event)"></app-c-closed>

            </div>

          </ng-container>
        </nb-card-body>
      </nb-card>

    </div>
    <div [class]="quiz.pluss ? 'col-md-1' : ''">
      <nb-card *ngIf="quiz.pluss" class="m-0 mb-4">
        <nb-card-body class="p-0">
          <!-- <div class="d-flex flex-column" style="max-width: 80px;"> -->
          <button *ngIf="!quiz?.editValid" nbButton fullWidth ghost size="small" class="d-flex flex-column" (click)="changeValueCheck(quiz, i)">
            <nb-icon class="m-0 mb-2" icon="plus-outline" style="height: 24px; width: 24px;"></nb-icon>
            <span style="font-size: 10px;" class="text-center">Añadir<br>pregunta</span>
          </button>
          <button *ngIf="quiz?.nivel === 2" nbButton fullWidth ghost size="small" class="d-flex flex-column" (click)="changeValueEdit(quiz)">
            <nb-icon class="m-0 mb-2" icon="edit-outline" style="height: 24px; width: 24px;"></nb-icon>
            <span style="font-size: 10px;" class="text-center">Editar<br>pregunta</span>
          </button>
          <button *ngIf="quiz?.nivel === 1" nbButton fullWidth ghost size="small" class="d-flex flex-column" (click)="changeSection(quiz, 'UPDATE', i)">
            <nb-icon class="m-0 mb-2" icon="edit-outline" style="height: 24px; width: 24px;"></nb-icon>
            <span style="font-size: 10px;" class="text-center">Editar<br>sección</span>
          </button>
          <button *ngIf="quiz?.checked" nbButton fullWidth ghost size="small" class="d-flex flex-column" (click)="changeCancel(quiz)">
            <nb-icon class="m-0 mb-2" icon="close-outline" style="height: 24px; width: 24px;"></nb-icon>
            <span style="font-size: 10px;" class="text-center">Cancel</span>
          </button>
          <button *ngIf="quiz?.ultimo" nbButton fullWidth ghost size="small" class="d-flex flex-column" (click)="changeSection(quiz, 'NEW', i)">
            <nb-icon class="m-0 mb-2" icon="npm-outline" style="height: 24px; width: 24px;"></nb-icon>
            <span class="text-center" style="line-height: 1.5; font-size: 10px;">Añadir<br>sección</span>
          </button>
          <!-- </div> -->
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
</div>
</div>
<!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" >
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
</div> -->