.padre  {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;

}
.padreHover {
    cursor: pointer;
}
.hijo {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}
.hijoHover {
    cursor: pointer;
}
.nieto {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}
.nietoHover {
    cursor: pointer;
    :hover {
        background-color: #f5f5f5;
    }
}
.nietoHoverBlock {
    background: rgb(196, 195, 195);
    pointer-events: none;
    cursor: not-allowed;
}
.section_class{
  padding: 15px 10px 15px 25px;
}
.section_class:hover{
  background-color: #D2D7DD;
}
.section_class_element{
  padding: 5px 10px 5px 35px;

}
.section_class_element:hover {
  background-color: #f5f5f5;
}

