<div [nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large">
<nb-card style="margin-bottom: 3px;" *ngFor="let item of unitsAndTopics" class="padreHover">
    <nb-card-header class="padre" (click)="selectedUnit(item)">
        <div class="row">
            <div class="col-md-11" style="font-size: 11px; text-transform: uppercase;">{{item.nombre}}</div>
            <div class="col-md-1 text-center">
                <nb-icon *ngIf="item?.checked" icon="arrow-back-outline" status="warning" style="cursor: pointer" (click)="backUnits($event, item)"></nb-icon>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="item?.checked" style="padding-right: 0px;">
        <nb-card *ngFor="let topis of item?.topics" style="margin-bottom: 2px;" class="hijoHover">
            <nb-card-header  class="hijo" (click)="selectTopic(topis, item)">
                <div class="row">
                    <div class="col-md-11" style="font-size: 10px; text-transform: uppercase;">{{topis.nombre}}</div>
                    <div class="col-md-1 text-center">
                        <nb-icon *ngIf="topis?.checked" icon="arrow-back-outline" status="warning" style="cursor: pointer" (click)="backTopics($event, topis, item)"></nb-icon>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body *ngIf="arrElemt?.length>0" style="padding-right: 0px;">
                <nb-card *ngFor="let el of arrElemt" style="margin-bottom: 4px;" class="nietoHover">
                    <nb-card-header  class="nieto">
                        <div style="font-size: 11px;">{{el?.titulo}}</div>
                    </nb-card-header>
                </nb-card>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
<code>{{unitsAndTopics | json}}</code>
</div>