@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
    // add your variables here like:
        header-background-color: color-primary-700,
        header-text-color: color-basic-100,
        header-shadow: none,

        toastr-success-background-color: #2e7d32,
        toastr-success-border-color: #005005,
        toastr-destroyable-success-hover-background-color: #2e7d32,
        toastr-destroyable-success-hover-border-color: #005005,

        layout-padding: 1rem,

        color-primary-100: #F9DDD9,
        color-primary-200: #F4B6B4,
        color-primary-300: #DF878E,
        color-primary-400: #C06171,
        color-primary-500: #96344E,
        color-primary-600: #812646,
        color-primary-700: #6C1A3F,
        color-primary-800: #571037,
        color-primary-900: #480932,
        color-primary-transparent-100: rgba(150, 52, 78, 0.08),
        color-primary-transparent-200: rgba(150, 52, 78, 0.16),
        color-primary-transparent-300: rgba(150, 52, 78, 0.24),
        color-primary-transparent-400: rgba(150, 52, 78, 0.32),
        color-primary-transparent-500: rgba(150, 52, 78, 0.4),
        color-primary-transparent-600: rgba(150, 52, 78, 0.48),
        color-success-100: #FDF9E1,
        color-success-200: #FCF3C5,
        color-success-300: #F6E8A5,
        color-success-400: #EEDA8C,
        color-success-500: #E3C767,
        color-success-600: #C3A54B,
        color-success-700: #A38533,
        color-success-800: #836620,
        color-success-900: #6C5013,
        color-success-transparent-100: rgba(227, 199, 103, 0.08),
        color-success-transparent-200: rgba(227, 199, 103, 0.16),
        color-success-transparent-300: rgba(227, 199, 103, 0.24),
        color-success-transparent-400: rgba(227, 199, 103, 0.32),
        color-success-transparent-500: rgba(227, 199, 103, 0.4),
        color-success-transparent-600: rgba(227, 199, 103, 0.48),
        color-info-100: #C7F9E9,
        color-info-200: #91F3DC,
        color-info-300: #57DBC7,
        color-info-400: #2DB7AE,
        color-info-500: #008487,
        color-info-600: #006774,
        color-info-700: #004E61,
        color-info-800: #00384E,
        color-info-900: #002940,
        color-info-transparent-100: rgba(0, 132, 135, 0.08),
        color-info-transparent-200: rgba(0, 132, 135, 0.16),
        color-info-transparent-300: rgba(0, 132, 135, 0.24),
        color-info-transparent-400: rgba(0, 132, 135, 0.32),
        color-info-transparent-500: rgba(0, 132, 135, 0.4),
        color-info-transparent-600: rgba(0, 132, 135, 0.48),
        color-warning-100: #FDF3CB,
        color-warning-200: #FCE597,
        color-warning-300: #F8D063,
        color-warning-400: #F1BA3C,
        color-warning-500: #E89A00,
        color-warning-600: #C77D00,
        color-warning-700: #A76300,
        color-warning-800: #864B00,
        color-warning-900: #6F3A00,
        color-warning-transparent-100: rgba(232, 154, 0, 0.08),
        color-warning-transparent-200: rgba(232, 154, 0, 0.16),
        color-warning-transparent-300: rgba(232, 154, 0, 0.24),
        color-warning-transparent-400: rgba(232, 154, 0, 0.32),
        color-warning-transparent-500: rgba(232, 154, 0, 0.4),
        color-warning-transparent-600: rgba(232, 154, 0, 0.48),
        color-danger-100: #FCE4D3,
        color-danger-200: #F9C3A9,
        color-danger-300: #ED977B,
        color-danger-400: #DB6D57,
        color-danger-500: #C43427,
        color-danger-600: #A81C1C,
        color-danger-700: #8D131D,
        color-danger-800: #710C1C,
        color-danger-900: #5E071C,
        color-danger-transparent-100: rgba(196, 52, 39, 0.08),
        color-danger-transparent-200: rgba(196, 52, 39, 0.16),
        color-danger-transparent-300: rgba(196, 52, 39, 0.24),
        color-danger-transparent-400: rgba(196, 52, 39, 0.32),
        color-danger-transparent-500: rgba(196, 52, 39, 0.4),
        color-danger-transparent-600: rgba(196, 52, 39, 0.48)
), light, default);

$nb-themes: nb-register-theme((
    // add your variables here like:
        header-shadow: none,

        toastr-success-background-color: #2e7d32,
        toastr-success-border-color: #005005,
        toastr-destroyable-success-hover-background-color: #2e7d32,
        toastr-destroyable-success-hover-border-color: #005005,

        layout-padding: 1rem,

        color-primary-100: #F9DDD9,
        color-primary-200: #F4B6B4,
        color-primary-300: #DF878E,
        color-primary-400: #C06171,
        color-primary-500: #96344E,
        color-primary-600: #812646,
        color-primary-700: #6C1A3F,
        color-primary-800: #571037,
        color-primary-900: #480932,
        color-primary-transparent-100: rgba(150, 52, 78, 0.08),
        color-primary-transparent-200: rgba(150, 52, 78, 0.16),
        color-primary-transparent-300: rgba(150, 52, 78, 0.24),
        color-primary-transparent-400: rgba(150, 52, 78, 0.32),
        color-primary-transparent-500: rgba(150, 52, 78, 0.4),
        color-primary-transparent-600: rgba(150, 52, 78, 0.48),
        color-success-100: #FDF9E1,
        color-success-200: #FCF3C5,
        color-success-300: #F6E8A5,
        color-success-400: #EEDA8C,
        color-success-500: #E3C767,
        color-success-600: #C3A54B,
        color-success-700: #A38533,
        color-success-800: #836620,
        color-success-900: #6C5013,
        color-success-transparent-100: rgba(227, 199, 103, 0.08),
        color-success-transparent-200: rgba(227, 199, 103, 0.16),
        color-success-transparent-300: rgba(227, 199, 103, 0.24),
        color-success-transparent-400: rgba(227, 199, 103, 0.32),
        color-success-transparent-500: rgba(227, 199, 103, 0.4),
        color-success-transparent-600: rgba(227, 199, 103, 0.48),
        color-info-100: #C7F9E9,
        color-info-200: #91F3DC,
        color-info-300: #57DBC7,
        color-info-400: #2DB7AE,
        color-info-500: #008487,
        color-info-600: #006774,
        color-info-700: #004E61,
        color-info-800: #00384E,
        color-info-900: #002940,
        color-info-transparent-100: rgba(0, 132, 135, 0.08),
        color-info-transparent-200: rgba(0, 132, 135, 0.16),
        color-info-transparent-300: rgba(0, 132, 135, 0.24),
        color-info-transparent-400: rgba(0, 132, 135, 0.32),
        color-info-transparent-500: rgba(0, 132, 135, 0.4),
        color-info-transparent-600: rgba(0, 132, 135, 0.48),
        color-warning-100: #FDF3CB,
        color-warning-200: #FCE597,
        color-warning-300: #F8D063,
        color-warning-400: #F1BA3C,
        color-warning-500: #E89A00,
        color-warning-600: #C77D00,
        color-warning-700: #A76300,
        color-warning-800: #864B00,
        color-warning-900: #6F3A00,
        color-warning-transparent-100: rgba(232, 154, 0, 0.08),
        color-warning-transparent-200: rgba(232, 154, 0, 0.16),
        color-warning-transparent-300: rgba(232, 154, 0, 0.24),
        color-warning-transparent-400: rgba(232, 154, 0, 0.32),
        color-warning-transparent-500: rgba(232, 154, 0, 0.4),
        color-warning-transparent-600: rgba(232, 154, 0, 0.48),
        color-danger-100: #FCE4D3,
        color-danger-200: #F9C3A9,
        color-danger-300: #ED977B,
        color-danger-400: #DB6D57,
        color-danger-500: #C43427,
        color-danger-600: #A81C1C,
        color-danger-700: #8D131D,
        color-danger-800: #710C1C,
        color-danger-900: #5E071C,
        color-danger-transparent-100: rgba(196, 52, 39, 0.08),
        color-danger-transparent-200: rgba(196, 52, 39, 0.16),
        color-danger-transparent-300: rgba(196, 52, 39, 0.24),
        color-danger-transparent-400: rgba(196, 52, 39, 0.32),
        color-danger-transparent-500: rgba(196, 52, 39, 0.4),
        color-danger-transparent-600: rgba(196, 52, 39, 0.48)
), dark, dark);
