<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large"
    nbSpinnerMessage="Procesando información">
    <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
        <div class=" d-flex align-items-center justify-content-between">
            <div>
                MATRICULAR
            </div>
            <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="formHeader">
            <div class="row">
                <label class="label col-md-3">Curso:</label>
                <div class="col-md-7">
                    <strong>{{item?.nombre}}</strong>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label col-md-3">Códigos</label>
                <div class="col-md-7">
                    <label class="label">Ingrese el código y presione enter:</label><br>
                    <!-- <textarea type="text" placeholder="000000000,00000000,00000000,00000000" nbInput fullWidth fieldSize="small" formControlName="codigos"></textarea> -->
                    <!-- <nb-form-field> -->
                    <nb-tag-list (tagRemove)="onTagRemove($event)">
                        <nb-tag *ngFor="let tree of trees" [text]="tree" removable status="info" appearance="outline" text="info" size="tiny"></nb-tag>
                        <input type="text" autocomplete="false" nbTagInput  fullWidth class="tags" fieldSize="small">
                    </nb-tag-list>
                    <button  nbButton size="small" (click)="onTagAdd()" style="visibility: hidden"></button>
                <!-- </nb-form-field> -->
                    <!-- <control-messages [control]="formHeader.get('codigos')"></control-messages> -->
                </div>
                <div class="col-md-2">
                    <button nbButton size="small" status="warning" fullWidth [disabled]="trees.size<=0" (click)="procesarCodigos()">Procesar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="label col-md-3">Lista verificada:</label>
                <div class="col-md-7 table-responsive">
                    <table class="table table-sm">
                        <thead style="font-size: 12px;">
                            <tr>
                                <th style="width: 30px;" class="text-center">#</th>
                                <th>Código</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody style="max-height: 5px;">
                            <tr *ngFor="let item of estudVerList; let i = index" style="font-size: 11px;">
                                <td class="text-center" [ngStyle]="{'background': item.estado === 0 ? 'red' : item.estado === 1 ? 'rgb(26, 174, 159)' : item.estado === 2 ? 'rgb(120, 136, 150)' : '', 'color': 'white'}">
                                    {{i+1}}
                                </td>
                                <td>{{item.codigo}}</td>
                                <td>{{item.nombres_completos}}</td>
                            </tr>
                        </tbody>
                        <br>
                        <tfoot style="font-size: 10px;" *ngIf="estudVerList?.length>0">
                            <tr>
                                <td colspan="3" style="color: red; font-weight: bold;">Los códigos en rojo están equivocados!</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="color: rgb(120, 136, 150); font-weight: bold;">El alumno ya esta matriculado</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="color: rgb(26, 174, 159); font-weight: bold;">Alumnos a matricular</td>
                            </tr>
                        </tfoot>
                        <tfoot style="font-size: 10px;" *ngIf="estudVerList?.length<=0">
                            <tr>
                                <td colspan="3">
                                    <nb-alert outline="warning" style="font-size: 10px; text-align: center;">No se encontraron registros</nb-alert>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
        <button nbButton size="small" status="primary" [disabled]="estudVerList?.length<=0" (click)="matricularCodigos()">Matricular</button>
    </nb-card-footer>
</nb-card>