<nb-card class="m-0 h-100 border-0" style="border-radius: 15px" [nbSpinner]="loading" nbSpinnerStatus="primary"
    nbSpinnerSize="small">
    <nb-card-header>
        <div class="d-flex">
            <nb-icon icon="bell-outline" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
            <strong style="padding-top: 7px">NOTICIAS</strong>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" style="padding: 0px">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button nbButton size="small" fullWidth status="primary" (click)="crearView()">Crear</button>
            </div>
        </div>
        <hr>
        <nb-tabset>
            <nb-tab tabTitle="Notcias activas">
              <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 1px">#</th>
                            <th>Título</th>
                            <th>Contenido</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Tipo</th>
                            <th>Filtro</th>
                            <th style="width: 1px" colspan="2">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listNews; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.titulo}}</td>
                            <td>{{item.contenido}}</td>
                            <td>{{item.fecha_inicio}}</td>
                            <td>{{item.fecha_fin}}</td>
                            <td>{{item.type_filtro}}</td>
                            <td>{{item.filtro}}</td>
                            <th style="width: 1px">
                                <button nbButton fullWidth size="tiny" status="warning"><nb-icon icon="eye-outline"></nb-icon></button>
                            </th>
                            <th style="width: 1px">
                                <button nbButton fullWidth size="tiny" status="danger"><nb-icon icon="trash-outline"></nb-icon></button>
                            </th>
                        </tr>
                    </tbody>
                </table>
              </div>
            </nb-tab>
            <nb-tab tabTitle="Noticias futuras">
              Tab content 2
            </nb-tab>
            <nb-tab tabTitle="Noticias pasadas">
                Tab content 2
              </nb-tab>
           </nb-tabset>
    </nb-card-body>
</nb-card>