<nb-card accent="primary" class="scrollModal" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header style="padding-top: 5px; padding-bottom: 5px;">
    <div class=" d-flex align-items-center justify-content-between">
      <div>
        COPIAR O MOVER ELEMENTO
      </div>
      <button nbButton outline status="primary" size="tiny" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div>
      <small class="title">{{item?.titulo}}</small><br><br>
      <small class="description"><strong>Descripción del elemento:</strong> {{item?.descripcion}}</small>
    </div>
    <br>
    <br>
    <div class="container">
      <form [formGroup]="formHeader">

        <div class="d-flex flex-row">
          <nb-toggle formControlName="copiar" status="primary" labelPosition="start" style="margin-right: 10px" [disabled]="formHeader.value.mover">Copiar</nb-toggle>
          <nb-toggle formControlName="mover" status="primary" labelPosition="start" [disabled]="formHeader.value.copiar">Mover</nb-toggle>
        </div>
        <br>
        <div class="row" *ngIf="formHeader.get('copiar').value || formHeader.get('mover').value">
          <div class="col-md-12">
            <label class="label">Cursos</label>
            <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="course_id">
              <nb-option></nb-option>
            </nb-select>
          </div>
          <div class="col-md-12">
            <label class="label">Unidades</label>
            <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="unit_id">
              <nb-option></nb-option>
            </nb-select>
          </div>
          <div class="col-md-12">
            <label class="label">Sesiones</label>
            <nb-select fullWidth size="small" placeholder="Selecciona" formControlName="section_id">
              <nb-option></nb-option>
            </nb-select>
          </div>
        </div>
      </form>
    </div>
  </nb-card-body>
  <nb-card-footer style="text-align: right;">
    <button nbButton size="small" status="primary">Procesar</button>
  </nb-card-footer>
</nb-card>
