<nb-card>
  <nb-card-header>
    <div class="d-flex align-items-center">
      <div class="ms-2">
        <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
        <ng-template #iconTemplate>
          <nb-icon icon="chevron-right"></nb-icon>
        </ng-template>
      </div>
      <div class="ms-auto d-none d-xxl-block me-5">
        <nb-select placeholder="Semestre 2021 - 1" status="primary">
          <nb-option>Semestre 2021 - 1</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>
</nb-card>
