<div class="d-flex align-items-center">
  <div class="ms-2">
    <div class="d-flex align-items-center">
      <nb-icon
        style="width: 62px; height: 52px; color: #b37987"
        icon="book-open-outline"
      ></nb-icon>
      <p class="d-flex flex-column mb-0">
        <span class="mb-2" style="font-size: 28px; font-weight: bold"
          >Mis Asignaturas</span
        >
        <span style="font-size: 14px">2021-1 INGENIERÍA DE SISTEMAS</span>
      </p>
    </div>
  </div>
  <div class="ms-auto d-none d-xxl-block p-3">
    <nb-icon
      class="icon-size text-muted"
      icon="list-outline"
      (click)="curso = 1"
    ></nb-icon>
    <nb-icon
      class="icon-size text-muted"
      icon="grid-outline"
      (click)="curso = 0"
    ></nb-icon>
  </div>
</div>
<hr />
<div class="container-fluid">
  <div class="col-12" *ngIf="curso == 1">
    <app-curso-list></app-curso-list>
  </div>
  <div class="row" *ngIf="curso != 1">
    <div class="col-12">
      <app-curso-card
        class="cursos-card"
        [cursosDocente]="cursosDocente"
        [cursosEstudiante]="cursosEstudiante"
      ></app-curso-card>
    </div>
  </div>
</div>
