.cursos-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
}

.icon-size {
  cursor: pointer;
}

.eva-list-outline:hover,
.eva-list-outline:active {
  fill: #b37987;
}
