<nb-card
  class="mb-2 cardd"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage="Procesando información"
>
  <nb-card-body class="p-0">
    <div class="ps-0">
      <div class="d-flex align-items-center">
        <div
          class="d-flex flex-column align-items-center m-0 rounded-start"
          style="background-color: #faf5f6; padding: 12px 20px 12px 20px"
        >
          <span class="fw-bold" style="font-size: 24px">{{
            sesion.fecha_tema | date: "dd"
          }}</span
          ><small style="font-size: 14px; color: #898989">{{
            sesion.fecha_tema | date: "MMM" | titlecase
          }}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <div class="d-flex flex-column ps-3">
            <small class="fw-bold">
              {{ sesion.orden_tema }} - {{ sesion.tema }}
            </small>
            <div class="d-flex align-items-center ms-1">
              <!-- <div *ngFor="let element of sesion.elements"> -->
              <div *ngFor="let element of sesion.elements">
                <app-element
                  [element]="element"
                  (arrayElement)="arrayElement($event)"
                  (loadingsForm)="loadingsForm($event)"
                ></app-element>
              </div>
              <nb-icon
                class="fs-3 me-2"
                icon="arrow-right"
                style="color: #6dcb96"
              ></nb-icon>
            </div>
          </div>
        </div>
        <div
          class="d-flex align-items-center justify-content-end p-0 ms-auto pe-3"
        >
          <div class="ms-6">
            <nb-button-group ghost>
              <button nbButton class="me-2 shadow-sm">
                <nb-icon icon="edit-2-outline" class="fs-4"></nb-icon>
              </button>
            </nb-button-group>
            <nb-button-group>
              <button (click)="open()" nbButton class="shadow-sm">
                <nb-icon icon="plus" class="fs-4"></nb-icon>
              </button>
            </nb-button-group>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="arrayEl.length > 0" class="list-element">
  <div *ngFor="let el of arrayEl; let i = index">
    <ul class="p-0 m-0">
      <li class="ps-4 d-flex justify-content-between">
        <div>
          <h5>{{ i + 1 }}. {{ el.titulo }}</h5>
          <p>{{ el.descripcion }}</p>
        </div>
        <nb-button-group
          class="d-flex align-items-center justify-content-end p-0"
        >
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="people-outline" class="fs-4"></nb-icon>
          </button>
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="eye-outline" class="fs-4"></nb-icon>
          </button>
          <button nbButton class="border-0 shadow-sm me-2">
            <nb-icon icon="edit-2-outline" class="fs-4"></nb-icon>
          </button>
          <button nbButton class="border-0 shadow-sm me-3">
            <nb-icon icon="trash-2-outline" class="fs-4"></nb-icon>
          </button>
        </nb-button-group>
      </li>
    </ul>
  </div>
</nb-card>
