  nb-icon {
    cursor: pointer;
  }

  .cardd:hover {
    background-color: #faf5f6;
  }

  li {
    list-style: none;
  }

  h5 {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    margin: 0;
    color: #934054;
  }

  p {
    font-size: 12px;
    padding: 0px 0px 5px 15px;
    margin: 0;
  }

  .list-element {
    margin-left: 80px;
    padding: 0;
  }

  .list:hover {
    // background-color: red;
  }
