<nb-card
  class="m-0 h-100 border-0"
  style="border-radius: 15px"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="small"
>
  <nb-card-header>
    <div class="d-flex">
      <nb-icon icon="shake-outline" status="primary" style="font-size: 40px"></nb-icon>&nbsp;&nbsp;
      <strong style="padding-top: 7px">SINCRONIZAR INFORMACIÓN CON CANVA</strong>
    </div>
    <hr />
    <div class="row" [formGroup]="formHeader">
      <div class="col-md-4 mb-2 mb-md-0">
        <label class="label">Filial</label>
        <nb-select placeholder="Filial" size="small" status="primary" fullWidth formControlName="sede">
          <nb-option *ngFor="let sede of sedes" [value]="sede" (click)="selectedSede(sede)"
          >{{ sede?.nombre }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-md-4 mb-2 mb-md-0">
        <label class="label">Nivel enseñanza</label>
        <nb-select
          placeholder="Nivel enseñanza"
          size="small"
          status="primary"
          fullWidth
          formControlName="nivel_ensenanza"
        >
          <nb-option *ngFor="let nivel of nivelEnsenanza" [value]="nivel" (click)="selectedNivel(nivel)"
          >{{ nivel?.nombre }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-md-4">
        <label class="label">Facultades</label>
        <nb-select placeholder="Facultades" size="small" status="primary" fullWidth formControlName="facultad">
          <nb-option *ngFor="let fac of facultades" [value]="fac" (click)="selectedFacultad(fac)"
          >{{ fac?.nombre }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-md-8">
        <label class="label">Programa / Estudio</label>
        <nb-select
          placeholder="Programa / Estudio"
          size="small"
          status="primary"
          fullWidth
          formControlName="programa_estudio"
        >
          <nb-option *ngFor="let prog of programa_estudios" [value]="prog" (click)="selectedProgramaEstudio(prog)">
            {{ prog?.name_programa_estudio }}</nb-option
          >
        </nb-select>
      </div>
      <div class="col-md-4">
        <label class="label">Semestre</label>
        <nb-select placeholder="Semestre" size="small" status="primary" fullWidth formControlName="semestre" >
          <nb-option *ngFor="let semester of semestres" (click)="selectSemester(semester)" [value]="semester.id"
          >Semestre - {{ semester?.nombre }}
          </nb-option>
        </nb-select>
        <ng-container *ngIf="validateIdCanva">
          <span style="color: darkred">
            {{validateIdCanva}} - falta sincronizar
          </span>
          <button ngbTooltip="Actualizar" (click)="updateSemesterCanva()" nbButton size="tiny" status="primary">
            <nb-icon icon="refresh-outline"></nb-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body *ngIf="formHeader.value.programa_estudio">
      <div class="row">
        <div class="col">
          <button nbButton size="small" status="primary" nbTooltip="Refresh" (click)="refresh()">Refrescar<nb-icon icon="refresh-outline"></nb-icon></button>
        </div>
      </div>
    <br>
      <div class="row">
        <div class="col-md-6 col-xxl-6">
          <app-v-course [formHeader] = "formHeader.value"
                        [validateIdCanva] = "validateIdCanva"
                        [cursos] = "cursos"
                        [courses_I] = "courses_I"
                        (loadingsForm) = getForm($event)></app-v-course>
        </div>
        <div class="col-md-6 col-xxl-6">
          <app-v-teacher  [formHeader] = "formHeader.value"
                          [validateIdCanva] = "validateIdCanva"
                          [teachers_I] = "teachers_I"
                          [docentes] = "docentes"
                          (loadingsForm) = getForm($event)></app-v-teacher>
        </div>
        <div class="col-md-6 col-xxl-6">
          <app-v-students  [formHeader] = "formHeader.value"
                           [validateIdCanva] = "validateIdCanva"
                           [estudiantes] = "estudiantes"
                           (loadingsForm) = getForm($event)></app-v-students>
        </div>
        <div class="col-md-6 col-xxl-6">
          <app-v-teacher-add-course  [formHeader] = "formHeader.value"
                                     [validateIdCanva] = "validateIdCanva"
                                     [teachers_I] = "teachers_I"
                                     [cursos_docentes] = "cursos_docentes"
                                     (loadingsForm) = getForm($event)></app-v-teacher-add-course>
        </div>

        <div class="col-md-6 col-xxl-6">
          <app-v-enrollment [formHeader] = "formHeader.value"
                            [validateIdCanva] = "validateIdCanva"
                            [enrollments] = "enrollments"
                            [matriculas] = "matriculas"
                            (loadingsForm) = getForm($event)></app-v-enrollment>
        </div>
       <!-- <div class="col-md-6 col-xxl-6">
          <app-v-zoom  [formHeader] = "formHeader.value"></app-v-zoom>
        </div>-->
      </div>
  </nb-card-body>
</nb-card>
